@import '~@ringcentral-integration/widgets/lib/commonStyles/colors.scss';

button.buttonNormal {
  background-color: rgb(245, 246, 251)  !important;
  color: $primary-color !important;
}
button.buttonActive {
  background-color:  $primary-color !important;
  color: $snow !important;
}
button.buttonDisable {
  color: rgba(0, 0, 0, 0.26) !important;
}
