@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/vertical-align';

.button {
  padding: 0 4px !important;
  min-width: 0 !important;
  margin-right: 14px !important;
}

.classic {
  padding: 0 !important;
  margin-right: 6px !important;
}
