@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size.scss';

.root {
  @include full-size;
}
.content {
  @include full-size;
  overflow-y: auto;
  height: 94%;
  max-height: calc(100% - 32px);
  box-sizing: border-box;
}
.countrySelect {
  width: 100%;
  height: 100%;
}
