@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size.scss';
@import '../../lib/commonStyles/layout.scss';
@import '../../lib/commonStyles/fonts.scss';
@import '../../lib/commonStyles/buttons.scss';

.root {
  @include full-size;
}
.content {
  @include full-size;
  overflow-y: auto;
  height: 94%;
  max-height: calc(100% - 32px);
  box-sizing: border-box;
  background-color: white;
  padding: 10px $container-padding-right 10px $container-padding-left;
}

.hint {
  padding: 5px 0px 10px 0px;
  @include primary-font;
}

.select {
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  height: 100%;
}

.iconRotate {
  transform: rotate(-180deg);
  position: absolute;
  top: 5px;
  left: 10px;
}
