@import '../../lib/commonStyles/fonts';
@import '../../lib/commonStyles/colors';

.root {
  box-sizing: border-box;
  background-color: #fff;
}

.root:after {
  content: '\e951';
  font-family: 'dynamics_icon';
  right: 0px;
  line-height: 30px;
  padding: 0px 10px;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.select {
  appearance: none;
  border: none;
  padding: 0;
  padding-right: 32px;
  width: 100%;
  height: 100%;
  color: inherit;
  background-color: transparent;
}
.select::-ms-expand {
  display: none;
}
