@import '~@ringcentral-integration/widgets/lib/commonStyles/colors';
@import '../../../scss/variables.scss';

.item {
  color: $night;
  width: 100%;

  p {
    @include textOverflowEllipsis();
  }
}

.sub {
  font-size: 12px;
}
