@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/fonts.scss';

.root {
  text-align: center;
  display: inline-block;
  padding: 5px 5px;
  box-sizing: border-box;
}

.button {
  width: 63%;
  border-radius: 63%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}

.buttonTitle {
  @include secondary-font;
  font-size: 12px;
  padding: 5px 0;
}

.buttonActive {
  circle {
    fill: $primary-color;
    stroke: $primary-color;
  }
  path {
    fill: #ffffff;
  }
}

.buttonDisabled {
  circle {
    fill: $lightgray;
    stroke: $gray;
  }
  path {
    fill:$primary-color-highlight-solid;
  }
  g {
    cursor: default;
    &:hover {
      circle {
        stroke: $gray;
      }
    }
  }
  .btnSvgGroup {
    cursor: default;
    &:hover {
      .circle {
        stroke: $gray;
      }
    }
  }
}
