@import '../../lib/commonStyles/fonts.scss';
@import '../../lib/commonStyles/colors';

.root {
  @include secondary-font;
  z-index: 11;
  position: absolute;
  top: 0px;
  right: 10px;
}

.badge {
  white-space: nowrap;
  color:$snow;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  padding: 0 12px;

  svg{
    margin-left: 6px;
    position: relative;
    top: 2px;
  }
}

.result{
  color: $snow;
  background: $bigRed;
}
.result:hover {
  background: $darkRed;
}
.result:focus {
  background: $darkRed;
}

.loading{
  color: $snow;
  background: $bigRed;
  svg{
    -webkit-animation:loadingCirle 1s linear infinite;
  }
}

@-webkit-keyframes loadingCirle{
  0%{-webkit-transform:rotate(0deg);}

  25%{-webkit-transform:rotate(90deg);}

  50%{-webkit-transform:rotate(180deg);}

  75%{-webkit-transform:rotate(270deg);}

  100%{-webkit-transform:rotate(360deg);}
}

.loading:hover{
  color: $snow;
  background: $bigRed;
}
.loading:focus{
  color: $snow;
  background: $bigRed;
}
