@import '~ringcentral-widgets/lib/commonStyles/colors';
@import '~ringcentral-widgets/lib/commonStyles/full-size';
@import '~ringcentral-widgets/lib/commonStyles/text-ellipsis';
@import '~ringcentral-widgets/lib/commonStyles/variable.scss';

$icon-color: #757575;

.followInfo {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  span {
    @include text-ellipsis;
    max-width: 130px;
  }

  .splitSign {
    margin: 0 6px;
    &:last-child {
      display: none;
    }
  }

  [sf-classic] & {
    span {
      max-width: 96px;
    }
    flex-direction: column;
    .splitSign {
      display: none;
    }
  }
}
