<div class='rc-panel rc-auth-panel'>
    <div class='rc-panel__header rc-auth-panel__header'>
        <img class='rc-img rc-auth-panel__img' src='./ringcentral_logo.png'>
    </div>
    <div class='rc-panel__content rc-auth-panel__content'>
        <div class='input-panel' data-info='input-panel'>
          <div class='input-panel__flag'>
              <img class='rc-img' data-info='flag' src=''>
          </div>
          <input 
              class='rc-input --clean input-panel__phone' 
              data-info='username' 
              placeholder='username'
              data-event='focus:focus|blur:blur'>
          </input>
        </div>
        <input class='rc-input --round' data-info='extension' placeholder="extension"></input>
        <input class='rc-input --round' data-info='password' placeholder="password" type='password'></input>
        <button class='rc-button --round' data-info='login' data-event='click:login'>Login</button>
        <div class='rc-label'>
            <label for='remember'>Remember me:</label>
            <input id='remember' type='checkbox' data-info='remember' checked>
        </div>
        <div class='rc-label' data-info='error'></div>
    </div>
    <!-- <div class='rc-panel__footer' data-info='footer'></div> -->
    </div>
</div>
<script>
w.register(function() {
    var fade = w.transition('fade')
    this.actions = w.action('interaction');
    this.actions.init = {
        before: function() {},
        method: function(finish) {
            finish();
        },
        after: function() {
            this.props.country = 'United States'
            var t = w.t(this.data.lang)
            var { color, lang, logo } = this.data
            // this.props.dom.login.style['background-color'] = color || '#fff'
            // this.props.dom.logo.src = logo || ''
            this.props.dom.login.textContent = t('login') || 'login'
        }
    }
    this.actions.mount = {
        before: function() {},
        after: function() {
            this.props.dom.username.value = localStorage.getItem('username');
            this.props.dom.extension.value = localStorage.getItem('extension');
            this.props.dom.password.value = localStorage.getItem('password');
            this.props['dropdown'].getData();
            fade.in(this.props.root);
        }
    }
    this.actions.remove = {
        before: function() {
            fade.out(this.props.root);
        }
    }
    this.actions.login = {
        before: function() {
            this.props.dom.login.disabled = true;
            this.props.dom.error.textContent = '';
            this.props.dom.login.classList.add('rc-button-loading');
        },
        method: function(finish) {
            this.props.username = this.props.dom.username.value;
            this.props.extension = this.props.dom.extension.value;
            this.props.password = this.props.dom.password.value;
            if (this.props.country === 'United States')
                this.props.username = '1' + this.props.username;
            return finish();
        },
        after: function() {
            // this.props.dom.login.disabled = false;
            if (this.props.dom.remember.checked) {
                localStorage.setItem('username', this.props.dom.username.value || '');
                localStorage.setItem('extension', this.props.dom.extension.value || '');
                localStorage.setItem('password', this.props.dom.password.value || '');
            }
            
        },
        error: function(err) {
            console.error(err);
            this.props.dom.error.textContent = err.message;
            this.props.dom.login.disabled = false;
        }
    }
    this.actions.showCountry = {
        before: function(event) {
            this.props.dom['country-list'].classList.toggle('display-none');
        }
    }
    this.actions.switchCountry = {
        before: function(event) {
            this.props.dom['country-dropdown'].textContent = event.target.textContent;
            this.props.dom['country-list'].classList.add('display-none');
            this.props.country = event.target.textContent;
        }
    }
    this.actions.focus = {
        before: function(event) {
            this.props.dom['input-panel'].classList.add('--focus')
        }
    }
    this.actions.blur = {
        before: function(event) {
            this.props.dom['input-panel'].classList.remove('--focus')
        }
    }
});
</script>
