<style>
.rc-auth {}
</style>
<div class='rc-panel rc-auth'>
    <div class='rc-pane-header'>
        <h1>Login</h1>
    </div>
    <div class='rc-pane-content'>
        <div class='rc-pane-scrollable '>
            <input class='rc-input' data-info='username' placeholder="username"></input>
            <input class='rc-input' data-info='extension' placeholder="extension"></input>
            <input class='rc-input' data-info='password' placeholder="password"></input>
            <button class='rc-button' data-info='login' data-event='click:login'>Login</button>
            <div class='rc-error-message' data-info='error' data-show='error'></div>
        </div>
    </div>
    <div class='rc-pane-footer' data-info='footer'></div>
</div>
<script>
w.register({
    actions: {
        init: {
            before: function() {},
            method: function(finish) {
                finish();
            },
            after: function() {}
        },
        render: {
            before: function() {},
            after: function() {
                this.props.dom.username.value = localStorage.getItem('username');
                this.props.dom.extension.value = localStorage.getItem('extension');
                this.props.dom.password.value = localStorage.getItem('password');

            }
        },
        login: {
            before: function(d) {
                this.props.dom.login.disabled = true;
                this.props.dom.error.textContent = '';
                this.props.dom.login.classList.add('rc-button-loading');
                loading(this.props.dom.footer, 300);
            },
            method: function(finish, d) {
                return finish();
            },
            after: function(d) {
                this.props.dom.login.disabled = false;
                localStorage.setItem('username', this.props.dom.username.value || '');
                localStorage.setItem('extension', this.props.dom.extension.value || '');
                localStorage.setItem('password', this.props.dom.password.value || '');
            }
        }
    }
});

function loading(panel, height) {
    panel.style.height = height + 'px';
}
</script>
