<template>
    <div class='rc-panel rc-auth-panel'>
        <div class='rc-panel__header rc-auth-panel__header rc-auth-panel__header--color'>
            <img    class='rc-img rc-auth-panel__img'
                    src='./ringcentral_logo.png'
                    data-info='logo'>
        </div>
        <div class='rc-panel__content rc-auth-panel__content rc-auth-panel__content--color'>
            <div data-info='user-info'>
                <input 
                    class='rc-input --round' 
                    data-info='username' 
                    placeholder='username'>
                </input>
                <input 
                    class='rc-input --round' 
                    data-info='extension'
                    placeholder="extension"
                    ></input>
                <input 
                    class='rc-input --round' 
                    data-info='password'
                    placeholder="password"
                    type='password'>
                </input>
            </div>
            <div class='button-panel'>
                <button 
                    class='rc-button --round rc-auth-panel__button rc-auth-panel__button--color' 
                    data-info='external-login-button'>Third party
                </button>
                <button 
                    class='rc-button --round rc-auth-panel__button rc-auth-panel__button--color' 
                    data-info='login-button'>Login
                </button>
            </div>
            <div class='rc-label'>
                <label for='remember'>Remember me:</label>
                <input id='remember' type='checkbox' data-info='remember' checked>
            </div>
            <div class='rc-label' data-info='error'></div>
        </div>
        <!-- <div class='rc-panel__footer' data-info='footer'></div> -->
        </div>
    </div>
</template>
<script>
var fade = w.transition('fade')

this.props = {
    country: 'United States',
    username: null,
    extension: null,
    password: null,
}
this.actions = {
    init: {
        before: function() {
        },
        method: function(finish) {
            finish()
        },
        after: function() {
            var t = w.t(this.data.lang)
            var {color, lang, logo} = this.data
            this.dom['login-button'].style['background-color'] = color || '#fff'
            this.dom.logo.src = logo || './ringcentral_logo.png'
            this.dom['login-button'].textContent = t('login') || 'login'
        }
    },
    mount: {
        before: function() {},
        after: function() {
            this.dom.username.value = localStorage.getItem('username')
            this.dom.extension.value = localStorage.getItem('extension')
            this.dom.password.value = localStorage.getItem('password')

            if (this.data.external) {
                this.dom['login-button'].classList.add('display-none')
                this.dom['user-info'].classList.add('display-none')

            } else {
                this.dom['external-login-button'].classList.add('display-none')
            }

            fade.in(this.root)
        }
    },
    login: {
        before: function() {
            this.dom['login-button'].disabled = true
            this.dom.error.textContent = ''
            this.dom['login-button'].classList.add('rc-button-loading')
        },
        method: function(finish) {
            this.props.username = this.dom.username.value
            this.props.extension = this.dom.extension.value
            this.props.password = this.dom.password.value
            return finish()
        },
        after: function() {
            // this.dom['login-button'].disabled = false;
            if (this.dom.remember.checked) {
                localStorage.setItem('username', this.dom.username.value || '')
                localStorage.setItem('extension', this.dom.extension.value || '')
                localStorage.setItem('password', this.dom.password.value || '')
            }
        },
        error: function(err) {
            console.error(err)
            this.dom.error.textContent = err.message
            this.dom['login-button'].disabled = false
        }
    },
    externalLogin: {
        before: function() {
            this.dom['login-button'].disabled = true
            this.dom.error.textContent = ''
            this.dom['login-button'].classList.add('rc-button-loading')
        },
        method: function(finish) {
            return finish()
        },
        after: function() {
            // this.dom['login-button'].disabled = false
        },
        error: function(err) {
            console.error(err)
            this.dom.error.textContent = err.message
            this.dom['login-button'].disabled = false
        }
    },
    disable: {
        method: function(finish) {}
    },
    warn: {
        method: function(finish, message) {}
    },
    country: {
        method: function(finish, value) {
            if (value) {
                switchCountry.call(this, value)
                return value
            } else {
                // return this.props.country
            }
        }
    }
}
this.on('click', function(e) {
    if (e.target === this.dom['login-button']) this.login()
    if (e.target === this.dom['external-login-button']) this.externalLogin()
    if (e.target === this.dom['']) showCountry.call(this, e.target.textContent)
})
function showCountry() {
    this.dom['country-list'].classList.toggle('display-none')
}

function switchCountry(value) {
    this.dom['country-dropdown'].textContent = value
    this.dom['country-list'].classList.add('display-none')
    this.props.country = value
}

//# sourceURL=auth-panel.html
</script>
<style>
@import "src/styles/variables.css";
@import "src/styles/mixins.css";
$auth-panel-padding: 10px;
$auth-panel-flag-width: 40px;
.rc-auth-panel {
    &__content {
        display: flex;
        flex-direction: column;
        padding: $auth-panel-padding;
        .rc-input {
            margin: 5px 0;
        }
    }
    &__container {
        @mixin block;
    }
    &__header {
        text-align: center;
    }
    &__img {
        width: 60%;
    }
    &__button {
        &--color {

        }
    }

    .input-panel {
        border-radius: $border-radius;
        border: 1px solid $gray;
        &__flag {
            float: left;
            width: $auth-panel-flag-width;
            /* For test, the position is for country flag */
            height: 30px;
            background: #000;
        }
        &__phone {
            float: left;
            width: calc(100% - $auth-panel-flag-width);
        }
        > .rc-input {

        }
    }

    .button-panel {
        /* Move to the bottom of flex container */
        margin-top: auto;
        & > .rc-button {
            margin-top: 10px;
            width: 100%;
        }
    }
}

</style>
