<style>
.auto-complete .candidates {
    position: absolute;
    background-color: #fff;
    width: 228px;
    padding: 2px 0;
    margin-top: 1px;
    border: 1px solid #878787;
    color: #878787;
}
.auto-complete .candidate {
    font-size: 14px;
    padding: 5px 10px;
}
.auto-complete .candidate:hover {
    background-color: #3498db;
    color: #fff;
}
</style>
<div class='auto-complete'>
    <input  class='rc-input'
            placeholder="To: Enter name or number" 
            data-info='input' 
            data-event='input:autoComplete'

            ></input>
    <div data-info='candidates' class='candidates display-none'>
        <div data-info='candidate-template' class='candidate'></div>
    </div>
</div>
<script>
w.register({
    actions: {
        init: {
            before: function() {},
            method: function() {},
            after: function() {}
        },
        render: {
            before: function() {},
            method: function(finish) {
                finish();
            },
            after: function() {
                window.addEventListener('click', (e) => {
                    if (e.target !== this.props.dom.input && !e.target.classList.contains('candidate'))
                        this.hide();
                });
            }
        },
        hide: {
            method: function() {
                this.props.dom.candidates.classList.add('display-none');
            }
        },
        show: {
            method: function() {
                this.props.dom.candidates.classList.remove('display-none');
            }
        },
        autoComplete: {
            before: function() {},
            method: function(finish) {
                return finish();
            },
            after: function(candidates) {
                if (!candidates)
                    return;
                while (this.props.dom.candidates.firstChild)
                    this.props.dom.candidates.removeChild(this.props.dom.candidates.firstChild);
                if (candidates.length > 0)
                    this.show();
                else 
                    this.hide();
                candidates.forEach(candidate => {
                    var template = this.props.dom['candidate-template'].cloneNode(true);
                    template.addEventListener('click', (e) => {
                        this.props.dom.input.value = template.textContent;
                        this.hide();
                    });
                    template.textContent = candidate.from.phoneNumber;
                    this.props.dom.candidates.appendChild(template);
                })
            }
        }
    }

})
</script>
