<div class="rc-pane-header call-log-header">
        Call Log
</div>

<div class="tabs tabs2 badges">
    <a class="tab active" data-info="allCallTab" data-event="click:enableAllCallTab">
        All
    </a>
    <a class="tab" data-info="missedCallTab" data-event="click:enableMissedCallTab">
        Missed
        <!--<span class="badge" ng-if="(counters.calls|removeInboundLeg|filterMissedCalls|filterStarttimeCalls).length">
            {{ (counters.calls|removeInboundLeg|filterMissedCalls|filterStarttimeCalls).length }}
        </span>-->
    </a>
</div>

<div class="rc-pane-scrollable" ng-class="{'clearExpanded':!clearCollapsed}">
    <div data-info="logs">
        
    </div>

</div>