<template>
    <div class='rc-panel rc-call-panel'>
        <section class='rc-panel__header --colored --center'>
            <div class='text-right'>
                Time 00:07
            </div>
            <div>
                <h1>Howard Zhang</h1>
                <h4>From <span>(650)555-1234</span></h4>
            </div>
        </section>
        <section class='rc-panel__content'>
            <div class='rc-call-panel__center control-panel'>
                <h4 class='control-panel__title'>
                    You're on a VoIP call. If your WiFi signal gets weak, switch the call to carrier service.
                </h4>
                <div class='control-panel__line'>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni28"></span>
                            <span class="icon-uni35"></span>
                        </button>
                        <div class='text-center'>Hold</div>
                    </div>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni21"></span>
                            <span class="icon-uni2D"></span>
                        </button>
                        <div class='text-center'>Keypad</div>
                    </div>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni24"></span>
                            <span class="icon-uni30"></span>
                        </button>
                        <div class='text-center'>Record</div>
                    </div>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni26"></span>
                            <span class="icon-uni33"></span>
                        </button>
                        <div class='text-center'>Audio</div>
                    </div>
                </div>
                <div class='control-panel__line'>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni27"></span>
                            <span class="icon-uni34"></span>
                        </button>
                        <div class='text-center'>Flip</div>
                    </div>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni23"></span>
                            <span class="icon-uni2F"></span>
                        </button>
                        <div class='text-center'>Transfer</div>
                    </div>
                    <div class='control-panel__item'>
                        <button class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni22"></span>
                            <span class="icon-uni2E"></span>
                        </button>
                        <div class='text-center'>Park</div>
                    </div>
                </div>
            </div>
            <div class='rc-call-panel__footer'>
                <div class='action-panel'>
                    <button class='rc-button --round action-panel__action'>
                        <span class='icon-uniCE'></span>
                    </button>
                    <button class='rc-button --negative --round action-panel__action' data-event='click:hangup'>
                        <span class='icon-uni44'></span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
w.register(function() {
    var fade = w.transition('fade')
    this.actions = {
        init: {},
        mount: {
            after: function () {
                fade.init(this.props.root)
                fade.in(this.props.root)
            }
        },
        callStarted: {},
        callRejected: {
            after: function() {
                this.unmount()
            }
        },
        callEnded: {
            after: function() {
                this.unmount()
            }
        },
        callFailed: {
            after: function() {
                this.unmount()
            }
        },
        hangup: {
            method: function(finish) {
                return finish()
            },
            after: function() {
                this.unmount()
            }
        }
    }
})
</script>
