<template>
    <div class='rc-panel rc-call-panel'>
        <section data-info='header' class='rc-panel__header --colored --center'>
            <div
                data-info='time-wrapper' 
                class='text-right display-none'>
                <span data-info='time'></span>
            </div>
            <div>
                <h1 data-info='name'>Number</h1>
            </div>
        </section>
        <section data-info='content' class='rc-panel__content'>
            <div class='rc-call-panel__center control-panel' data-info='contral-panel'>
                <div class='control-panel__line'>
                    <div class='control-panel__item'>
                        <button 
                            data-info='hold'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni28"></span>
                            <span class="icon-uni35"></span>
                        </button>
                        <div class='text-center'>Hold</div>
                    </div>
                    <div class='control-panel__item'>
                        <button 
                            data-info='keypad'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni21"></span>
                            <span class="icon-uni2D"></span>
                        </button>
                        <div class='text-center'>Keypad</div>
                    </div>
                    <div class='control-panel__item'>
                        <button 
                            data-info='record'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni24"></span>
                            <span class="icon-Active_Call-33"></span>
                        </button>
                        <div class='text-center'>Record</div>
                    </div>
                    <!-- <div class='control-panel__item'>
                        <button 
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni26"></span>
                            <span class="icon-uni33"></span>
                        </button>
                        <div class='text-center'>Audio</div>
                    </div> -->
                </div>
                <div class='control-panel__line display-none'>
                    <div class='control-panel__item'>
                        <button 
                            data-info='flip'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni27"></span>
                            <span class="icon-uni34"></span>
                        </button>
                        <div class='text-center'>Flip</div>
                    </div>
                    <div class='control-panel__item'>
                        <button 
                            data-info='readyForward'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni23"></span>
                            <span class="icon-uni2F"></span>
                        </button>
                        <div class='text-center'>Forward</div>
                    </div>
                    <div class='control-panel__item'>
                        <button
                            data-info='park'
                            class='rc-button --circle --ghost --dense rc-icon-switch control-panel__button'>
                            <span class="icon-uni22"></span>
                            <span class="icon-uni2E"></span>
                        </button>
                        <div class='text-center'>Park</div>
                    </div>
                </div>
            </div>
            <div class='rc-call-panel__center dialing-panel display-none' data-info='dialing-panel'>
                <div class='rc-dial-pad__line'>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-1'>
                        <div class='dial-button__number'>1</div>
                    </button>
                    <button
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-2'>
                        <div class='dial-button__number'>2</div>
                        <div class='dial-button__symbol'>ABC</div>
                    </button>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-3'>
                        <div class='dial-button__number'>3</div>
                        <div class='dial-button__symbol'>DEF</div>
                    </button>
                </div>
                <div class='rc-dial-pad__line'>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-4'>
                        <div class='dial-button__number'>4</div>
                        <div class='dial-button__symbol'>GHI</div>
                    </button>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-5'>
                        <div class='dial-button__number'>5</div>
                        <div class='dial-button__symbol'>JKL</div>
                    </button>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-6'>
                        <div class='dial-button__number'>6</div>
                        <div class='dial-button__symbol'>MNO</div>
                    </button>
                </div>
                <div class='rc-dial-pad__line'>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-7'>
                        <div class='dial-button__number'>7</div>
                        <div class='dial-button__symbol'>PQRS</div>
                    </button>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-8'>
                        <div class='dial-button__number'>8</div>
                        <div class='dial-button__symbol'>TUV</div>
                    </button>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-9'>
                        <div class='dial-button__number'>9</div>
                        <div class='dial-button__symbol'>WXYZ</div>
                    </button>
                </div>
                <div class='rc-dial-pad__line'>
                    <button 
                        class='rc-button --circle dial-button dial-button--color' 
                        data-info='dial-button-0'>
                        <div class='dial-button__number'>0</div>
                        <div class='dial-button__symbol'>+</div>
                    </button>
                </div>
            </div>
            <div class='advance-panel display-none' data-info='advance-panel'>
                <contact-picker data-info='contact-picker'></contact-picker>
            </div>
            <div class='rc-call-panel__footer'>
                <div class='action-panel'>
                    <button 
                        data-info='mute'
                        class='rc-button --round action-panel__action'>
                        <span class='icon-uniCE'></span>
                    </button>
                    <button 
                        data-info='hangup'
                        class='rc-button --negative --round action-panel__action'>
                        <span class='icon-uni44'></span>
                    </button>
                </div>
            </div>
        </section>
        <div
            data-info='bar' 
            class='bar display-none'>
            <span data-info='bar-name' class='bar__name'>bar</span>
            <span data-info='bar-time' class='bar__time'></span>
        </div>
        <video data-info='local' class='display-none'></video>
        <video data-info='remote' class='display-none'></video>
    </div>
</template>
<script>
var fade = w.transition('fade')
var _interval
var _setAdvancedAction = function(action) {
    if (action === 'forward') {
        var div = document.createElement('div')
        div.innerHTML = 
            `<button 
                data-info='advance-button'
                class='rc-button --ghost advance-panel__button'>
                <span class='icon-uni23'></span>
            </button>`
        div.firstChild.addEventListener('click', e => this.forward())
        this.dom['advance-panel'].appendChild(div.firstChild)
    }
}
this.props = {
    name: null,
    time: 0,
    minimized: false,
    width: 250,
    height: 400,
    target: null,
    remoteVideo: null,
    localVideo: null,
    isMute: false,
    isHold: false,
    isRecord: false,
    isPark: false
}
this.actions = {
    init: {
        after: function() {
            this.props.name = this.data.name
            this.props.width = this.data.width
            this.props.height = this.data.height
            this.props.target = this.data.target
            this.props.remoteVideo = this.dom.remote
            this.props.localVideo = this.dom.local

            this.root.firstChild.style.width = this.props.width + 'px'
            this.root.firstChild.style.height = this.props.height + 'px'
            var callPanel = this
            w.customize(this, 'contact-picker', {
                actions: {
                    autoComplete: {
                        method: function() {
                            console.log(this.props.inputValue);
                            callPanel.props.inputValue = this.props.inputValue
                            return callPanel.queryContacts()
                        }
                    }
                }
            })
        }
    },
    mount: {
        after: function () {
            fade.init(this.root)
            fade.in(this.root)
            this.props.name && this.setName(this.props.name)
            console.log('mount');
            this.getContact().then(result => {
                if (result && result[0]) {
                    this.setName(result[0].name)
                }
            })
        }
    },
    unmount: {
        after: function() {
            this.dom.time.textContent = '0:0'
            this.props.duration = 0
            if (_interval) {
                _interval()
                _interval = null
            }
            // mute
            this.props.isMute = false
            var span1 = document.createElement('span')
            span1.classList.add('icon-uniCE')
            while (this.dom.mute.firstChild)
                this.dom.mute.removeChild(this.dom.mute.firstChild)
            this.dom.mute.appendChild(span1)

            // hold
            this.props.isHold = false
            var span1 = document.createElement('span')
            var span2 = document.createElement('span')
            span1.classList.add('icon-uni28')
            span2.classList.add('icon-uni35')
            while (this.dom.hold.firstChild)
                this.dom.hold.removeChild(this.dom.hold.firstChild)
            this.dom.hold.appendChild(span1)
            this.dom.hold.appendChild(span2)

            // record
            this.props.isRecord = false
            var span1 = document.createElement('span')
            var span2 = document.createElement('span')
            span1.classList.add('icon-uni24')
            span2.classList.add('icon-Active_Call-33')
            while (this.dom.record.firstChild)
                this.dom.record.removeChild(this.dom.record.firstChild)
            this.dom.record.appendChild(span1)
            this.dom.record.appendChild(span2)

            // keypad
            this.dom['contral-panel'].classList.remove('display-none')
            this.dom['dialing-panel'].classList.add('display-none')

            this.props.isPark = false
        }
    },
    getContact: {
        method: function(finish) {
            return finish()
        }
    },
    setName: {
        method: function(finish, value) {
            this.props.name = value
            this.dom.name.textContent = value
            this.dom['bar-name'].textContent = value
        }
    },
    start: {
        after: function(time) {
            this.dom['time-wrapper'].classList.remove('display-none')
            this.props.startTime = Date.now()
            this.props.duration = 0
            var minutes = Math.floor(this.props.duration / 60)
            var seconds = this.props.duration % 60
            this.dom['time'].textContent = `${minutes}:${seconds}`
            // FIXME: NOT accurate
            // TODO: check for real startTime from SIP
            if (_interval) {
                _interval()
                _interval = null
            }
            _interval = (function(self) {
                console.log('set interval');
                var id = setInterval(() => {
                    self.count()
                }, 1000)
                return function() {
                    clearInterval(id)
                }
            }(this))
            
        }
    },
    count: {
        after: function() {
            this.props.duration += 1
            var minutes = Math.floor(this.props.duration / 60)
            var seconds = this.props.duration % 60
            this.dom.time.textContent = `${minutes}:${seconds}`
            this.dom['bar-time'].textContent = `${minutes}:${seconds}`
        }
    },
    ended: {
        after: function() {
            this.unmount()
        }
    },
    hangup: {
        method: function(finish) {
            return finish()
        },
        after: function() {
            this.ended()
        }
    },
    hold: {
        method: function(finish) {
            console.log('ui hold');
            return finish()
        },
        after: function(result) {
            result && (this.props.isHold = result.isOnHold().local)
            console.log('now holding status:' + this.props.isHold);
            if (this.props.isHold) {
                var span1 = document.createElement('span')
                var span2 = document.createElement('span')
                span1.classList.add('icon-uni37')
                span2.classList.add('icon-uni3C')
                while (this.dom.hold.firstChild)
                    this.dom.hold.removeChild(this.dom.hold.firstChild)
                this.dom.hold.appendChild(span1)
                this.dom.hold.appendChild(span2)
            } else {
                var span1 = document.createElement('span')
                var span2 = document.createElement('span')
                span1.classList.add('icon-uni28')
                span2.classList.add('icon-uni35')
                while (this.dom.hold.firstChild)
                    this.dom.hold.removeChild(this.dom.hold.firstChild)
                this.dom.hold.appendChild(span1)
                this.dom.hold.appendChild(span2)
            }
        },
        error: function(e) {
            console.error(e)
            this.props.isHold = e.isOnHold().local
        }
    },
    mute: {
        method: function(finish) {
            console.log('ui mute');
            return finish()
        },
        after: function() {
            this.props.isMute = !this.props.isMute
            if (this.props.isMute) {
                var span1 = document.createElement('span')
                span1.classList.add('icon-uni7B')
                while (this.dom.mute.firstChild)
                    this.dom.mute.removeChild(this.dom.mute.firstChild)
                this.dom.mute.appendChild(span1)
            } else {
                var span1 = document.createElement('span')
                span1.classList.add('icon-uniCE')
                while (this.dom.mute.firstChild)
                    this.dom.mute.removeChild(this.dom.mute.firstChild)
                this.dom.mute.appendChild(span1)
            }
        }
    },
    flip: {
        method: function(finish, number) {
            console.log('ui flip');
            return finish()
        }
    },
    readyForward: {
        method: function(finish, number) {
            console.log('ui forward');
            this.dom['advance-panel'].classList.remove('display-none')
            _setAdvancedAction.call(this, 'forward')
            return finish()
        }
    },
    forward: {
        method: function(finish, number) {
            console.log('forwarding');
            return finish()
        },
        after: function() {
            console.log('after forwarding');
            this.dom['advance-panel'].classList.add('display-none')
        },
        error: function(e) {
            console.error(e);
            this.dom['advance-panel'].classList.add('display-none')
        }
    },
    record: {
        method: function(finish) {
            console.log('ui record');
            return finish()
        },
        after: function() {
            console.log('after record');
            this.props.isRecord = !this.props.isRecord
            if (this.props.isRecord) {
                var span1 = document.createElement('span')
                var span2 = document.createElement('span')
                span1.classList.add('icon-uni30')
                span2.classList.add('icon-uni30')
                while (this.dom.record.firstChild)
                    this.dom.record.removeChild(this.dom.record.firstChild)
                this.dom.record.appendChild(span1)
                this.dom.record.appendChild(span2)
            } else {
                var span1 = document.createElement('span')
                var span2 = document.createElement('span')
                span1.classList.add('icon-uni24')
                span2.classList.add('icon-Active_Call-33')
                while (this.dom.record.firstChild)
                    this.dom.record.removeChild(this.dom.record.firstChild)
                this.dom.record.appendChild(span1)
                this.dom.record.appendChild(span2)
            }
            
        },
        error: function(e) {
            console.error(e)
            // this.props.isRecord = false
        }
    },
    park: {
        method: function(finish) {
            return finish()
        },
        after: function(result) {
            console.log(result);
            this.props.isRecord = true
            var span1 = document.createElement('span')
            var span2 = document.createElement('span')
            span1.classList.add('icon-uni2E')
            span2.classList.add('icon-uni2E')
            while (this.dom.park.firstChild)
                this.dom.park.removeChild(this.dom.park.firstChild)
            this.dom.park.appendChild(span1)
            this.dom.park.appendChild(span2)
            this.props.isPark = true
        },
        error: function(e) {
            console.error(e)
            this.props.isPark = false
        }
    },
    minimize: {
        after: function() {
            this.dom.bar.classList.remove('display-none')
            this.dom.header.classList.add('display-none')
            this.dom.content.classList.add('display-none')
            this.root.firstChild.style.height = 'auto'
            this.props.minimized = true
        }
    },
    resume: {
        after: function() {
            this.dom.bar.classList.add('display-none')
            this.dom.header.classList.remove('display-none')
            this.dom.content.classList.remove('display-none')
            this.root.firstChild.style.height = this.props.height + 'px'
            this.props.minimized = false
        }
    },
    keypad: {
        method: function(finish) {
            this.dom['contral-panel'].classList.add('display-none')
            this.dom['dialing-panel'].classList.remove('display-none')
        }
    },
    queryContacts: {
        method: function(finish) {
            return finish()
        }
    },
    
}
this.on('click', function(e) {
    ['hangup', 'hold', 'mute', 'flip', 'readyForward', 'record', 'keypad', 'park'].forEach(action => {
        if (e.target === this.dom[action] || e.target.parentNode === this.dom[action])
            this[action]()
    })
    if (e.target === this.dom.bar)
        this.resume()
})
//# sourceURL=call-panel.html
</script>
<style>
@import "src/styles/variables.css";
@import "src/styles/mixins.css";
$call-panel-action-btn-width: 130px;
$call-panel-icon-size: 4em;
$call-panel-icon-size-sm: 1.6em;
$dial-pad-button-radius: 3.2em;
$dial-pad-symbol-size: .5em;
$dial-pad-call-button-color: #2ecc71;
.rc-call-panel {
    font-size: .8em;
    &__reply {
        width: 100%;
    }

    &__center {
        /* fill out all flex panel */
        height: 100%;
    }
    &__footer {}

    .rc-panel__content {
        @mixin padding-normal;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &.--min {
            justify-content: flex-start;
        }
    }

    .action-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        &__action {
            width: $call-panel-action-btn-width;
            &:first-child {
                margin-right: 10px;
            }
            > [class^="icon-"] {
                font-size: $call-panel-icon-size-sm;
            }
        }
    }

    .control-panel {
        &__title {
            @mixin padding-small;
        }
        &__line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &__item {
            color: $main-color;
        }
        &__button {
            margin-bottom: 3px;
            > [class^="icon-"] {
                font-size: $call-panel-icon-size;
            }
        }
    }
    .bar {
        width: 100%;
        height: 30px;
        background-color: $red;
        text-align: center;
        line-height: 2;
        color: #fff;
        cursor: pointer;
        &__name {
            margin-right: 10px;
        }
    }
    .dialing-panel,
    .advance-panel {
        @mixin shadow-2;
        position: relative;
        background: #fff;
    }
    .dialing-panel {
        font-size: 1.2em;
    }
    .advance-panel {
        &__button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.rc-dial-pad {
    &__line {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > .dial-button {
            margin: 4px 8px;
            width:  $dial-pad-button-radius;
            height: $dial-pad-button-radius;
            color:          $main-color;
            border-color:   $main-color;

            & > .dial-button__number {
                font-weight: bold;
            }
            & > .dial-button__symbol {
                font-size: $dial-pad-symbol-size;
            }

        }
    }
    &__mask {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > p {
            font-weight: bold;
            text-align: center;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
        }
    }
    .blur {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    .call-button {
        @mixin shadow-1;
        position: absolute;
        top: 2px;
        right: 5px;
        width:  3em;
        height: 3em;
        /* 1: 0.6, same as the panel width: panel height*/
        background-color:   $dial-pad-call-button-color;
        border-color:       $dial-pad-call-button-color;
        &.--active {

        }
        > span {
            color: #fff;
            font-size: 1.2em;
        }
    }
    .pad-container {
        height: 100%;
    }
}

</style>
