<div class="rc-call-log-item" data-info="entry">
    <i data-info="callResult" class="rc-call-log-item__icon"></i>
    <span class="rc-call-log-item__time" data-info="time"></span>
    <div class="rc-call-log-item__body">
        <a class="__contact" data-info="contact">
            <!--Display name or number here-->
        </a>
        <p class="__location" data-info="location"></p>
    </div>
</div>
<script>
w.register(function() {
    this.actions = {
        init: {
            method: function(finish) {
                return finish();
            },
            after: function(item) {
                this.props.item = item;
                if (item.result === 'Missed')
                    this.dom.callResult.classList.add('--missed');
                if (item.direction === 'Outbound') {
                    this.dom.time.innerHTML = item.startTime;
                    if (item.to.name)
                        this.dom.contact.innerHTML = item.to.name;
                    else 
                        this.dom.contact.innerHTML = item.to.phoneNumber;
                    if (item.to.location) 
                        this.dom.location.innerHTML = item.to.location;
                    if (item.result !== 'Missed') 
                        this.dom.callResult.classList.add('--outbound');
                } else {
                    this.dom.time.innerHTML = item.startTime;
                    if (item.from.name) 
                        this.dom.contact.innerHTML = item.from.name;
                    else 
                        this.dom.contact.innerHTML = item.from.phoneNumber;
                    if (item.result !== 'Missed')
                        this.dom.callResult.classList.add('--inbound');
                }
            }
        }
    }
})
</script>
