<div class='rc-panel' data-info='root'>
    <div class='rc-pane-header'>
        <h1>Compose Text</h1>
    </div>
    <div class='rc-pane-content'>
        <div class='rc-pane-scrollable'>
            <dropdown data-info='dropdown'></dropdown>
            <contact-picker data-info='contact-picker'></contact-picker>
            <textarea class='rc-textarea' data-info='text'></textarea>
            <button class='rc-button' data-event='click:send'>Send</button>
        </div>
    </div>
</div>
<script>
w.register(function() {
    this.actions = w.action('interaction');
    this.actions.init = {
        after: function() {
            var composeText = this;
            w.customize(this, 'contact-picker', {
                actions: {
                    autoComplete: {
                        method: function() {
                            return composeText.queryContacts(this.props.inputValue);
                        }
                    }
                }
            })
            w.customize(this, 'dropdown', {
                actions: {
                    getData: {
                        method: function() {
                            return composeText.getOutboundCallerID();
                        },
                        after: function(ids) {
                            ids.forEach(id => this.addItem(id));
                        }
                    },
                    switchTitle: {
                        method: function(text) {
                            composeText.props.fromNumber = text;
                        }
                    }
                }
            })
        }
    }
    this.actions.render = {
        after: function() {
            this.props['dropdown'].getData();
        }
    }
    this.actions.send = {
        method: function(finish) {
            console.debug('send')
            this.props.text = this.props.dom['text'].value;
            this.props.fromNumber = this.props['dropdown'].getSelected();
            this.props.toNumber = this.props['contact-picker'].getInput();
            return finish();
        }
    };
    this.actions.getOutboundCallerID = {
        method: function(finish) {
            return finish();
        }
    }
    this.actions.queryContacts = {
        method: function(finish, queryText) {
            this.props.to = queryText;
            return finish();
        },
    }
})
</script>
