<div class="rc-panel rc-conference --color">
    <div class='rc-panel__header'></div>
    <div class="rc-panel__content rc-conference__content">
        <div class="rc-conference__line">
            <label class="__label --color" data-info="dialInNumberLabel"></label>
            <div class="__value --right" data-info="dialInNumber">
            </div>
        </div>
        <div class="rc-conference__line">
            <label class="__label --color" data-info="hostCodeLabel"></label>
            <div class="__value --right" data-info="hostCode">
            </div>
        </div>
        <div class="rc-conference__line">
            <label class="__label --color" data-info="participantCodeLabel"></label>
            <div class="__value --right" data-info="participantCode">
            </div>
        </div>
        <div class="rc-conference__buttons">
            <button 
                class="rc-button --clean --round __button" 
                data-info="inviteWithTextButton" 
                data-event="click:inviteWithText"
                disabled>
            </button>
            <button 
                class="rc-button --positive --round __button" 
                data-info="joinAsHostButton" 
                data-event="click:joinAsHost"
                disabled>
            </button>
        </div>
    </div>
</div>
<script>
w.register(function(){
    this.actions= {
        init: {
            method: function() {
                this.getConferenceInfo();
            },
            after: function() {
                var t = w.t(this.data.lang);
                this.dom.dialInNumberLabel.textContent = t('conference-dialinnumber-text');
                this.dom.hostCodeLabel.textContent = t('conference-hostcode-text');
                this.dom.participantCodeLabel.textContent = t('conference-participantcode-text');
                this.dom.inviteWithTextButton.textContent = t('conference-invitewithtext-text');
                this.dom.joinAsHostButton.textContent = t('conference-joinashost-text');
            }
        },
        getConferenceInfo: {
            method: function(finish) {
                return Promise.resolve(finish()).then(conferenceInfo => {
                    if (conferenceInfo) {
                        this.props.dialInNumber = conferenceInfo.phoneNumber;
                    }
                    this.props.inviteMessage = 'Test';
                    return conferenceInfo;
                });
            },
            after: function(conferenceInfo) {
                if (conferenceInfo) {
                    this.dom.dialInNumber.textContent = conferenceInfo.phoneNumber;
                    this.dom.hostCode.textContent = conferenceInfo.hostCode;
                    this.dom.participantCode.textContent = conferenceInfo.participantCode;
                    this.enable();
                }
            }
        },
        inviteWithText: {
            method: function(finish) {
                return finish();
            }
        },
        joinAsHost: {
            method: function(finish) {
                return finish();
            }
        },
        enable: {
            method: function() {
                this.dom.inviteWithTextButton.disabled = false
                this.dom.joinAsHostButton.disabled = false
            }
        }
    }
});  
</script>
