<div class="rc-contact-detail">
    <div class="rc-panel__header rc-contact-detail__info">
        <div class="rc-avatar --small __avatar"></div>
        <div class="__name" data-info='displayName'>
        </div>
    </div>
    <!--<section ng-if="contact.company || contact.jobTitle">
        <h2>Contact Info</h2>
        <div class="line" ng-show="contact.company">
            <label>Company</label>

            <div class="value">
                {{ contact.company }}
            </div>
        </div>
        <div class="line" ng-show="contact.jobTitle">
            <label>Title</label>

            <div class="value">
                {{ contact.jobTitle }}
            </div>
        </div>
    </section>-->
    <div class="rc-panel__content">
        <section class="rc-contact-detail__section">
            <div class="rc-contact-detail__section-line">
                <label class="__label">Email</label>
                <div class="__value">
                    colin.liu@ringcentral.com
                </div>
            </div>
        </section>
        <section class="rc-contact-detail__section">
            <div class="rc-contact-detail__section-line">
                <label class="__label">Extension</label>
                <div class="__value">6076</div>
            </div>
            <div class="rc-contact-detail__section-line">
                <label class="__label">Direct Number</label>
                <div class="__value">16508370092</div>
            </div>
        </section>
    </div>    
</div>
<script>
w.register(function(){
    var fade = w.transition('fade')
    this.actions = {
        init: {
            method: function(finish) {
                return finish();
            },
            after: function(contact) {
                if(contact) {
                    this.props.dom.displayName.textContent = contact.name;
                }
                fade.init(this.props.root);
                fade.in(this.props.root);
            }
        }
    };
});
//# sourceURL=contact-detail.html
</script>