<div class="rc-contact-detail">
    <div class="rc-panel__header rc-contact-detail__info">
        <div class="rc-avatar --small __avatar"></div>
        <div class="__name" data-info='displayName'>
        </div>
    </div>
    <div class="rc-panel__content">
        <section class="rc-contact-detail__section" data-info='emails'>
            <!--<div class="rc-contact-detail__section-line">
                <label class="__label">Email</label>
                <div class="__value">
                    colin.liu@ringcentral.com
                </div>
            </div>-->
        </section>
        <section class="rc-contact-detail__section" data-info='phoneNumbers'>
        </section>
    </div>    
</div>
<script>
w.register(function(){
    var fade = w.transition('fade')
    
    function createEmailElements(parent, contact){
        contact.emails.forEach(email => {
            var htmlString = `<div class='rc-contact-detail__section-line'>
                                <label class="__label">Email</label>
                                <div class="__value">
                                    ${email}
                                </div>
                            </div>`;
            var div = document.createElement('div');
            div.innerHTML = htmlString;
            parent.appendChild(div);
        });
    }
    
    function createPhoneNumberElements(parent, contact) {
        var htmlString = `<div class="rc-contact-detail__section-line">
                            <label class="__label">Extension</label>
                            <div class="__value">${contact.extension}</div>
                        </div>`;
        var div = document.createElement('div');
        div.innerHTML = htmlString;
        parent.appendChild(div);         
        contact.phoneNumbers.forEach(number => {
            htmlString = `<div class="rc-contact-detail__section-line">
                            <label class="__label">Direct Number</label>
                            <div class="__value">${number}</div>
                        </div>`;
            div = document.createElement('div');
            div.innerHTML = htmlString;
            parent.appendChild(div);   
        });         
    }
    
    this.actions = {
        init: {
            method: function(finish) {
                return finish();
            },
            after: function(contact) {
                if(contact) {
                    this.dom.displayName.textContent = contact.displayName;
                    createEmailElements(this.dom.emails, contact);
                    createPhoneNumberElements(this.dom.phoneNumbers, contact);
                }
                fade.init(this.root);
                fade.in(this.root);
            }
        }
    };
});
//# sourceURL=contact-detail.html
</script>
