<div class='rc-contact rc-list__item' data-event='click:select'>
    <span class='rc-contact__name rc-tag' data-info='name'></span>
    <span class='rc-contact__value' data-info='value'></span>
</div>
<script>
w.register(function() {
    this.actions = {
        init: {
            method: function(finish){
                return finish();
            },
            after: function(contact){
                this.props.dom.name.textContent = contact.name;
                this.props.dom.value.textContent = contact.value;
            }
        },
        select: {
            method: function(finish){
                this.props.name = this.props.dom.name.textContent;
                this.props.value = this.props.dom.value.textContent;
                return finish();
            }
        }
    }
})
</script>
