<div class='rc-contact-picker'>
    <input  class='rc-input --clean' 
            data-info='input' 
            data-event='input:autoComplete'
            placeholder=''>
    </input>
    <div class='rc-contact-picker__contacts rc-list' data-info='contacts'>
        <contact-picker-item dynamic></contact-picker-item>
    </div>
</div>
<script>
w.register(function() {
    var enlarge = w.transition('enlarge')
    this.props = {
        limit: 10,
        show: false,
        whiteList: null
    }
    this.actions = {
        init:{
            method: function(finish) {
                this.data.whiteList && (this.props.whiteList = this.data.whiteList)
                return finish();
            }
        },
        mount: {
            method: function(finish) {
                finish();
            },
            after: function() {
                enlarge.init(this.dom.contacts)
                document.addEventListener('click', e => {
                    var currentNode = e.target
                    while(currentNode.parentNode) {
                        currentNode = currentNode.parentNode
                        if (currentNode.isEqualNode(this.root) ||
                            (this.props.whiteList && currentNode.isEqualNode(this.props.whiteList)))
                            return
                    }
                    this.hide()
                })
                if (this.data.contact)
                    this.dom.input.value = this.data.contact
            }
        },
        hide: {
            after: function() {
                if (this.props.show) {
                    // delay the hidden process, make options clickable, then hide the panel
                    setTimeout(() => {
                        this.props.show = false;
                        enlarge.out(this.dom.contacts)
                    }, 50)
                }
            }
        },
        show: {
            after: function() {
                if (!this.props.show) {
                    this.props.show = true;
                    enlarge.in(this.dom.contacts)
                }
            }
        },
        getInput: {
            method: function() {
                return this.dom.input.value;
            }
        },
        appendInput: {
            before: function(value) {
                this.dom.input.value += value;
                this.dom.input.focus();
            }
        },
        setInput: {
            before: function(value) {
                this.dom.input.value = value;
                this.dom.input.focus();
            }
        },
        disable: {
            method: function() {
                this.dom.input.readOnly = true
            }
        },
        focus: {
            method: function() {
                this.dom.input.focus();
            }
        },
        autoComplete: {
            method: function(finish) {
                this.props.inputValue = this.dom.input.value;
                return finish()
            },
            after: function(contacts) {
                if (!contacts) return
                while (this.dom.contacts.firstChild)
                    this.dom.contacts.removeChild(this.dom.contacts.firstChild);
                if (contacts.length > 0) this.show()
                else this.hide()
                var parent = this
                var count = this.props.limit
                contacts.forEach(contact => {
                    if(--count) {
                        Schedule.put(1, () => {
                            w('contact-picker-item', {
                                actions: {
                                    init: {
                                        method: function() {
                                            return contact;
                                        }
                                    },
                                    select: {
                                        method: function() {
                                            parent.setInput(this.props.contact.value);
                                            parent.hide();
                                        }
                                    }
                                }
                            }).mount(this.dom.contacts)
                        })
                    }
                })
            }
        }
    }
})
var Emitter = function() {
  this.uid = 0
  this.handlers = []
  for (let i = 0; i < 1000; i ++) this.handlers.push([])
}
Emitter.prototype.on = function(level, callback) {
  this.handlers[level].push({
    id: this.uid ++,
    action: callback
  })
}
Emitter.prototype.emit = function(level, ...args) {
  this.handlers[level].forEach(handler => {
    if (typeof(handler.action) === 'function')
      handler.action(...args)
  })
}
Emitter.prototype.once = function(level, callback) {
  var id = this.uid
  this.on(level, (...args) => {
    callback(...args)
    var handler = this.handlers[level].find(handler => handler.id === id)
    this.handlers[level].splice(this.handlers[level].indexOf(handler), 1)
    // delete handler
  })
}



var rAF = requestAnimationFrame

var Schedule = {}
var queue = []
var counter = 0
var limit = 10
var balance = limit
var goal = 16
var isRunning = false
var accelerate = 1 // for slow start
var multiplier = 2
var hit = false

var scriptStart
var scriptEnd
var styleStart
var styleEnd

var styleDuration
var scriptDuration
var emitter = new Emitter()

for (let i = 0; i < 1000; i ++) queue.push([])


function frame(frameStart) {
  if (!isRunning) return
  // styleEnd = frameStart

  
  styleEnd = frameStart
  styleDuration = styleEnd - styleStart
  scriptDuration = scriptEnd - scriptStart
  scriptStart = now()



  // console.log(styleDuration)
  // console.log(scriptDuration)
  // if (styleDuration < 17) {
    // console.log(styleDuration);
    if ((goal < styleDuration && styleDuration < goal + 1) &&
        styleDuration !== 0) {
      accelerate = accelerate * 2
      limit += accelerate
      balance = limit
    } else if (styleDuration >= goal) {
      hit = true
      accelerate = 1
      limit = Math.floor(limit / 2)
    } else {}
  // } else {
  //   limit = limit * multiplier
  //   // multiplier = multiplier * 2
  // }
  if (limit < 1)
    limit = 1
  // console.log(accelerate);
  // console.log(styleDuration);
  var count = limit
  for (var i = 0; i < queue.length; i ++) {
    if (count < 1) break
    var level = queue[i]
    while (level.length) {
      if (count < 1) break
      counter --
      level.shift()()
      if (!level.length)
        emitter.emit(i)
      count --
    }
    if (i === queue.length - 1 && counter === 0)
      Schedule.stop()
  }

  scriptEnd = now()
  styleStart = frameStart
  rAF(frame)
}

function now() {
  return performance.now() || Date.now()
}
Schedule.stop = function() {
  console.log('stop');
  limit = balance
  accelerate = 1 // for slow start
  multiplier = 2
  isRunning = false
}
Schedule.start = function () {
  scriptStart = 0
  scriptEnd = 0
  styleStart = 0
  styleEnd = 0
  isRunning = true
  rAF(frame)
}
Schedule.put = function(priority, callback, times) {
  if (!times) {
    queue[priority].push(callback)
    counter ++
  }
  else {
    while (times--)  {
      queue[priority].push(callback)
      counter ++
    }
  }
  if (!isRunning)
    Schedule.start()
}
Schedule.on = emitter.on.bind(emitter)
Schedule.once = emitter.once.bind(emitter)

//# sourceURL=contact-picker.html
</script>
