<div class='rc-contact-picker'>
    <input  class='rc-input --clean' 
            data-info='input' 
            data-event='input:autoComplete'
            placeholder=''>
    </input>
    <div class='rc-contact-picker__contacts rc-list' data-info='contacts'>
        <contact-picker-item dynamic></contact-picker-item>
    </div>
</div>
<script>
w.register(function() {
    var enlarge = w.transition('enlarge')
    this.props = {
        limit: 10,
        show: false,
        whiteList: null
    }
    this.actions = {
        init:{
            method: function(finish) {
                this.data.whiteList && (this.props.whiteList = this.data.whiteList)
                return finish();
            }
        },
        mount: {
            method: function(finish) {
                finish();
            },
            after: function() {
                enlarge.init(this.dom.contacts)
                document.addEventListener('click', e => {
                    var currentNode = e.target
                    while(currentNode.parentNode) {
                        currentNode = currentNode.parentNode
                        if (currentNode.isEqualNode(this.root) ||
                            (this.props.whiteList && currentNode.isEqualNode(this.props.whiteList)))
                            return
                    }
                    this.hide()
                })
                if (this.data.contact)
                    this.dom.input.value = this.data.contact
            }
        },
        hide: {
            after: function() {
                if (this.props.show) {
                    // delay the hidden process, make options clickable, then hide the panel
                    setTimeout(() => {
                        this.props.show = false;
                        enlarge.out(this.dom.contacts)
                    }, 50)
                }
            }
        },
        show: {
            after: function() {
                if (!this.props.show) {
                    this.props.show = true;
                    enlarge.in(this.dom.contacts)
                }
            }
        },
        getInput: {
            method: function() {
                return this.dom.input.value;
            }
        },
        appendInput: {
            before: function(value) {
                this.dom.input.value += value;
                this.dom.input.focus();
            }
        },
        setInput: {
            before: function(value) {
                this.dom.input.value = value;
                this.dom.input.focus();
            }
        },
        disable: {
            method: function() {
                this.dom.input.readOnly = true
            }
        },
        focus: {
            method: function() {
                this.dom.input.focus();
            }
        },
        autoComplete: {
            method: function(finish) {
                this.props.inputValue = this.dom.input.value;
                return finish()
            },
            after: function(contacts) {
                console.log(contacts);
                if (!contacts) return
                while (this.dom.contacts.firstChild)
                    this.dom.contacts.removeChild(this.dom.contacts.firstChild);
                if (contacts.length > 0) this.show()
                else this.hide()
                var parent = this
                var count = this.props.limit
                contacts.forEach(contact => {
                    if(--count) {
                        w('contact-picker-item', {
                            actions: {
                                init: {
                                    method: function() {
                                        return contact;
                                    }
                                },
                                select: {
                                    method: function() {
                                        parent.setInput(this.props.contact.value);
                                        parent.hide();
                                    }
                                }
                            }
                        }).mount(this.dom.contacts)
                    }
                })
            }
        }
    }
})
//# sourceURL=contact-picker.html
</script>
