<template>
    <div class='rc-panel rc-dial-pad'>
        <div class='rc-panel__header rc-panel__header--colored' data-info='header'>
            <contact-picker data-info='contact-picker'></contact-picker>
        </div>
        <button 
            class='rc-button rc-button--circle call-button call-button--color' 
            data-info='callout'>
            <span class='icon-ActionButtons_Filters'></span>
        </button>
        <div class='pad-container' data-info='container'>
            <div class='rc-panel__content'>
                <dropdown data-info='dropdown'></dropdown>
                <div data-info='dialing-panel' class='margin-top-2'>
                    <div class='rc-dial-pad__line'>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-1'>
                            <div class='dial-button__number'>1</div>
                        </button>
                        <button
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-2'>
                            <div class='dial-button__number'>2</div>
                            <div class='dial-button__symbol'>ABC</div>
                        </button>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-3'>
                            <div class='dial-button__number'>3</div>
                            <div class='dial-button__symbol'>DEF</div>
                        </button>
                    </div>
                    <div class='rc-dial-pad__line'>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-4'>
                            <div class='dial-button__number'>4</div>
                            <div class='dial-button__symbol'>GHI</div>
                        </button>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-5'>
                            <div class='dial-button__number'>5</div>
                            <div class='dial-button__symbol'>JKL</div>
                        </button>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-6'>
                            <div class='dial-button__number'>6</div>
                            <div class='dial-button__symbol'>MNO</div>
                        </button>
                    </div>
                    <div class='rc-dial-pad__line'>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-7'>
                            <div class='dial-button__number'>7</div>
                            <div class='dial-button__symbol'>PQRS</div>
                        </button>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-8'>
                            <div class='dial-button__number'>8</div>
                            <div class='dial-button__symbol'>TUV</div>
                        </button>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-9'>
                            <div class='dial-button__number'>9</div>
                            <div class='dial-button__symbol'>WXYZ</div>
                        </button>
                    </div>
                    <div class='rc-dial-pad__line'>
                        <button 
                            class='rc-button rc-button--circle dial-button dial-button--color' 
                            data-info='dial-button-0'>
                            <div class='dial-button__number'>0</div>
                            <div class='dial-button__symbol'>+</div>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class='rc-dial-pad__mask display-none' data-info='disabled-mask'>
            <p>Your account doesn't not have Web Phone permission.</p>
        </div>
    </div>
</template>
<script>
var fade = w.transition('fade')
this.data = {
    autoComplete: true,
    outboundID: true
}
this.props = {
    fromNumber: null,
    toNumber: null,
    isListenToKeyboard: false,
    remoteVideo: null,
    localVideo: null,
    pad: true
}
this.actions = {
    init: {
        before: function() {},
        method: function() {},
        after: function() {
            var dialPad = this
            var {color, lang, logo} = this.data
            this.props.remoteVideo = this.data.remoteVideo
            this.props.localVideo = this.data.localVideo
            this.data.pad && (this.props.pad = this.data.pad)
            if (!this.props.pad)
                this.dom.container.classList.add('display-none')
            w.customize(this, 'contact-picker', {
                data: {
                    whiteList: [
                        this.dom['dial-button-0'],
                        this.dom['dial-button-1'],
                        this.dom['dial-button-2'],
                        this.dom['dial-button-3'],
                        this.dom['dial-button-4'],
                        this.dom['dial-button-5'],
                        this.dom['dial-button-6'],
                        this.dom['dial-button-7'],
                        this.dom['dial-button-8'],
                        this.dom['dial-button-9'],
                    ]
                },
                actions: {
                    autoComplete: {
                        method: function() {
                            if (!dialPad.data.autoComplete)
                                return []
                            return dialPad.queryContacts(this.props.inputValue)
                        }
                    },
                    setInput: {
                        after: function() {
                            if (dialPad.props.toNumber !== this.dom.input.value)
                                dialPad.numberChange()
                        }
                    }
                }
            })
            w.customize(this, 'dropdown', {
                actions: {
                    getData: {
                        method: function() {
                            return dialPad.getOutboundCallerID()
                        }
                    },
                    switchTitle: {
                        method: function(text) {
                            dialPad.props.fromNumber = text
                        }
                    }
                }
            })
        }
    },
    mount: {
        before: function() {},
        method: function() {},
        after: function() {
            this.refs['dropdown'].getData()
            this.refs['contact-picker'].focus()
            if (!this.data.outboundID)
                this.dom.dropdown.classList.add('display-none')
            this.listenToKeyboard(true)
            // fade.in(this.root);
        }
    },
    unmount: {
        method: function(finish) {
            this.listenToKeyboard(false)
        }
    },
    dialing: {
        method: function(finish, value) {
            var cp = this.refs['contact-picker']
            cp.appendInput(value)
            cp.autoComplete()
            this.props.toNumber = cp.dom.input.value
            return finish()
        },
        after: function() {
            this.refs['contact-picker'].dom.input.focus()
        }
    },
    callout: {
        before: function() {
            this.dom.callout.classList.add('rc-button--active')
        },
        method: function(finish, event) {
            // TODO: Do some basic validation.
            console.log('callout dialpad');
            if (!this.props.toNumber || !this.props.fromNumber) {
                console.error('from- or to-Number is missing.')
                throw Error('from- or to-Number is missing.')
            }
            var cp = this.refs['contact-picker']
            this.props.toNumber = cp.dom.input.value
            return finish()
        },
        after: function() {
            console.log('callout dialpad after');
            setTimeout(() => this.dom.callout.classList.remove('rc-button--active'), 1000)
        },
        // error: function(err) {
        //     console.error(err);
        //     this.dom.callout.classList.remove('--active')
        // }
    },
    disable: {
        method: function(finish) {
            return finish()
        },
        after: function() {
            this.dom['disabled-mask'].classList.remove('display-none')
            this.dom['container'].classList.add('blur')
        }
    },
    getOutboundCallerID: {
        method: function(finish) {
            return finish()
        }
    },
    queryContacts: {
        method: function(finish, queryText) {
            this.props.toNumber = queryText
            return finish()
        }
    },
    number: {
        method: function(finish, value) {
            this.refs['contact-picker'].setInput(value)
            // avoid cyclic calling
            if (this.props.toNumber !== this.refs['contact-picker'].dom.input.value)
                this.numberChange()
        }
    },
    numberChange: {
        method: function(finish) {
            // fake event system
            this.props.toNumber = this.refs['contact-picker'].dom.input.value
        }
    },
    listenToKeyboard: {
        method: function(finish, value) {
            this.props.isListenToKeyboard = !!value
            return finish()
        }
    }
}
this.on('click', function(e) {
    for (let i = 0; i < 10; i ++) {
        if (e.target === this.dom[`dial-button-${i}`] ||
            e.target.parentNode === this.dom[`dial-button-${i}`]) this.dialing(i)
    }
    if (e.target === this.dom.callout ||
        e.target.parentNode === this.dom.callout) this.callout()
})
// this.on('keydown', 'document', function(e) {
//     if (!e.target.isEqualNode(this.refs['contact-picker'].dom.input) && 
//         this.props.isListenToKeyboard) {
//         this.dialing('')
//     }
// })

//# sourceURL=dial-pad.html
</script>
<style>
@import "src/styles/variables.css";
@import "src/styles/mixins.css";
$dial-pad-button-radius: 3.2em;
$dial-pad-symbol-size: .5em;
$dial-pad-call-button-color: #2ecc71;
.rc-dial-pad {

    &__line {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > .dial-button {
            margin: 4px 8px;
            width:  $dial-pad-button-radius;
            height: $dial-pad-button-radius;
            color:          $main-color;
            border-color:   $main-color;

            & > .dial-button__number {
                font-weight: bold;
            }
            & > .dial-button__symbol {
                font-size: $dial-pad-symbol-size;
            }
            &:hover {
                background-color:   $main-color;
                color:              #fff;
            }
        }
    }
    &__mask {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > p {
            font-weight: bold;
            text-align: center;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .blur {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    .call-button {
        @mixin shadow-1;
        position: absolute;
        top: 2px;
        right: 5px;
        width:  3em;
        height: 3em;
        /* 1: 0.6, same as the panel width: panel height*/
        background-color:   $dial-pad-call-button-color;
        border-color:       $dial-pad-call-button-color;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &--active {

        }
        &:hover {
            @mixin shadow-hover;
        }
        > span {
            color: #fff;
            font-size: 1.2em;
        }
    }
    .pad-container {
        height: 100%;
    }
}


</style>
