<div class='rc-panel'>
    <div class='rc-pane-header'>
        <h1>Dialer</h1>
    </div>
    <div class='rc-pane-content'>
        <div class='rc-pane-scrollable'>
            <div data-info='number'>
                <auto-complete></auto-complete>
            </div>
            <div class='rc-dial-wrapper'>
                <button class='rc-dial-button' data-info='dial-button-1' data-value='1' data-event='click:dialing'>1</button>
                <button class='rc-dial-button' data-info='dial-button-2' data-value='2' data-event='click:dialing'>2</button>
                <button class='rc-dial-button' data-info='dial-button-3' data-value='3' data-event='click:dialing'>3</button>
                <button class='rc-dial-button' data-info='dial-button-4' data-value='4' data-event='click:dialing'>4</button>
                <button class='rc-dial-button' data-info='dial-button-5' data-value='5' data-event='click:dialing'>5</button>
                <button class='rc-dial-button' data-info='dial-button-6' data-value='6' data-event='click:dialing'>6</button>
                <button class='rc-dial-button' data-info='dial-button-7' data-value='7' data-event='click:dialing'>7</button>
                <button class='rc-dial-button' data-info='dial-button-8' data-value='8' data-event='click:dialing'>8</button>
                <button class='rc-dial-button' data-info='dial-button-9' data-value='9' data-event='click:dialing'>9</button>
                <button class='rc-dial-button' data-info='dial-button-0' data-value='0' data-event='click:dialing'>0</button>
            </div>
            <button class='rc-button' data-info='callout' data-event='click:callout'>Call</button>
        </div>
    </div>
    <div class='rc-pane-footer'></div>
</div>
<script>
w.register(function() {
    this.actions = {
        init: {
            before: function() {},
            method: function() {},
            after: function() {
                var dialPad = this;
                w.customize(this, 'auto-complete', {
                    actions: {
                        init: {
                            after: function() {
                                Promise.resolve(dialPad.getCandidates()).then(candidates => {
                                    this.props.candidates = candidates;
                                });
                            }
                        },
                        autoComplete: {
                            method: function() {
                                var candidates = this.props.candidates;
                                var numbers = [];
                                // TODO, if fetch is in progress, need to show again after fetch complete
                                if (!candidates)
                                    return;
                                return candidates.filter((candidate, index) => {
                                    var result = candidate.from.phoneNumber.indexOf(this.props.dom.input.value) === 1 && numbers.indexOf(candidate.from.phoneNumber) < 0;
                                    numbers.push(candidate.from.phoneNumber)
                                    return result;
                                })
                            }
                        }
                    }
                })
            }
        },
        render: {
            before: function() {},
            method: function() {},
            after: function() {
                var dialPad = this;
            }
        },
        dialing: {
            before: function() {},
            method: function(finish) {
                var button = event.target;
                console.log(this.props);
                var ac = this.props['auto-complete'];
                ac.appendInput(button.getAttribute('data-value'));
                ac.autoComplete(this.getCandidates());
                return finish();
            },
            after: function() {
                this.props['auto-complete'].props.dom.input.focus();
            }
        },
        callout: {
            before: function() {
                this.props.dom.callout.classList.add('rc-button-loading');
            },
            method: function(finish) {
                var ac = this.props['auto-complete'];
                this.props.toNumber = ac.props.dom.input.value;
                this.props.fromNumber = localStorage.getItem('username');
                return finish(this.props.fromNumber, this.props.toNumber);
            },
            after: function() {

            }
        },
        getCandidates: {
            before: function() {},
            method: function(finish) {
                return finish();
            },
            after: function() {}
        }
    }
})
</script>
