<button class='rc-dropdown' data-info='dropdown' data-event='click:collapse'>Outbound caller ID</button>
<div class='rc-dropdown-list' data-info='list'>
</div>
<script>
w.register(function() {
    var enlarge = w.transition('enlarge')
    this.actions = {
        render: {
            after: function() {
                enlarge.init(this.props.dom['list'])
            }
        },
        collapse: {
            after: function() {
                // this.props.dom['list'].classList.toggle('display-none');
                enlarge.toggle(this.props.dom['list'])
            }
        },
        getData: {
            method: function(finish) {
                return finish();
            }
        },
        addItem: {
            after: function(text) {
                var div = document.createElement('div');
                div.textContent = text;
                div.addEventListener('click', e => {
                    this.switchTitle(text);
                });
                this.props.dom['list'].appendChild(div);
            }
        },
        getSelected: {
            method: function() {
                return this.props.dom['dropdown'].textContent;
            }
        },
        removeItem: {},
        switchTitle: {
            method: function(finish, text) {
                finish(text);
            },
            after: function(text) {
                this.props.dom['dropdown'].textContent = text;
                this.collapse();
            }
        }
    }
})
</script>
