<div>
    <button class='rc-dropdown rc-list'
            data-info='dropdown'
            data-event='click:collapse'>Default</button>
    <div    class='rc-dropdown-list' 
            data-info='list'>
    </div>
</div>
<script>
w.register(function() {
    var enlarge = w.transition('enlarge')
    this.actions = {
        render: {
            after: function() {
                enlarge.init(this.props.dom['list'])
            }
        },
        collapse: {
            after: function() {
                console.log('collapse');
                enlarge.toggle(this.props.dom['list'])
            }
        },
        getData: {
            method: function(finish) {
                return finish();
            }
        },
        addItem: {
            after: function(text) {
                var item = document.createElement('div')
                // FIXME
                item.classList.add('rc-list__item', 'rc-dropdown-list__item')
                item.textContent = text;
                item.addEventListener('click', e => {
                    this.switchTitle(text);
                });
                this.props.dom['list'].appendChild(item);
            }
        },
        getSelected: {
            method: function() {
                return this.props.dom['dropdown'].textContent;
            }
        },
        removeItem: {},
        switchTitle: {
            method: function(finish, text) {
                finish(text);
            },
            after: function(text) {
                this.props.dom['dropdown'].textContent = text;
                this.collapse();
            }
        }
    }
})
</script>
