<div class="rc-panel rc-messages">
    <div class='rc-panel__header --flat'>
        <div class="rc-contacts__searchBox">
            <input class="__input" type="text" data-info="searchText" data-event="input:search">
        </div>
    </div>
    <div class="rc-panel__content">
        <button 
            class='rc-button --circle compose-button' 
            data-info='compose' 
            data-event='click:compose'>
        </button>
        <div data-info='messages'>
            <message-item-text dynamic></message-item-text>
            <message-item-fax dynamic></message-item-fax>
            <message-item-voicemail dynamic></message-item-voicemail>
        </div>
    </div>
</div>
<script>
w.register(function() {
    
    var currentEnabledTab = null;
    
    function enableTab(toEnableTab, toDisableTab) {
        if (toEnableTab.classList.contains('--active') === false) {
            toEnableTab.classList.add('--active');
            toDisableTab.classList.remove('--active');
        }
    }
    
    function createMessageWidget(type, message, parent){
        return w(type, {
            data: parent.data,
            actions:{
                init:{
                    method:function() {
                        return message;
                    }
                },
                viewInfo: {
                    method: function() {
                        parent.viewMessageInfo(this.props.message);
                    }
                },
                enter: {
                    method: function() {
                        return parent.enterMessage(this.props.message);
                    }
                }
            }
        }); 
    }
    
    function createMessageWidgets(messages, parent){
        messages.forEach(function(message){
            var widget = null;
            if(message.type === 'Fax') {
                widget = createMessageWidget('message-item-fax', message, parent);
            }else if(message.type === 'VoiceMail') {
                widget = createMessageWidget('message-item-voicemail', message, parent);
            }else {
                widget = createMessageWidget('message-item-text', message, parent)
            }
            widget.mount(parent.dom.messages);
            parent.props.widgetItems.push(widget);
        });
    }
    
    function filterMessageWidget(widgetItems, type) {
        widgetItems.forEach(item => {
            if(type === 'all'){
                item.show();
            }else{
                if(type.indexOf(item.props.message.type.toLowerCase()) >= 0){
                    item.show();
                }else{
                    item.hide();
                }
            }
        });
    }
    
    this.actions= {
        init: {
            before:function(){
                this.props.widgetItems = [];  
            },
            after: function() {
                // currentEnabledTab = this.dom.allTab;
                var t = w.t(this.data.lang);
                // this.dom.allTab.textContent = t('messages-tab-all');
                // this.dom.voiceMailTab.textContent = t('messages-tab-voicemail');
                // this.dom.faxTab.textContent = t('messages-tab-fax');
                // this.dom.textTab.textContent = t('messages-tab-text');
            }
        },
        mount: {
            after: function(){
                this.refreshMessages();
            }
        },
        enableTab: {
            after: function(event, type) {
                enableTab(event.target, currentEnabledTab);
                currentEnabledTab = event.target;
                filterMessageWidget(this.props.widgetItems, event.target.getAttribute('data-value'));
            }
        },
        refreshMessages:{
            method: function(finish){
                return finish();
            },
            after: function(messages){
                console.log(messages);
                var root = this.dom.messages;
                while(root.firstChild){
                    root.removeChild(root.firstChild);
                }
                createMessageWidgets(messages, this);
            }
        },
        viewMessageInfo: {
            method: function(finish, message) {
                this.props.selectedMessage = message;
                return finish();
            }
        },
        enterMessage: {
            method: function(finish, message) {
                this.props.selectedMessage = message;
                return finish()
            }
        },
        compose: {
            before: function() {
                this.dom.compose.classList.add('--active')
            },
            method: function(finish) {
                return new Promise(resolve => setTimeout(() => resolve(finish()), 500))
            },
            after: function() {
                setTimeout(() => this.dom.compose.classList.remove('--active'), 1000)
            }
        }
    }
});
//# sourceURL=messages.html
</script>
