<div class="rc-panel">
    <div class="rc-panel__content">
        <div class="rc-tabs">
            <a class="rc-tabs__tab --active --color --width4" data-info='allTab' data-value='all' data-event='click:enableTab'>
                All
            </a>
            <a class="rc-tabs__tab --color --width4" data-info='voiceMailTab' data-value='voicemail' data-event='click:enableTab'>
                VoiceMail
                <!--<span class="badge" ng-if="updates.voicemail">{{ updates.voicemail }}</span>-->
            </a>
            <a class="rc-tabs__tab --color --width4" data-info='faxTab' data-value='fax' data-event='click:enableTab'>
                Fax
                <!--<span class="badge" ng-if="updates.fax">{{ updates.fax }}</span>-->
            </a>
            <a class="rc-tabs__tab --color --width4" data-info='textTab' data-value='text' data-event='click:enableTab'>
                Text
                <!--<span class="badge" ng-if="updates.text">{{ updates.text }}</span>-->
            </a>
        </div>
        <div>
            <div data-info='messages'>
                <message-item-text dynamic></message-item-text>
                <message-item-fax dynamic></message-item-fax>
                <message-item-voicemail dynamic></message-item-voicemail>
            </div>
        </div>
    </div>
</div>
<script>
w.register(function(){
    
    var currentEnabledTab = null;
    
    function enableTab(toEnableTab, toDisableTab) {
        if (toEnableTab.classList.contains('--active') === false) {
            toEnableTab.classList.add('--active');
            toDisableTab.classList.remove('--active');
        }
    }
    
    function createMessageWidget(type, message, parent){
        return w(type, {
            data: parent.data,
            actions:{
                init:{
                    method:function() {
                        return message;
                    }
                },
                viewInfo: {
                    method: function() {
                        parent.viewMessageInfo(this.props.message);
                    }
                },
                enter: {
                    method: function() {
                        return parent.enterMessage(this.props.message);
                    }
                }
            }
        }); 
    }
    
    function createMessageWidgets(messages, parent){
        messages.forEach(function(message){
            var widget = null;
            if(message.type === 'Fax') {
                widget = createMessageWidget('message-item-fax', message, parent);
            }else if(message.type === 'VoiceMail') {
                widget = createMessageWidget('message-item-voicemail', message, parent);
            }else {
                widget = createMessageWidget('message-item-text', message, parent)
            }
            widget.mount(parent.props.dom.messages);
            parent.props.widgetItems.push(widget);
        });
    }
    
    function filterMessageWidget(widgetItems, type) {
        widgetItems.forEach(item => {
            if(type === 'all'){
                item.show();
            }else{
                if(type.indexOf(item.props.message.type.toLowerCase()) >= 0){
                    item.show();
                }else{
                    item.hide();
                }
            }
        });
    }
    
    this.actions= {
        init: {
            before:function(){
                this.props.widgetItems = [];  
            },
            after: function() {
                currentEnabledTab = this.props.dom.allTab;
                var t = w.t(this.data.lang);
                this.props.dom.allTab.textContent = t('messages-tab-all');
                this.props.dom.voiceMailTab.textContent = t('messages-tab-voicemail');
                this.props.dom.faxTab.textContent = t('messages-tab-fax');
                this.props.dom.textTab.textContent = t('messages-tab-text');
            }
        },
        mount: {
            after: function(){
                this.refreshMessages();
            }
        },
        enableTab: {
            after: function(event, type) {
                enableTab(event.target, currentEnabledTab);
                currentEnabledTab = event.target;
                filterMessageWidget(this.props.widgetItems, event.target.getAttribute('data-value'));
            }
        },
        refreshMessages:{
            method: function(finish){
                return finish();
            },
            after: function(messages){
                var root = this.props.dom.messages;
                while(root.firstChild){
                    root.removeChild(root.firstChild);
                }
                createMessageWidgets(messages, this);
            }
        },
        viewMessageInfo: {
            method: function(finish, message) {
                this.props.selectedMessage = message;
                return finish();
            }
        },
        enterMessage: {
            method: function(finish, message) {
                this.props.selectedMessage = message;
                return finish()
            }
        }
    }
});
//# sourceURL=messages.html
</script>
