<div data-info='message' class="rc-message-item" data-event='click:open'>
    <i data-info='icon' class="rc-message-item__icon"></i>
    <a class="rc-message-item__info" data-event='click:viewInfo'></a>
    <span class="rc-message-item__time" data-info='time'></span>
    <div class="rc-message-item__body">
        <span class="__contact" data-info='contact' data-event='click:enter'>
        </span>
        <div class="__text" data-info='text' data-event='click:enter'>
        </div>
    </div>
</div>
<script>
w.register(function(){
    this.actions = w.action('interaction');
    this.actions.init = {
        method: function(finish){
            var item = finish();
            this.props.message = item;
            return item;
        },
        after:function(item) {
            if(item.readStatus === 'Unread'){
                this.dom.icon.classList.add('--not-read');
                this.dom.contact.classList.add('--not-read');
            }
            this.dom.icon.classList.add("--" + item.type.toLowerCase());
            this.dom.time.textContent = item.time;
            this.dom.contact.textContent = item.contact;
        }
    };
    this.actions.setShortText = {
        method: function(finish){
            return finish();
        },
        after: function(text){
            this.dom.text.textContent = text;
        }  
    };
    this.actions.open = {
        method: function(finish) {
            return finish();
        }
    };
    this.actions.viewInfo = {
        method: function(finish, event) {
            event.stopPropagation();
            return finish();
        }
    };
    this.actions.enter = {
        method: function(finish) {
            return finish()
        },
        after: function() {}
    }
});
</script>
