<div>
    <message-item></message-item>
</div>
<script>
w.register(function(){
    this.actions = w.action('interaction');
    this.actions.init = {
        method: function(finish){
            return finish();
        },
        after:function(message) {
            var parent = this;
            w.customize(this, 'message-item', {
                data: parent.data,
                actions:{
                    init:{
                        method:function(){
                            return message;
                        },
                        after: function(){
                            this.setShortText();
                        }
                    },
                    setShortText: {
                        method: function() {
                            return message.subject;
                        }
                    },
                    viewInfo: {
                        method: function() {
                            parent.viewInfo();
                        }
                    },
                    enter: {
                        method: function() {
                            parent.enter();
                        }
                    }
                }
            }); 
            this.props.message = message;
        }
    };
    this.actions.viewInfo = {
        method: function(finish) {
            return finish();
        }
    }
    this.actions.enter = {
        method: function(finish) {
            return finish()
        },
        after: function() {}
    }
});
</script>
