<div data-info='message' class="rc-message-item --read" data-event='click:open'>
    <i data-info='icon' class="rc-message-item__icon"></i>
    <a class="rc-message-item__info" data-event='click:viewInfo'></a>
    <span class="rc-message-item__time" data-info='time'></span>
    <div class="rc-message-item__body">
        <span class="contact" data-info='contact'>
        </span>
        <div class="text" data-info='text'>
        </div>
    </div>
</div>
<script>
w.register(function(){
    this.actions = w.action('interaction');
    this.actions.init = {
        method: function(finish){
            var item = finish();
            this.props.message = item;
            return item;
        },
        after:function(item) {
            if(item.readStatus === 'Unread'){
                this.props.dom.message.classList.remove('--read');
                this.props.dom.message.classList.add('--not-read');
            }
            this.props.dom.icon.classList.add("--" + item.type.toLowerCase());
            this.props.dom.time.textContent = item.time;
            this.props.dom.contact.textContent = item.contact;
            var t = w.t(this.data.lang);
            if(item.type === 'Fax'){
                this.props.dom.text.textContent = t('message-item-fax-text');
            }else if(item.type === 'VoiceMail'){
                this.props.dom.text.textContent = t('message-item-voicemail-text');    
            }else{
                this.props.dom.text.textContent = item.subject;
            }
        }
    };
    this.actions.open = {
        method: function(finish) {
            return finish();
        }
    };
    this.actions.viewInfo = {
        method: function(finish, event) {
            event.stopPropagation();
            return finish();
        }
    };
});
</script>