<div class="rc-panel">
    <div class="rc-panel__content">
        <div class="rc-message-detail">
            <div>Conversation with</div>
            <div class="rc-message-detail__contact">
                <div class="__name">Colin Liu</div>
                <div><span>6508370092</span></div>
            </div>
            <img class="rc-avatar --big rc-message-detail__avatar">
            <!--<div>
                <div ng-show="['SMS','Pager'].indexOf(message.type)>=0" class="status">{{STRINGS.MESSAGEDETAILS.activityLabel}}</div>
                <div ng-hide="['SMS','Pager'].indexOf(message.type)>=0" class="status">{{ STRINGS.MESSAGE_STATUS[message.messageStatus] || STRINGS.MESSAGE_STATUS.default }}</div>
                <div class="time">{{ message.creationTime | formatDate:"long" }}</div>
            </div>-->
            <div>&nbsp</div>
            <div class="rc-button --positive rc-message-detail__button">
                Call
            </div>
            <div class="rc-button --positive rc-message-detail__button">
                Send
            </div>
        
        </div>
    </div>
</div>
<script>
w.register(function(){
    this.actions= {
        init: {
            
        },
        mount: {
            
        }
    }
});
</script>
