<div class='incontact'>
    <div data-info='auth-panel' class='auth-panel'></div>
    <div class='rc-panel main' data-info='main-panel' hidden>
        <div class='rc-panel__header'>
            <img class='logo' src="./ringcentral_logo.png">
        </div>
        <div class='rc-panel__content'>
            <p data-info='waiting' class='waiting' hidden>
                Ready to receive calls
            </p>
        </div>
        <div id='call-panel' class='overlap'></div>
        <div id='call-panel-incoming' class='overlap'></div>
    </div>
</div>
<script>
import Factory from './factory/factory'
import EventEmitter from './template/vendor/eventemitter'
var factory = new Factory()
w.register(function() {
    this.props = {
        ee: new EventEmitter(),
    },
    this.actions = factory.create('incontact', {
        init: {
            before: function() {
                this.props.key = this.data.key
                this.props.secret = this.data.secret
                this.props.sandbox = (this.data.sandbox === 'true')
            }
        },
        mount: {
            after: function() {
                var phone = this
                var authPanel = w('auth-panel', {
                    data: {
                        oauth: true
                    },
                    actions: factory.create('auth-panel', {
                        login: {
                            after: function() {
                                phone.dom['auth-panel'].parentNode.removeChild(phone.dom['auth-panel'])
                                this.unmount()
                                phone.dom.waiting.hidden = false
                                phone.dom['main-panel'].hidden = false
                                webPhone(null, {
                                    width: phone.data.width,
                                    height: phone.data.height
                                }, phone)
                            }
                        }
                    })
                })
                authPanel.mount(this.dom['auth-panel'])
                // this.checkLogin()
                // .then(loggedin => {
                //     if (loggedin) {
                //         this.dom['main-panel'].hidden = false
                //         this.dom.waiting.hidden = false
                //         this.dom['auth-panel'].parentNode.removeChild(this.dom['auth-panel'])
                //         webPhone(null, {
                //             width: this.data.width,
                //             height: this.data.height
                //         }, phone)
                //         this.props.ee.trigger('ready')
                //     } else {
                //         var authPanel = w('auth-panel', {
                //             data: {
                //                 oauth: true
                //             },
                //             actions: factory.create('auth-panel', {
                //                 login: {
                //                     after: function() {
                //                         phone.dom['auth-panel'].parentNode.removeChild(phone.dom['auth-panel'])
                //                         this.unmount()
                //                         phone.dom.waiting.hidden = false
                //                         phone.dom['main-panel'].hidden = false
                //                         webPhone(null, {
                //                             width: phone.data.width,
                //                             height: phone.data.height
                //                         }, phone)
                //                     }
                //                 }
                //             })
                //         })
                //         authPanel.mount(this.dom['auth-panel'])
                //     }
                // })
                // .catch(e => console.error(e))
            }
        },
        setSize: {
            method: function() {}
        },
        on: {
            method: function(finish, event, callback) {
                this.props.ee.on(event, callback)
            }
        }
    })
})

var webPhone = function(data, {width, height}, phone) {
    var callPanel = w('call-panel', {
        data: {
            target: '#call-panel',
            width: width,
            height: height,
            advance: false
        },
        actions: factory.create('call-panel')
    })
    var callPanelIncoming = w('call-panel-incoming', {
        data: {
            target: '#call-panel-incoming',
            width: width,
            height: height,
            remoteVideo: callPanel.props.remoteVideo,
            localVideo: callPanel.props.localVideo,
            simple: true
        },
        actions: factory.create('call-panel-incoming', {
            accept: {
                after: function() {
                    this.unmount()
                    callPanel.setName(this.props.name)
                    callPanel.mount('#call-panel')
                    callPanel.start()
                }
            },
            mount: {
                after: function() {
                    phone.props.ee.trigger('incoming')
                }
            }
        })
    })
}
</script>
<style>
    html, body {
      height: 100%;
      color: #333;
    }
    .incontact,
    .incontact .auth-panel {
      height: 100%;
    }
    .incontact .main {
        text-align: center;
        background-color: #fafafa;
    }
    .incontact .logo {
        width: 80%;
    }
    .incontact .waiting {
        margin-top: 30px;
        text-align: center;
        font-size: 1.2em;
    }
    .incontact .overlap {
        position: absolute;
        top: 0;
        height: 100%;
    }
    .auth-panel {}
</style>
