<style>
    #phone {
        position: relative;
        width: 250px;
        height: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        overflow: hidden;
        margin: 0 auto;
    }

    .container {
        width: 3000px;
        transition: transform .1s ease-out;
    }
    .panel {
        width: 250px;
        min-height: 1px;
    }
    .panel.--extra {
        position: absolute;
        left: 0;
    }
</style>
<div>
    <div id='phone'>
        <div id="auth-panel"></div>
        <div id="toolbar"></div>
        <div class='container'>
            <div class='panel float-left' id="dial-pad"></div>
            <div class='panel float-left' id="messages-panel"></div>
            <div class='panel float-left' id="contacts"></div>
            <div class='panel float-left' id="call-log"></div>
            <div class='panel float-left' id="conference"></div>
        </div>
        <div class='panel --extra' id="call-panel"></div>
        <div class='panel --extra' id="call-panel-incoming"></div>
        <div class='panel --extra' id="conversation"></div>
    </div>
    <auth-panel dynamic></auth-panel>
    <tool-bar dynamic></tool-bar>
    <dial-pad dynamic></dial-pad>
    <compose-text dynamic></compose-text>
    <call-panel dynamic></call-panel>
    <call-panel-incoming dynamic></call-panel>
    <call-log dynamic></call-log>
    <messages dynamic></messages>
    <contacts dynamic></contacts>
    <conference dynamic></conference>
    <conversation dynamic></conversation>

</div>
<script>
var phone = w.register(function() {
    this.actions = {
        mount: {
            after: function() {
                var phoneService = w.service()['phoneService'];
                var loginService = w.service()['loginService'];
                var callLogService = w.service()['callLogService'];
                var accountService = w.service()['accountService'];
                var rcContactService = w.service()['rcContactService'];
                var contactSearchService = w.service()['contactSearchService'];
                var rcContactSearchProvider = w.service()['rcContactSearchProvider'];
                var rcMessageService = w.service()['rcMessageService'];
                var rcMessageProvider = w.service()['rcMessageProvider'];
                var rcConferenceSerivce = w.service()['rcConferenceSerivce'];

                
                var dialPadSearchProviders = [rcContactSearchProvider];

                function init() {
                    var cachedMessageHours = 24;
                    function loadData() {
                        rcMessageService.subscribeToMessageUpdate();
                        rcMessageService.syncMessages(cachedMessageHours);
                        accountService.getAccountInfo();
                        accountService.getPhoneNumber();
                        rcContactService.syncCompanyContact();
                        phoneService.registerSIP();
                        callLogService.getCallLogs();
                        phoneService.listen();
                    } 
                    
                    loginService.checkLoginStatus().then(isLoggedIn => {
                        if (isLoggedIn) {
                            afterLogin();
                        } else {
                            authPanel.mount('#auth-panel');
                        }
                    }).catch(err => console.error(err))
                    // authPanel.mount('#auth-panel');
                    
                    var authPanel = w('auth-panel', {
                        data : phone.data,
                        actions: {
                            login: {
                                method: function() {
                                    return loginService.login(
                                        this.props.username,
                                        this.props.extension,
                                        this.props.password
                                    )
                                },
                                after: function() {
                                    authPanel.unmount()
                                    afterLogin();
                                }
                            }
                        }
                    });
                    function afterLogin() {
                        loadData();
                        var conversation;
                        var dialPad = w('dial-pad', {
                            data : phone.data,
                            actions: {
                                mount: {
                                    after: function() {
                                        if (!accountService.hasServiceFeature("VoipCalling"))
                                            this.disable();
                                    }
                                },
                                callout: {
                                    method: function(fromNo, toNo) {
                                        return phoneService.callout(fromNo, toNo);
                                    },
                                    after: function() {
                                        callPanel.mount('#call-panel');
                                    }
                                },
                                queryContacts: {
                                    method: function() {
                                        var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                            return provider.search(this.props.to);
                                        });
                                        return contactSearchService.query(dialPadSearchFunctions);
                                    }
                                },
                                getOutboundCallerID: {
                                    method: function() {
                                        return accountService.listNumber("VoiceFax");
                                    }
                                }
                            }
                        });
                        var callPanel = w('call-panel', {
                            data : phone.data,
                            actions: {
                                init: {
                                    method: function() {
                                        phoneService.on('callStarted', this.callStarted);
                                        phoneService.on('callRejected', this.callRejected);
                                        phoneService.on('callEnded', this.callEnded);
                                        phoneService.on('callFailed', this.callFailed);
                                    }
                                },
                                answer: {
                                    method: function() {
                                        phoneService.answer();
                                    }
                                },
                                hangup: {
                                    method: function() {
                                        return phoneService.hangup();
                                    }
                                }
                            }
                        })
                        var callPanelIncoming = w('call-panel-incoming', {
                            data : phone.data,
                            actions: {
                                init: {
                                    method: function() {
                                        console.debug('init')
                                        phoneService.on('called', this.called);
                                    }
                                },
                                called: {
                                    method: function() {
                                        console.debug('called');
                                        this.mount('#call-panel-incoming');
                                    }
                                }
                            }
                        })
                        var callLog = w('call-log', {
                            actions: {
                                init: {
                                    method: function() {
                                        return callLogService.getCallLogs();
                                    }
                                }
                            }
                        });
                        var messageWidget = w('messages', {
                            data : phone.data,
                            actions: {
                                mount: {
                                    after: function(){
                                        rcMessageProvider.onMessageUpdated(this.refreshMessages);
                                    }
                                },
                                refreshMessages: {
                                    method: function(){
                                        return rcMessageProvider.getLastMessagesOfAllType();
                                    }
                                },
                                viewMessageInfo: {
                                    method: function(){
                                        alert(this.props.selectedMessage.type);
                                    }
                                },
                                enterMessage: {
                                    before: function() {},
                                    method: function() {
                                        // TODO: makes the div temp
                                        var messages = this
                                        if (conversation)
                                            conversation.destroy()
                                        conversation = w('conversation', {
                                            data: {
                                                new: false,
                                                fromNumber: messages.props.selectedMessage.author,
                                                toNumber: messages.props.selectedMessage.contact
                                            },
                                            actions: {
                                                init: {
                                                    after: function() {
                                                        this.props.hourFrom = cachedMessageHours
                                                        this.props.convId = messages.props.selectedMessage.convId
                                                        console.log(this.props.hourFrom);
                                                    }
                                                },
                                                mount: {
                                                    after: function() {
                                                        rcMessageService.onMessageUpdated(this.confirmMessages);
                                                        rcMessageService.onMessageUpdated(this.addIncomingMessages);
                                                    }
                                                },
                                                send: {
                                                    method: function() {
                                                        return rcMessageService.sendSMSMessage(
                                                            this.props.message,
                                                            this.props.fromNumber,
                                                            this.props.toNumber
                                                        );
                                                    }
                                                },
                                                queryContacts: {
                                                    method: function() {
                                                        var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                                            return provider.search(this.props.to);
                                                        });
                                                        return contactSearchService.query(dialPadSearchFunctions);
                                                    }
                                                },
                                                getOutboundCallerID: {
                                                    method: function() {
                                                        return accountService.listNumber("VoiceFax");
                                                    }
                                                },
                                                reachTop: {
                                                    method: function() {
                                                        this.props.hourFrom += 100
                                                        console.log(this.props.hourFrom);
                                                        return rcMessageProvider.getConversation(
                                                            this.props.convId,
                                                            this.props.hourFrom)
                                                    }
                                                }
                                            }
                                        });
                                        conversation.mount('#conversation');

                                        return rcMessageProvider
                                        .getConversation(
                                            this.props.selectedMessage.convId,
                                            this.props.hourFrom)
                                        .then(conversation.appendMessages)
                                    }
                                },
                                compose: {
                                    method: function() {
                                        conversation = w('conversation', {
                                            data: {
                                                new: true
                                            },
                                            actions: {
                                                init: {
                                                    after: function() {
                                                        this.props.hourFrom = cachedMessageHours
                                                        console.log(this.props.hourFrom);
                                                    }
                                                },
                                                mount: {
                                                    after: function() {
                                                        rcMessageService.onMessageUpdated(this.confirmMessages);
                                                        rcMessageService.onMessageUpdated(this.addIncomingMessages);
                                                    }
                                                },
                                                send: {
                                                    before: function() {
                                                        this.collapse()
                                                    },
                                                    method: function() {
                                                        return rcMessageService.sendSMSMessage(
                                                            this.props.message,
                                                            this.props.fromNumber,
                                                            this.props.toNumber)
                                                    },
                                                    after: function(response) {
                                                        this.props.convId = response.id
                                                        return rcMessageProvider
                                                                .getConversation(response.id, 24)
                                                                .then(this.appendMessages)
                                                    }
                                                },
                                                queryContacts: {
                                                    method: function() {
                                                        var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                                            return provider.search(this.props.to);
                                                        });
                                                        return contactSearchService.query(dialPadSearchFunctions);
                                                    }
                                                },
                                                getOutboundCallerID: {
                                                    method: function() {
                                                        return accountService.listNumber("VoiceFax");
                                                    }
                                                },
                                                reachTop: {
                                                    method: function() {
                                                        this.props.hourFrom += 100
                                                        console.log(this.props.hourFrom);
                                                        return rcMessageProvider.getConversation(
                                                            this.props.convId,
                                                            this.props.hourFrom)
                                                    }
                                                }
                                            }
                                        })
                                        conversation.mount('#conversation')
                                    },
                                    after: function() {

                                    }
                                }
                            }
                        });
                        var conference = w('conference',{
                            data : phone.data,
                            actions: {
                                getConferenceInfo: {
                                    method: function() {
                                        return rcConferenceSerivce.getConferenceInfo();
                                    }
                                },
                                inviteWithText: {
                                    method: function() {
                                        conversation = w('conversation', {
                                            data: {
                                                new: true,
                                                message: conference.props.inviteMessage
                                            },
                                            actions: {
                                                init: {
                                                    after: function() {
                                                        this.props.hourFrom = cachedMessageHours
                                                        console.log(this.props.hourFrom);
                                                    }
                                                },
                                                mount: {
                                                    after: function() {
                                                        rcMessageService.onMessageUpdated(this.confirmMessages);
                                                        rcMessageService.onMessageUpdated(this.addIncomingMessages);
                                                    }
                                                },
                                                send: {
                                                    before: function() {
                                                        this.collapse()
                                                    },
                                                    method: function() {
                                                        return rcMessageService.sendSMSMessage(
                                                            this.props.message,
                                                            this.props.fromNumber,
                                                            this.props.toNumber)
                                                    },
                                                    after: function(response) {
                                                        this.props.convId = response.id
                                                        return rcMessageProvider
                                                                .getConversation(response.id, 24)
                                                                .then(this.appendMessages)
                                                    }
                                                },
                                                queryContacts: {
                                                    method: function() {
                                                        var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                                            return provider.search(this.props.to);
                                                        });
                                                        return contactSearchService.query(dialPadSearchFunctions);
                                                    }
                                                },
                                                getOutboundCallerID: {
                                                    method: function() {
                                                        return accountService.listNumber("VoiceFax");
                                                    }
                                                },
                                                reachTop: {
                                                    method: function() {
                                                        this.props.hourFrom += 100
                                                        console.log(this.props.hourFrom);
                                                        return rcMessageProvider.getConversation(
                                                            this.props.convId,
                                                            this.props.hourFrom)
                                                    }
                                                }
                                            }
                                        })
                                        conversation.mount('#conversation')
                                    }
                                },
                                joinAsHost: {
                                    method: function() {
                                        document.querySelector('.container').style.transform = 'translateX(0px)';
                                        dialPad.setNumber(conference.props.dialInNumber)
                                    }
                                }
                            }
                        });
                        var contacts = w('contacts', {
                            data : phone.data,
                            actions: {
                                fetchContacts: {
                                    method: function() {
                                        var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                            return provider.searchAll();
                                        });
                                        return contactSearchService.query(dialPadSearchFunctions);
                                    }
                                }
                            }
                        });
                        
                        var panels = [dialPad, messageWidget, contacts, callLog, conference]
                        var container = document.querySelector('.container')
                        var h;
                        var toolbar = w('tool-bar', {
                            data : phone.data,
                            actions: {
                                init: {
                                    after: function() {
                                        this.clickItem(
                                            this.addItem('<span class="icon-uniA4"></span><span class="icon-RC_shapes_1-40_pressed"></span>'), 
                                            function() {
                                                container.style.transform = 'translateX(0)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                                container.removeEventListener('transitionend', h)
                                                h = function (e) {
                                                    panels.filter((p,idx) => idx !== 0).forEach(p => p.unmount())
                                                    this.removeEventListener('transitionend', h)
                                                }
                                                container.addEventListener('transitionend', h)
                                                dialPad.mount('#dial-pad');
                                            });
                                        this.clickItem(
                                            this.addItem('<span class="icon-uni2487"></span></span><span class="icon-RC_shapes_1_30_pressed"></span>'),
                                            function() {
                                                container.style.transform = 'translateX(-250px)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                                container.removeEventListener('transitionend', h)
                                                h = function (e) {
                                                    panels.filter((p,idx) => idx !== 1).forEach(p => p.unmount())
                                                    this.removeEventListener('transitionend', h)
                                                }
                                                container.addEventListener('transitionend', h)
                                                messageWidget.mount('#messages-panel')
                                            });
                                        this.clickItem(
                                            this.addItem('<span class="icon-uni7D"></span><span class="icon-contact_info_pressed"></span>'),
                                             function() {
                                                container.style.transform = 'translateX(-500px)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                                container.removeEventListener('transitionend', h)
                                                h = function (e) {
                                                    panels.filter((p,idx) => idx !== 2).forEach(p => p.unmount())
                                                    this.removeEventListener('transitionend', h)
                                                }
                                                container.addEventListener('transitionend', h)
                                                contacts.mount('#contacts');
                                            });
                                        this.clickItem(
                                            this.addItem('<span class="icon-uniC8"></span><span class="icon-RC_shapes_2-30_pressed"></span>'),
                                            function() {
                                                container.style.transform = 'translateX(-750px)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                                container.removeEventListener('transitionend', h)
                                                h = function (e) {
                                                    panels.filter((p,idx) => idx !== 3).forEach(p => p.unmount())
                                                    this.removeEventListener('transitionend', h)
                                                }
                                                container.addEventListener('transitionend', h)
                                                callLog.mount('#call-log');
                                            });
                                        this.clickItem(
                                            this.addItem('<span class="icon-uniA3"></span>', 'Conference'),
                                            function() {
                                                container.style.transform = 'translateX(-1000px)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                                container.removeEventListener('transitionend', h)
                                                h = function (e) {
                                                    panels.filter((p,idx) => idx !== 4).forEach(p => p.unmount())
                                                    this.removeEventListener('transitionend', h)
                                                }
                                                container.addEventListener('transitionend', h)
                                                conference.mount('#conference');
                                            });
                                        this.clickItem(
                                            this.addItem('<span class="icon-uni47"></span>', 'Meeting'),
                                            function() {
                                                container.style.transform = 'translateX(-750px)';
                                                if (conversation) {
                                                    conversation.destroy()
                                                    conversation = null
                                                }
                                            });
                                        // this.addItem('<img src="../src/styles/images/settings_normal.png">');
                                    }
                                },
                                mount: {
                                    after: function() {
                                        dialPad.mount('#dial-pad');
                                        // messageWidget.mount('#messages-panel');
                                        // callLog.mount('#call-log');
                                        // contacts.mount('#contacts');
                                        // conference.mount('#conference');
                                    }
                                }
                            }
                        });
                        
                        toolbar.mount('#toolbar');
                        function logout() {
                            return loginService.logout().then(res => {
                                [dialPad, conversation, callLog, toolbar].forEach(panel => panel.remove())
                                init()
                            }).catch(err => console.error(err));
                        }
                    }
                }
                init()
            }
        }
    }
})
//# sourceURL=rc-phone.html
</script>
