<div>
    <div id="auth-panel"></div>
    <div id="toolbar"></div>
    <div id="dial-pad"></div>
    <div id="compose-text"></div>
    <div id="call-panel"></div>
    <auth-panel dynamic></auth-panel>
    <tool-bar dynamic></tool-bar>
    <dial-pad dynamic></dial-pad>
    <compose-text dynamic></compose-text>
    <call-panel dynamic></call-panel>
    <call-log-panel dynamic></call-log-panel>
</div>
<script>
w.register(function() {
    this.actions = {
        render: {
            after: function() {
                var phoneService = w.service()['phoneService'];
                var loginService = w.service()['loginService'];
                var callLogService = w.service()['callLogService'];
                var accountService = w.service()['accountService'];
                var rcContactService = w.service()['rcContactService'];
                var contactSearchService = w.service()['contactSearchService'];
                var rcContactSearchProvider = w.service()['rcContactSearchProvider'];
                
                var dialPadSearchProviders = [rcContactSearchProvider];

                var authPanel = w('auth-panel', {
                    actions: {
                        login: {
                            method: function() {
                                return loginService.login(
                                    this.props.username,
                                    this.props.extension,
                                    this.props.password
                                ).then(accountService.getAccountInfo);
                            },
                            after: function() {
                                return Promise.all([
                                    accountService.getAccountInfo(),
                                    accountService.getPhoneNumber(),
                                    rcContactService.syncCompanyContact()
                                ])
                                .then(afterLogin)
                                .then(() => {authPanel.remove()})
                                .catch(err => console.error(err))
                            }
                        }
                    }
                })
                var dialPad = w('dial-pad', {
                    actions: {
                        render: {
                            after: function() {
                                if (!accountService.hasServiceFeature("VoipCalling"))
                                    this.disable(this.props.dom.root);
                            }
                        },
                        queryContacts: {
                            method: function() {
                                var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                    return provider.search(this.props.to);
                                });
                                return contactSearchService.query(dialPadSearchFunctions);
                            }
                        },
                        callout: {
                            method: function(fromNo, toNo) {
                                return phoneService.callout(fromNo, toNo);
                            }
                        },
                        getOutboundCallerID: {
                            method: function() {
                                return accountService.listNumber("VoiceFax");
                            }
                        }
                    }
                });
                var callPanel = w('call-panel', {
                    actions: {
                        init: {
                            after: function() {
                                phoneService.listen();
                                phoneService.on('called', this.called);
                                phoneService.on('callStarted', this.callStarted);
                                phoneService.on('callRejected', this.callRejected);
                                phoneService.on('callEnded', this.callEnded);
                                phoneService.on('callFailed', this.callFailed);
                            }
                        },
                        answer: {
                            method: function() {
                                phoneService.answer();
                            }
                        },
                        hangup: {
                            method: function() {
                                phoneService.hangup();
                            }
                        }
                    }
                })
                var composeText = w('compose-text', {
                    actions: {
                        getOutboundCallerID: {
                            method: function() {
                                return accountService.listNumber("VoiceFax");
                            }
                        },
                        queryContacts: {
                            method: function() {
                                var dialPadSearchFunctions = dialPadSearchProviders.map(provider => {
                                    return provider.search(this.props.to);
                                });
                                return contactSearchService.query(dialPadSearchFunctions);
                            }
                        }
                    }
                });
                var toolbar = w('tool-bar', {
                    actions: {
                        init: {
                            after: function() {
                                this.clickItem(this.addItem('DP'), function() {
                                    dialPad.render('#dial-pad');
                                });
                                this.clickItem(this.addItem('CT'), function() {
                                    composeText.render('#compose-text');
                                });
                                this.addItem('CL');
                                this.addItem('ST');
                            }
                        },
                        render: {
                            after: function() {
                                dialPad.render('#dial-pad');
                            }
                        }
                    }
                })
                authPanel.render('#auth-panel');
                // loginService.checkLoginStatus().then(
                //     isLoggedIn => {
                //         if (isLoggedIn) {
                //             return Promise.all([
                //                     accountService.getAccountInfo(),
                //                     accountService.getPhoneNumber(),
                //                     rcContactService.getCompanyContact()
                //                 ])
                //                 .then(afterLogin)
                //                 .catch(err => console.error(err))
                //         } else
                //             authPanel.render('#auth-panel');
                //     }
                // );

                function afterLogin() {
                    // dialPad.render('#dial-pad');
                    callPanel.render('#call-panel');
                    toolbar.render('#toolbar');
                }
                loginService.registerLoginHandler(function() {
                    phoneService.registerSIP();
                    callLogService.getCallLogs();
                });
            }
        }
    }
})
</script>
