<template>
    <div class='rc-panel rc-timeline-item transition-in'>
        <div class='rc-timeline-item__content'>
            <div class='rc-timeline-item__info'>
                <div class='left'>
                    <span class='rc-timeline-item__icon' data-info='icon'></span>
                </div>
                <div class='right'>
                    <div class='rc-timeline-item__count display-none' 
                        data-info='count-wrapper'>
                        <span class='__number' data-info='count'></span>
                        <span class='icon-uni2466'></span>
                    </div>
                    <div class='rc-timeline-item__line'>
                        <span class='rc-timeline-item__contact' data-info='contact'></span>
                    </div>
                    <div class='rc-timeline-item__time' data-info='time'></div>
                </div>
            </div>
            <div class='rc-timeline-item__subject' data-info='subject'></div>
        </div>
        
        <div data-info='collapse' class='rc-timeline-item__collapse'>
        </div>
    </div>
</template>
<script>
import moment from 'moment'
function _pad(n) {
    return (n < 100) ? ("0" + n) : n;
}
function _ignoreLeadingPlus(number) {
    return (number.indexOf('+') === 0)? number.substring(1): number
}
w.register(function() {
    this.actions= {
        init: {
            after: function() {
                this.props.selectedMessage = null
                this.props.content = null
                this.props.contact = null
                this.props.time = null
                this.props.subject = null
                this.props.count = 0
                this.fillData(this.data)
                this.root.firstChild.style.opacity = 0
                this.root.firstChild.style.transform = `translateY(20px)`
                this.root.firstChild.style['transition-delay'] = `.${_pad(this.data.showingDelay || 0)}s`
            }
        },
        mount: {
            after: function() {
                setTimeout(() => {
                    this.root.firstChild.style.opacity = 1
                    this.root.firstChild.style.transform = `translateY(0px)`
                }, 17)
            }
        },
        fillData: {
            before: function() {
                this.root.style['background-color'] = '#eee'
            },
            method: function(finish, data) {
                this.props.content = data
                this.props.subject = data.subject
                console.log(data);
                var time = new Date(data.time)
                if (data.type === 'SMS')
                    this.dom.icon.classList.add('icon-uni2487')
                else if (data.type === 'Voice') {
                    if (data.direction === 'Outbound') {
                        this.dom.icon.classList.add('icon-uniC5')
                    } else {
                        this.dom.icon.classList.add('icon-uniC4')
                    }
                    this.dom.subject.classList.add('display-none')
                    if (this.props.subject && 
                        (
                            this.props.subject.type === 'Automatic' || 
                            this.props.subject.type === 'OnDemand'
                        )) {
                        this.props.subject = 'Call recording'
                    }

                }
                else if (data.type === 'Pager')
                    this.dom.icon.classList.add('icon-uniCB')
                else if (data.type === 'VoiceMail') {
                    this.dom.icon.classList.add('icon-uniA7')
                    this.props.subject = 'Call recording'
                    this.dom.subject.classList.add('display-none')
                } else if (data.type === 'Fax') {
                    this.dom.icon.classList.add('icon-uniCB')
                    this.props.subject = 'Fax'
                    this.dom.subject.classList.add('display-none')
                }
                this.dom.subject.textContent = this.props.subject
                data.contact && 
                    (this.dom.contact.textContent = this.props.contact = _ignoreLeadingPlus(data.contact.displayName))
                if (moment().diff(moment(data.time), 'days') < 1) {
                    this.dom.time.textContent = this.props.time = moment(data.time).fromNow()
                } else if (moment().diff(moment(data.time), 'days') < 2) {
                    this.dom.time.textContent = this.props.time = moment(data.time).calendar()
                } else {
                    this.dom.time.textContent = this.props.time = moment(data.time).format('LLL')
                }
                // `
                // ${time.getMonth() + 1}/${time.getDate()}, 
                // ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                // `

                if (data.others && data.others.length > 0) {
                    this.dom['count-wrapper'].classList.remove('display-none')
                    // this.dom.count.textContent = this.props.count = data.others.length
                    var currentDate

                    while(this.dom.collapse.firstChild)
                        this.dom.collapse.removeChild(this.dom.collapse.firstChild)
                    data.others.forEach(content => {
                        var time = new Date(content.time)
                        var div = document.createElement('div')
                        var month = time.getMonth() + 1
                        var date = time.getDate()
                        var subject = ''
                        var calender = date > currentDate? (month + '/' + date + ','): ''
                        if (content.type === 'SMS') {
                            subject = content.subject
                        } else if (content.type === 'Voice') {
                            if (content.subject && 
                                (
                                    content.subject.type === 'Automatic' || 
                                    content.subject.type === 'OnDemand'
                                )) {
                                subject = 'Call recording'
                            } else {
                                subject = content.subject
                            }
                        } else if (content.type === 'Pager') {
                            subject = content.subject
                        } else if (content.type === 'VoiceMail') {
                            subject = 'Call recording'
                        } else if (content.type === 'Fax') {
                            subject = 'Fax'
                        }
                        div.innerHTML = 
                        `<div class='timeline-extra clearfix'>
                            <div class='timeline-extra__content'>${subject}</div>
                            <div class='rc-timeline-item__time'>
                                ${calender} 
                                ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                            </div>
                        </div>`
                        div.firstChild.addEventListener('click', event => {
                            event.stopPropagation()
                            this.enter(content) // null for event
                        })
                        currentDate = date
                        this.dom.collapse.appendChild(div.firstChild)
                    })
                }
            },
            after: function(data) {
                setTimeout(() => this.root.style['background-color'] = '#fff', 1000)
            }
        },
        collapse: {
            after: function() {
                // FIXME: double clicks will cause problems
                var element = this.dom.collapse
                if (element.classList.contains('--collapsing'))
                    return
                if (!element.classList.contains('--active')) {
                    var prevWidth = element.style.height
                    element.style.height = 'auto'
                    var endWidth = getComputedStyle(element).height
                    element.style.height = prevWidth
                    element.offsetWidth // force repaint
                    element.style.height = endWidth
                    element.classList.add('--collapsing')
                    element.addEventListener('transitionend', function transitionEnd(event) {
                        if (event.propertyName == 'height') {
                            element.style.transition = ''
                            element.style.height = 'auto'
                            element.classList.remove('--collapsing')
                            element.removeEventListener('transitionend', transitionEnd, false)
                        }
                    }, false)
                    element.classList.add('--active')
                } else {
                    element.style.height = getComputedStyle(element).height
                    element.offsetWidth // force repaint
                    element.style.height = '0px'
                    element.classList.remove('--active')
                    element.classList.add('--collapsing')
                    element.addEventListener('transitionend', function transitionEnd(event) {
                        if (event.propertyName == 'height') {
                            element.classList.remove('--collapsing')
                            element.removeEventListener('transitionend', transitionEnd, false)
                        }
                    }, false)
                }
            }
        },
        enter: {
            method: function(finish, message) {
                message && (this.props.selectedMessage = message)
            }
        }
    }
    this.on('click', function(e) {
        this.enter()
    })
})


//# sourceURL=time-line-item.html
</script>
<style>
@import "src/styles/variables.css";
@import "src/styles/mixins.css";
.rc-timeline-item {
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #eee;
    transition: opacity, transform .350s cubic-bezier(0.0, 0.0, 0.2, 1);
    &__info {
        display: flex;
        .left {}
        .right {
            margin-left: 10px;
        }
    }
    &__line {
    }
    &__icon {
        line-height: 2;
    }
    &__contact {
        color: $dark-blue;
        font-size: .9em;
    }
    &__time {
        font-size: .7em;
        color: #999;
    }
    &__subject {
        font-size: .8em;
        overflow:       hidden;
        text-overflow:  ellipsis;
        margin-top: 10px;
    }
    &__count {
        @mixin padding-normal;
        position: absolute;
        top:    0;
        right:  0;
        font-size: .8em;
        > .__number {
            color: $timeline-gray;
        }
        &:hover > .__number {
            color: #000;
        }
    }
    &__content {
        @mixin padding-normal;
        position: relative;
    }
    &__collapse {
        @mixin shadow-1;
        height: 0;
        overflow: hidden;
        transition: height .350s cubic-bezier(0.4, 0.0, 0.2, 1);;
        > .timeline-extra {
            @mixin padding-normal;
            font-size: .8em;
        }
    }
    &:hover {
        @mixin shadow-2;
        background-color: #eee;
    }

    .timeline-extra {
        &__content {
            
        }
        &:hover {
            background-color: #eee;
        }
    }
}
    
</style>
