<div class='rc-panel rc-timeline'>
    <div class='rc-panel__header --flat'>
        <div class='rc-contacts__searchBox'>
            <input 
                class='__input' 
                type='text' 
                data-info='searchText' 
                data-event='input:search|focus:focusSearchBox|blur:blurSearchBox'
            >
        </div>
    </div>
    <div class='rc-panel__content' data-info='content'>
        <div class='rc-timeline__list' data-info='timeline'>
            <time-line-item dynamic></time-line-item>
        </div>
        <div class='rc-timeline__mask display-none' data-info='mask'></div>
    </div>
</div>
<script>
w.register(function() {
    this.data = {}
    this.actions= {
        mount: {
            after: function() {
                this.fetchData()
            }
        },
        fetchData: {
            method: function(finish) {
                return finish()
            },
            after: function(data) {
                data.forEach(item => this.addLine(item))
            }
        },
        addLine: {
            after: function(item) {
                var parent = this
                w('time-line-item', {
                    data: item,
                    actions: {
                        enter: {
                            after: function() {
                                parent.props.selectedContent = this.props.content
                                parent.enterItem()
                            }
                        }
                    }
                }).mount(this.props.dom.timeline)
            }
        },
        focusSearchBox: {
            method: function(finish) {
                return finish()
            },
            after: function() {

            }
        },
        blurSearchBox: {
            method: function(finish) {
                return finish()
            },
            after: function() {

            }
        },
        switchContent: {
            method: function() {
            },
            after: function() {
            }
        },
        enterItem: {
            method: function() {},
            after: function() {}
        }
    }
});
//# sourceURL=time-line.html
</script>
