<template>
    <div class='rc-panel rc-timeline'>
        <div class='rc-panel__header --flat'>
            <div class='rc-contacts__searchBox'>
                <input 
                    class='__input' 
                    type='text' 
                    data-info='searchText' 
                    data-event='input:search|focus:focusSearchBox|blur:blurSearchBox'
                >
            </div>
        </div>
        <div class='rc-panel__content' data-info='content'>
            <div class='rc-timeline__list' data-info='timeline'>
                <time-line-item dynamic></time-line-item>
            </div>
            <div class='rc-timeline__mask display-none' data-info='mask'></div>
        </div>
    </div>
</template>
<script>
w.register(function() {
    this.data = {}
    this.actions= {
        init: {
            after: function() {
                this.props.syncedMessages = []
                this.props.latestMessage = null
            }
        },
        mount: {
            after: function() {
                if (!this.props.mounted)
                    this.fetchData()
            }
        },
        fetchData: {
            method: function(finish) {
                this.props.mounted = true
                return finish()
            },
            after: function(contents) {
                this.props.latestMessage = contents[0]
                contents.forEach(content => this.addLine(content))
            }
        },
        updateTimeline: {
            after: function(contents) {
                // FIXME: The action of combining messages should be in service
                contents
                // Avoid duplicated notifications
                .filter(content => this.props.syncedMessages.indexOf(content.id) === -1)
                .forEach(content => {
                    if (this.props.latestMessage &&
                        this.props.latestMessage.type === content.type &&
                        this.props.latestMessage.contact.id === content.contact.id) {

                        this.props.latestMessage.others = this.props.latestMessage.others || []
                        content.others = content.others || []
                        content.others.push(this.props.latestMessage)
                        content.others = content.others.concat(this.props.latestMessage.others)
                        this.props.latestMessage.widget.unmount()
                    }
                    this.addLine(content, true)
                    this.props.latestMessage = content
                    this.props.syncedMessages.push(content.id)
                })
            }
        },
        addLine: {
            after: function(content, prepend) {
                var parent = this
                var item = w('time-line-item', {
                    data: content,
                    actions: {
                        enter: {
                            after: function() {
                                parent.props.selectedContent = this.props.selectedMessage || this.props.content
                                parent.enterItem()
                            }
                        }
                    }
                })
                content.widget = item
                item.mount(this.props.dom.timeline, prepend)
            }
        },
        search: {
            method: function(finish) {
                return finish()
            }
        },
        focusSearchBox: {
            method: function(finish) {
                return finish()
            },
            after: function() {

            }
        },
        blurSearchBox: {
            method: function(finish) {
                return finish()
            },
            after: function() {

            }
        },
        switchContent: {
            method: function() {
            },
            after: function() {
            }
        },
        enterItem: {
            method: function() {},
            after: function() {}
        }
    }
});
//# sourceURL=time-line.html
</script>
