<template>
    <div class='rc-panel rc-timeline-item'>
        <div class='rc-timeline-item__content'>
        <div class='rc-timeline-item__line'>
            <span class='rc-timeline-item__icon' data-info='icon'></span>
            <span class='rc-timeline-item__contact' data-info='contact'></span>
        </div>
            <div class='rc-timeline-item__time' data-info='time'></div>
            <div class='rc-timeline-item__subject' data-info='subject'></div>
        </div>
        <div    class='rc-timeline-item__count display-none' 
                data-info='count-wrapper'>
            <span class='__number' data-info='count'></span>
            <span class='icon-uni2466'></span>
        </div>
        <div data-info='collapse' class='rc-timeline-item__collapse'>
        </div>
    </div>
</template>
<script>
w.register(function() {
    this.actions= {
        init: {
            after: function() {
                this.props.selectedMessage = null
                this.props.content = null
                this.props.contact = null
                this.props.time = null
                this.props.subject = null
                this.props.count = 0
                this.fillData(this.data)
            }
        },
        fillData: {
            before: function() {
                this.root.style['background-color'] = '#eee'
            },
            method: function(finish, data) {
                this.props.content = data
                var time = new Date(data.time)
                if (data.type === 'SMS')
                    this.dom.icon.classList.add('icon-uni2487')
                else if (data.type === 'Voice')
                    this.dom.icon.classList.add('icon-uniAE')
                else if (data.type === 'Pager')
                    this.dom.icon.classList.add('icon-uniCB')
                this.dom.subject.textContent = this.props.subject = data.subject
                data.contact && 
                    (this.dom.contact.textContent = this.props.contact = data.contact.displayName)
                this.dom.time.textContent = this.props.time =
                `
                ${time.getMonth() + 1}/${time.getDate()}, 
                ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                `

                if (data.others && data.others.length > 0) {
                    this.dom['count-wrapper'].classList.remove('display-none')
                    this.dom.count.textContent = this.props.count = data.others.length
                    var currentDate

                    while(this.dom.collapse.firstChild)
                        this.dom.collapse.removeChild(this.dom.collapse.firstChild)
                    data.others.forEach(content => {
                        var time = new Date(content.time)
                        var div = document.createElement('div')
                        var month = time.getMonth() + 1
                        var date = time.getDate()
                        var calender = date > currentDate? (month + '/' + date + ','): ''
                        div.innerHTML = 
                        `<div class='timeline-extra clearfix'>
                            <div class='timeline-extra__content'>${content.subject}</div>
                            <div class='rc-timeline-item__time'>
                                ${calender} 
                                ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                            </div>
                        </div>`
                        div.firstChild.addEventListener('click', event => {
                            event.stopPropagation()
                            this.enter(content) // null for event
                        })
                        currentDate = date
                        this.dom.collapse.appendChild(div.firstChild)
                    })
                }
            },
            after: function(data) {
                setTimeout(() => this.root.style['background-color'] = '#fff', 1000)
            }
        },
        mount: {
            after: function() {}
        },
        collapse: {
            after: function() {
                // FIXME: double clicks will cause problems
                var element = this.dom.collapse
                if (element.classList.contains('--collapsing'))
                    return
                if (!element.classList.contains('--active')) {
                    var prevWidth = element.style.height
                    element.style.height = 'auto'
                    var endWidth = getComputedStyle(element).height
                    element.style.height = prevWidth
                    element.offsetWidth // force repaint
                    element.style.height = endWidth
                    element.classList.add('--collapsing')
                    element.addEventListener('transitionend', function transitionEnd(event) {
                        if (event.propertyName == 'height') {
                            element.style.transition = ''
                            element.style.height = 'auto'
                            element.classList.remove('--collapsing')
                            element.removeEventListener('transitionend', transitionEnd, false)
                        }
                    }, false)
                    element.classList.add('--active')
                } else {
                    element.style.height = getComputedStyle(element).height
                    element.offsetWidth // force repaint
                    element.style.height = '0px'
                    element.classList.remove('--active')
                    element.classList.add('--collapsing')
                    element.addEventListener('transitionend', function transitionEnd(event) {
                        if (event.propertyName == 'height') {
                            element.classList.remove('--collapsing')
                            element.removeEventListener('transitionend', transitionEnd, false)
                        }
                    }, false)
                }
            }
        },
        enter: {
            method: function(finish, message) {
                message && (this.props.selectedMessage = message)
            }
        }
    }
    this.on('click', function(e) {
        if (e.target === this.dom['count-wrapper']) {
            this.collapse()
            e.stopPropagation()
        } else {
            this.enter()
        }
    })
});
//# sourceURL=time-line-item.html
</script>
