<div class='rc-toolbar' data-info='toolbar'></div>
<script>
w.register(function() {
    this.actions = {
        addItem: {
            method: function() {},
            after: function(content) {
                // use innerHTML here, because content could be image or something else.
                var item = document.createElement('button');
                item.classList.add('rc-toolbar-item');
                item.innerHTML = content;
                this.props.dom['toolbar'].appendChild(item);
                return item;
            }
        },
        clickItem: {
            method: function(finish, item, event) {
                if (typeof item === 'number') {

                } else {
                    item.addEventListener('click', event.bind(this));   
                }
            }
        },
    }
})
</script>
