@import '~@ringcentral-integration/widgets/lib/commonStyles/colors';
@import '~@ringcentral-integration/widgets/lib/commonStyles/fonts';

.root {
  font-size: 12px;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;

  label {
    @include primary-font;
    color: $grey-light;
    font-size: 12px;
    width: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  button {
    margin-left: 0;
    margin-right: 0;
    color: $grey-light;
    font-size: 12px;
  }
}

.usageType {
  float: right;
}

.phoneNumber {
  width: 100%;
}
