@import '../../scss/variables.scss';

.root {
  @include flex_column;
  height: 100%;
}

.footer {
  @include bottom-border();
  background-color: #fff;
  padding: 0 $lightning-page-space 20px;

  .selected {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    label {
      height: 20px;
    }

    .selectedTips {
      display: inline-block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  [sf-classic] & {
    padding: 16px $classic-page-space 12px;
    .selected {
      display: block;
      padding: 0;
      label {
        padding-left: 4px;
      }
      .selectedTips {
        padding: 16px 0;
      }
    }
  }
}

.checkbox {
  width: 100%;
  flex: 1 1 auto;
  height: 33px;
  margin-right: 0;

  [sf-classic] & {
    height: 27px;
  }

  .label {
    @include text-ellipsis;
  }
}
