@import '../../../lib/commonStyles/fonts.scss';

.title {
  display: block;
  font-weight: 500;
  margin-bottom: 12px;
  color: $night;
  font-family: $font-family;

  &.isOld {
    margin-bottom: 12px;
  }

  .subLabel {
    font-weight: normal;
  }
}
