.title {
  line-height: 36px;
  width: 100%;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background: transparent;
  }
}

.recipient {
  display: block;
  width: 100%;
  padding: 0 2px;
  line-height: 25px;
  height: 25px;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background: #f3f3f3;
  }
}

.active {
  display: block!important;
}

.dropdownButton {
  line-height: 36px;
  height: 36px;
  &:hover {
    background: transparent;
  }
}
