@import '../../lib/commonStyles/variable.scss';

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: all 195ms cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;

  &.active {
    transform: translateX(0);
  }

  [sf-classic] & {
    @include main_border(right);
  }

  main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    h4 {
      font-size: 12px;
      color: #757575;
    }
    .search {
      @include flex_height(32px);
      margin: 12px 16px;
      position: relative;
      font-size: 14px;
      .placeholder {
        position: absolute;
        top: 8px;
        left: 38px;
        z-index: 1;
        height: 100%;
        width: calc(100% - 41px - 16px);
        color: #bfbfbf;
        pointer-events: none;
        @include text-ellipsis;
      }
    }
    .listContainer {
      // margin: 0 12px 16px 12px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.text {
  .title {
    margin: 4px 0 0 16px;
    color: #757575;
  }
  & + .text:not(:first-child) {
    margin-top: 16px;
  }
}

.hint {
  font-size: 12px;
  margin: 4px 16px 0 16px;
  color: rgba(117, 117, 117, 0.82);
}

.loading {
  text-align: center;
  margin-top: 15px;
}
