@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';
.root {
  display: block;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 7px;
  min-height: 62px;
}
// .root:first-child {
//   margin-top: -5px;
// }

.wrapper {
  position: relative;
  padding: 13px 20px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  @include secondary-font;
}

.callIcon {
  font-size: 22px;
  color: #666;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  max-height: 31px;
  max-width: calc(100% - 19px);
  padding-left: 12px;
  box-sizing: border-box;
  // Add bellow style if you have calllog button on callitem
  // margin-right: 33px;
  // max-width: calc(100% - 33px - 19px);
}

.activeCall {
  color: $active;
}

@keyframes ringing {
  0% {
    text-shadow: 0px 0px 1px $active;
  }
  100% {
    color: #2ce44d;
    text-shadow: 0px 0px 10px #2ce44d;
  }
}

.activeCall.ringing {
  animation-name: ringing;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.details {
  position: absolute;
  left: 46px;
  bottom: 12px;
  font-size: 12px;
  color: #979797;
}

.contactDisplay {
  margin-bottom: 5px;
  button {
    font-size: 13px;
  }
  ul {
    left: 0;
    margin-left: 0;
  }
}

.missed {
  color: $missed;
  button {
    color: $missed;
  }
}

.webphoneButtons {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.rejectButton {
  width: 26px;
  circle {
    fill: #ff4646;
  }
  g,
  path {
    fill: #ffffff;
  }
}

.answerButton {
  composes: rejectButton;
  margin-left: 10px;
  circle {
    fill: $call-btn-color;
  }
}

.active {
  color: $active;
  button {
    color: $active;
  }
}

.callDetail {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #979797;
  .label {
    margin-right: 5px;
  }
  .split {
    margin: 0 5px;
  }
}

.extendIcon {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 8.5px;
  width: 36px;
  height: 17px;
  margin-left: -18px;
  margin-top: -8.5px;
  cursor: pointer;
  .extendInner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -4.5px;
    z-index: 1;
    height: 7px;
    width: 7px;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
  .extended {
    margin-top: -1.5px;
    transform: rotate(135deg);
  }
}

.actionMenu {
  height: 0;
  transition: height 1s;
  &.extended {
    height: 30px;
  }
}
