.root {
  font-family: Helvetica;
  display: block;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #e3e4e5;
}

.icon {
  position: absolute;
  color: #797979;
  font-size: 1em;
  left: 10px;
  top: 12px;
}

.input {
  font-size: 0.75em;
  margin-left: 30px;
  color: #2f2f2f;
  line-height: 17px;
  width: 100%;
  height: 27px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  background: transparent;
}

.input::placeholder {
  color: #a9a9a9;
}
