@import '../../lib/commonStyles/full-size';

.noMessages {
  color: #797979;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

.root {
  @include full-size;
  overflow-y: auto;
  overflow-x: hidden;
}
