.presence {
  position: relative;
  height: 14px;
  width: 14px;
  border-radius: 8px;
  display: none;
}

.Offline {
  display: block;
  background: #cdcdcd;
}

.Busy {
  display: block;
  background: #f95b5c;
}

.Available {
  display: block;
  background-color: #32ae31;
}

.presenceBar {
  display: none;
  position: absolute;
  width: 57%;
  height: 2px;
  border-radius: 1.5px;
  background-color: #ffffff;
  transform-origin: 50% 50%;
  transform: translate(3px, 6px);
}

.DoNotAcceptAnyCalls {
  .presenceBar {
    display: block;
  }
}
