@import '../../lib/commonStyles/colors';

.showConferenceNumbers {
  margin:10px 15px 0 15px;
  height:20px;
  transition: height 0.5s ease-in;
  overflow:hidden;
  font-size:13px;
  label{
    float:left;
    color: #b3b3b3;
    line-height:20px;
    display:block;
    width:60px;
  }
  .dialInNumber{
    float:right;
    margin-left:10px;
    line-height:20px;
    color:#0073ae;
  }
  .conferenceNumber{
    float:right;
    margin-left:10px;
    line-height:20px;
    color:#2f2f2f; 
  }
}
.participantsSwitch{
  margin:10px 15px 0 15px;
  height:20px;
  font-size:13px;
  color: #555;
}
.international{
  margin:20px 15px 0 15px;
  h2{
    border-bottom: 1px solid #e3e3e5;
    font-size:13px;
    margin:10px 0;
  }
  .search{
    span{
      color:#2f2f2f;
    }
    .rightPanel{
      display:inline-block;
      margin-left:3px;
      input{
        color:$lightblack;
        outline:0;
        border:0;
        width:100%;
        background:0;
      }
    }
  }
  .numbers{
    width:100%;
    height:200px;
    margin-top:10px;
    border-top:1px solid #e3e3e5;
    border-bottom:1px solid #e3e3e5;
    overflow-y:scroll;
      label{
        display:block;
        height:25px;
        line-height:25px;
        overflow:hidden;
        input{
          float:left;
          margin-top:6px;
        }
       .country{
          float:left;
          margin-left:5px;
        }
        .phoneNumber{
          float:right;
          margin-right:5px;
         }
      }
    }
}
.textBtn{
  display: block;
  margin: 25px 15px 0 15px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  font-size: 14px;
  padding: 7px;
  border-radius: 3px;
  outline: medium none!important;
  background-color: #fff;
  border: 1px solid $rc-blue;
  color: $rc-blue;
}