@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.container {
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include secondary-font;

  label {
    color: $night;
  }
}
.main {
  flex-grow: 1;
  overflow: scroll;
}
.bottom {
}
.dialInNumber {
  padding: 10px 0;

  label {
    padding: 5px 0;
    display: block;
    font-weight: bold;
  }
  .select {
    height: 28px;
  }
}
.formGroup {
  padding: 10px 0;
  border-bottom: 1px solid $silver;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label {
    flex-grow: 1;
  }

  .field {
    color: $ash;
  }

  .linkLine {
    background: transparent;
    border: none;
    min-height: initial;
    padding: 0;
    margin-top: 19px;
  }

  ul.dialInNumberList {
    max-height: 60px;
    overflow: scroll;
    margin: 10px 0 0;

    li {
      padding: 4px 0 5px;
    }
  }
}
.link {
  margin-top: 20px;
}
.button {
  margin-bottom: 10px;
  line-height: 32px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px rgba(6, 132, 189, 0.4);
  background-color: $snow;
}

.primaryButton {
  @extend .button;
  background-color: $primary-color;
  color: $snow;
}

.selectNumberPage {
  height: 100%;
  overflow: scroll;
}
ul.dialInNumberList {
  padding: 0;
  margin: 15px 20px;

  li {
    list-style: none;
    line-height: 17px;
    height: 17px;
    padding: 9px 0 10px;

    .region {
      color: $night;
      @include secondary-font;
      margin-left: 10px;
    }

    .phoneNumber {
      font-family: $font-family;
      font-size: $tertiary-font-size;
      color: $ash;
      float: right;
    }
  }

  li:first-child {
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
  }
}
