@import '../../lib/commonStyles/colors';

.container {
  margin: 0 20px;
  height: 100%;
  position: relative;
  font-size: 13px;
  font-family: HelveticaNeue;

  label {
    color: $night;
  }
}
.dialInNumber {
  padding: 10px 0;

  label {
    padding: 5px 0;
    display: block;
    font-weight: bold;
  }
  .select {
    height: 28px;
  }
}
.formGroup {
  padding: 10px 0;
  border-bottom: 1px solid $silver;
  transition: height 0.5s ease-in;
  overflow:hidden;

  .field {
    float:right;
    color: $ash;
  }

  .linkLine {
    background: transparent;
    border: none;
    min-height: initial;
    padding: 0;
    margin-top: 20px;
  }
}
.link {
  margin-top: 20px;
}
.bottom{
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;

  .button {
    margin-bottom: 10px;
    line-height: 32px;
    text-align: center;
    border-radius: 100px;
    border: solid 1px rgba(6, 132, 189, 0.4);
  }

  .primaryButton {
    @extend .button;
    background-color: $rc-blue;
    color: $snow;
  }
}
