.container {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 250px;
  min-width: 100px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 36px;
  vertical-align: baseline;
  color: #797979;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 16px 0 10px;

    &:focus {
      outline: none;
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background: #ffffff;
  border: solid 1px #f3f3f3;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  z-index: 2;
  overflow: hidden;
  font-size: 13px;
  padding-bottom: 5px;

  .recipient {
    display: block;
    width: 100%;
    padding: 0 2px;
    line-height: 25px;
    height: 25px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    &:hover {
      background: #f3f3f3;
    }
  }
}

.dropdownIcon {
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 0;
  cursor: pointer;
}

.dropdownActiveIcon {
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 0;
  cursor: pointer;
  transform: rotate(180deg);
}

.active {
  display: block;
}
