@import '../../lib/commonStyles/colors.scss';

.hidden {
  display: none;
}

.hidden:hover {
  display: block;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  list-style: none;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,.175);
  max-height: 265px;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    padding: 7px 10px 8px 10px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  li.active {
    color: $primary-color;

    .name {
      color: $primary-color;
    }
  }
}

.contactItem {
  color: #797979;
  font-size: 13px;
}

.name {
  color: #303030;
  font-weight: bold;
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.spliter {
  padding: 0 5px;
}

.nameSection {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.phoneNumberSection {
  overflow: hidden;
  text-overflow: ellipsis;
}
