@import '../../lib/commonStyles/vertical-align';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/no-select';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/layout';

.navigationButton {
  @include full-size;
  @include no-select;
  outline: 0;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease;
  color: $darkergray !important;
  text-decoration: none !important;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
}

.navigationButton.active {
  border-bottom: 1px solid $primary-color;
}

.iconHolder {
  @include full-size;
}

.icon {
  @include full-size;
  height: 36px;
  line-height: 36px;
}

.labelHolder {
  @include full-size;
  height: 35%;
  position: relative;
}

.label {
  @include full-size;
  @include vertical-align(top);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.7em;
}

.notice {
  position: absolute;
  bottom: 1.4em;
  right: calc(50% - 2.3em);
  width: 1.4em;
  height: 1.4em;
  border-radius: 100%;
  line-height: 1.4em;
  text-align: center;
  font-size: 0.7em;
  background-color: #f65d60;
  overflow: hidden;
  color: #fff;
}

.notices {
  position: absolute;
  bottom: 1.8em;
  right: calc(50% - 2.5em);
  width: 2.1em;
  height: 1.5em;
  border-radius: 3em;
  line-height: 1.5em;
  text-align: center;
  font-size: 0.6em;
  background-color: #f65d60;
  overflow: hidden;
  color: #fff;
}
