@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/text-ellipsis';

.logLink {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: $primary-color;
  &.disabled {
    cursor: not-allowed;
    fill: $smoke;
  }
}
