@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors.scss';

.root {
  position: relative;
  font-size: 13px;
  background: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  color: #797979;
}

.button {
  position: relative;
  height: 30px;
  line-height: 30px;
  border: 0;
  margin: 0 10px;
  padding: 0;
  width: 100%;
  outline: medium none!important;
  cursor: pointer;
  text-transform: none;
  background: transparent;
  text-align: left;

  label {
    float: left;
    width: 50px;
    overflow: hidden;
  }
}

.selectedValue {
  margin-left: 0;
  display: block;
  margin-right: 20px;
}

.icon {
  position: absolute;
  right: 20px;
  top: 0;
}

.iconUp {
  transform: rotate(-180deg);
}

.selected {
  color: $primary-color;
}

.dropdownItem {
  display: block;
  padding: 10px;
  &:hover {
    color: $primary-color;
  }
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  z-index: 2;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,.175);
  background: #fff;
  max-height: 250px;
  overflow-y: auto;

  &:hover {
    .selected {
      color: inherit;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.open {
  .dropdown {
    display: block;
  }
}

.disabled {
  color: #777;
  cursor: not-allowed;
}
