@import '../../lib/commonStyles/colors';

.root {
  position: relative;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid $gray;
}

.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 10px;
  transition: width 0.15s 0s ease-in-out;
}

.content {
  position: relative;
  height: 100%;
  top: 0;
  right: 0;
}

.toggleButton {
  position: absolute;
  top: calc(50% - 12px);
  border-right: 5px solid $gray;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
  height: 24px;
  width: 0;
  right: 100%;
}
.toggleButtonInner {
  position: absolute;
  top: -4px;
  border-right: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
  height: 22px;
  left: 1px;
}
.toggleButtonIcon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  cursor: pointer;
  color: #666666;
  font-size: 8px;
  transform: rotateZ(90deg);
  line-height: 14px;
  text-align: center;
}
.expanded .toggleButtonIcon {
  transform: rotateZ(-90deg);
}
