.root {
  position: relative;
  width: 100%;
  height: 100%;
}
.move {
 position: relative;
 animation: mymove 5s ;
 animation-iteration-count: infinite;
}
@-webkit-keyframes mymove{
  0% {
    top: -11px;
  }
  4% {
    top: 0px;
  }
  96% {
    top: 0px ;
  }
  100%{
    top: 11px;
  }
}