@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include secondary-font;

  label {
    color: $night;
  }
}
.main {
  padding: 0 20px;
  flex-grow: 1;
  overflow: auto;
}
.bottom {
  padding: 10px 20px;
}
.overlapped {
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
}
.dialInNumber {
  padding: 10px 0;

  label {
    padding: 5px 0;
    display: block;
    font-weight: bold;
  }
  .select {
    height: 28px;
  }
  ul {
    max-height: 200px;
  }
}
.formGroup {
  padding: 10px 0;
  border-bottom: 1px solid $silver;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label {
    flex-grow: 1;
  }

  .field {
    color: $ash;
  }

  .linkLine {
    background: transparent;
    border: none;
    min-height: initial;
    padding: 0;
    margin-top: 19px;
  }

  ul.dialInNumberList {
    max-height: 60px;
    overflow: auto;
    margin: 10px 0 0;

    li {
      padding: 4px 0 5px;
    }
  }
}
.link {
  margin: 20px 0 15px;;
}
.button {
  margin: 10px 0;
  line-height: 32px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px $primary-color-highlight;
  background-color: $snow;
}

.primaryButton {
  @extend .button;
  background-color: $primary-color;
  color: $snow;
}

.primaryButton:hover {
  color: $silver;
}

.selectNumberPage {

  .dialInNumberList {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 15px 20px 55px;
  }
}
ul.dialInNumberList {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    line-height: 17px;
    height: 17px;
    padding: 9px 0 10px;
    display: flex;

    .checkbox {
      flex-shrink: 0;
    }

    .region {
      color: $night;
      @include secondary-font;
      margin: 0 10px;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .phoneNumber {
      font-family: $font-family;
      font-size: $tertiary-font-size;
      color: $ash;
      white-space: nowrap;
    }
  }

  li:first-child {
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
  }
}

.dialInNumberItem {
  display: flex;

  .region {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1em;
  }
}

.checkbox {
  width: 13px;
  height: 13px;
  font-size: 13px;
  line-height: 13px;
  color: $snow;
  text-align: center;
  user-select: none;
  background: transparent;
  border: solid 1px $silver;
}

.checkbox.checked {
  background: $primary-color;
  border: solid 1px $primary-color;
}
