{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "parser": "babel-eslint",
  "rules": {
    "no-restricted-syntax": [
      2,
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement",
    ],
    "no-console": 0,
    "no-unused-vars": 1,
    "no-underscore-dangle": 1, // because ringcentral-js has underscore prefixed variables,
    "no-empty-function": 1,
  }
}
