@import 'ringcentral-widgets/lib/commonStyles/colors.scss';

.root {
  width: 45px;
  height: 45px;
  background: $smoke;
  position: relative;
}

.big {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  border-radius: 2px;
  overflow: hidden;
}

.images {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1px;
  overflow: hidden;
  border-radius: 2px;
}

.small {
  padding: 1px;
  margin: 0;
  width: 33%;
  height: 33%;
  float: left;
  text-indent: -9999px;
  box-sizing: border-box;
}

.defaultAvatarContainer {
  width: 100%;
  height: 100%;
  background-color: #b8daec;
}

.defaultAvatar {
  width: 100%;
}

.unread {
  position: absolute;
  top: -6px;
  right: -6px;
  height: 14px;
  line-height: 14px;
  background-color: $tomato;
  font-family: Lato;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 4px;
  color: $snow;
}