@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size.scss';
@import '../../lib/commonStyles/layout.scss';
@import '../../lib/commonStyles/fonts.scss';
@import '../../lib/commonStyles/buttons.scss';

.root {
  @include full-size;
}
.content {
  @include full-size;
  overflow-y: auto;
  height: calc(100% - 118px);
  box-sizing: border-box;
  background-color: white;
  padding: 10px $container-padding-right 10px $container-padding-left;
}
.rightBtn {
  position: absolute;
  top: 5px;
  right: 20px;
}
.instruction {
  padding: 5px 0px 10px 0px;
  @include primary-font;
  font-size: 12px;
}
.explain {
  font-weight: normal;
}
.select {
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  height: 100%;
  font-size: 12px;
}
.hint {
  font-weight: normal;
  font-size: 12px;
}
.textAreaField {
  width: 100%;
  
  .label {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 1px;
    @include field-label-font;
  }

  .textArea{
    border-radius: 2px;
    border: 1px solid #a6a6a6;
    box-sizing: border-box;

    textarea {
      width: 100%;
      height: 80px;
      padding: 5px 10px;
      box-sizing: border-box;
      border: 0;
      font-size: 12px;
      color: $lightblack;
      resize: none;

      &:focus {
        outline: 0
      }
    }
  }
}
.bottom {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  .sendButton {
    @include big-submit-button;  
    width: 100%;
  }
}
