@import '../../scss/variables.scss';

.root {
  height: 100%;
  .svgStyle {
    display: block;
    margin: 0 auto;
  }

  .wrapperStyle {
    position: inherit;
    padding: 20px 0;
  }

  .lists {
    height: calc(100% - 136px);
    overflow-y: auto;
  }

  div.listItem.listItem {
    height: 56px;
    width: 100%;
  }

  .accountName {
    padding-bottom: 4px;
  }
}
