@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/text-ellipsis';

.root {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2px 2px 2px;
  font-family: Helvetica;
  border-top: 1px solid #e3e3e5;
  box-sizing: border-box;
  background-color: white;

  .attachmentIcon {
    display: none;
  }

  .attachments {
    display: none;
  }
}

.textField {
  margin-right: 115px;
  box-sizing: border-box;

  textarea {
    background: transparent;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin: 10px 0 10px 10px;
    resize: none;
    border: none;
    outline: medium none!important;
    box-sizing: border-box;

    &::placeholder {
      color: #a9a9a9;
    }
  }
}

.submitField {
  position: absolute;
  top: 50%;
  right: 0;
  width: 115px;
  margin-top: -18px;
  margin-right: 2px;
}

.sendButton {
  display: block;
  margin: 0 auto;
  width: 73px;
  height: 36px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  padding: 7px;
  border-radius: 18px;
  outline: medium none!important;
  color: #fff;
  background-color: $primary-color;
  border-style: none;
}

.sendButton:hover {
  background-color: $primary-color-highlight;
  color: #fff;
}

.sendButton:disabled,
.sendButton:disabled:hover {
  background-color: #fff!important;
  border: #c9c9c9 1px solid;
  color: #a9a9a9;
  cursor: not-allowed;
}

.supportAttachment {
  .textField {
    margin-left: 37px;

    textarea {
      margin-left: 0;
    }
  }

  .submitField {
    top: 30px;
  }

  .attachmentIcon {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .attachments {
    display: block;
    padding: 0 10px;
    max-height: 250px;
    overflow-y: auto;
  }

  .attachmentItem {
    display: inline-block;
    color: $night;
    font-size: 13px;
    border: solid 1px $smoke;
    border-radius: 4px;
    max-width: 250px;
    position: relative;
    padding-right: 32px;
    padding-left: 10px;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    @include text-ellipsis;
  }

  .attachmentRemoveIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
}
