.dialpad {
  
}

.dialButton {
  composes: button from '../../commons/button/button.css';
  composes: buttonCircle from '../../commons/button/button.css';
  width: 3.2em;
  height: 3.2em;
  padding: 1em;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  margin: 5px;
}

.line {
  display: flex;
  justify-content: space-around;
}

.settingButton {
  composes: button from '../../commons/button/button.css';
  composes: buttonCircle from '../../commons/button/button.css';
  width: 4em;
  height: 4em;
  padding: 1em;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  margin: 5px;
}
