$content-padding: 20px;
$normal-font-size: 14px;

div.expansionPanel {
  box-shadow: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: transparent !important;

  div.expansionPanelSummary {
    font-weight: bold;
    color: #212121;
    height: 32px;
    font-size: $normal-font-size;
    padding: 0 $content-padding;
    min-height: 32px;

    &.expansionPanelSummaryDisabled {
      opacity: inherit;
      user-select: inherit;
    }

    div.expansionPanelSummaryContent {
      margin: 0 0;
    }
  }

  div.expansionPanelDetails {
    padding: 0;
    border: 0;
    flex-direction: column;

    div.toggleGroup {
      width: 100%;
    }
  }
}
