@import '../../../scss/variables.scss';

.selectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include flex_height($working-state-height);
  margin: 0 ($lightning-page-space - $lightning-dot-margin);

  [sf-classic] & {
    margin: 0 ($classic-page-space - $classic-dot-margin);
  }
}

div.paper {
  top: 74px !important;
  min-width: calc(100% - 65px);
  [sf-classic] & {
    margin-left: -8px;
    width: 151px;
  }
}

div.wider {
  min-width: calc(100% - 33px) !important;
}
