@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';

.root {
  @include full-size;
}

.header {
  position: relative;
  display: block;
  padding: 0 24px;
  height: 40px;
  min-height: 32px;
  text-align: center;
  border-bottom: 1px solid #e3e3e5;
}

.backButton {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 13px;
  color: #666;
  text-decoration: none;
  transform: rotate(90deg);
  cursor: pointer;
  &:hover {
    color: #666;
    text-decoration: none;
  }
}

.conversationBody {
  height: calc(100% - 100px);
}

.messageForm {
  position: absolute;
  height: 56px;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2px 2px 2px;
  font-family: Helvetica;
  border-top: 1px solid #e3e3e5;
  textarea {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin: 10px 0 10px 10px;
    resize: none;
    border: none;
    background: transparent;
    outline: medium none!important;
    box-sizing: border-box!important;

    &::placeholder {
      color: #a9a9a9;
    }
  }
}

.textField {
  margin-right: 120px
}

.submitField {
  position: absolute;
  top: 50%;
  right: 0;
  width: 120px;
  margin-top: -18px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  width: 73px;
  height: 36px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  padding: 7px;
  border: 0;
  border-radius: 18px;
  outline: medium none!important;
  color: #fff;
  background-color: $primary-color;
}

.submitButton:hover {
  background-color: $primary-color-highlight;
  color: #fff;
}

.submitButton:disabled,
.submitButton:disabled:hover {
  background-color: #fff!important;
  border: #c9c9c9 1px solid;
  color: #a9a9a9;
  cursor: not-allowed;
}

.spinerContainer {
  height: 120px;
  width: 40px;
  margin: 80px auto;
}

.logButton {
  position: absolute;
  top: 9px;
  right: 20px;
}

.contactDisplay {
  height: 40px;
  width: 100%;
}

.contactDisplaySelect {
  max-width: 180px;

  button {
    margin-top: 5px;
  }
}
