@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/layout';

.root {
  @include full-size;
}
.tabContainer {
  position: relative;
  z-index: 11;
}
.main {
  @include full-size;
  z-index: 10;
}

.hasMaxHeight {
  max-height: calc(100% - #{$navigation-bar-height});
}

.vertical {
  display: flex;
}
