.title {
  text-align: center;
  font-size: 1.6em;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}

.subtitle {
  text-align: center;
  font-size: .7em;
  color: #555;
}
