@import '../../lib/commonStyles/colors.scss';

.root {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9%;
  padding-right: 9%;
}

.callButton {
  // width: 25%;
  width: 33.33%;
  box-sizing: border-box;
  padding: 2px;
}

.buttonRow {
  // text-align: left;
  text-align: center;
  height: 50%;
}

.button {
  width: 18.3%;
  height: 100%;
  border-radius: 63%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  text {
    font-size: 88px;
  }
}

.stopButton {
  circle {
    fill: #ff4646;
  }
  g, path {
    fill: #ffffff;
  }
}

.callCtrlButtonGroup {
  height: 66%;
}

.stopButtonGroup {
  height: 20%;
  padding-top: 4%;
}
