@import '../../lib/commonStyles/colors.scss';

.root {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9%;
  padding-right: 9%;
}

.callButton {
  width: 33.33%;
}

.buttonRow {
  text-align: left;
  height: 33.33%;
}

.button {
  width: 17%;
  border-radius: 63%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 10px;
}

.stopButton {
  circle {
    fill: #ff4646;
  }
  g, path {
    fill: #ffffff;
  }
}

.callCtrlButtonGroup {
  height: 60%;
}

.stopButtonGroup {
  height: 20%;
}
