@import '../../lib/commonStyles/colors.scss';

.root {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9%;
  padding-right: 9%;
}

.callButton {
  width: 33.33%;
}

.buttonRow {
  text-align: left;
  height: 33.33%;
}

.button {
  width: 20.5%;
  border-radius: 63%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 2px;
}

.stopButton {
  background: #ff4646;
  g, path {
    fill: #ffffff;
  }
}

.callCtrlButtonGroup {
  height: 60%;
  // min-height: 250px;
}

.stopButtonGroup {
  height: 20%;
}