.root {
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 0 20px;
  background: #ff3703;
  height: 22px;
  border-radius: 11px;
  font-size: 0.8em;
  color: #fff;
  line-height: 22px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
