@import "../../lib/commonStyles/full-size";
@import "../../lib/commonStyles/layout";
@import "../../lib/commonStyles/colors";

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}
