@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/text-ellipsis';

.container {
  position: relative;
  display: block;
  margin-right: 10px;

  * {
    box-sizing: content-box;
  }

  label {
    font-size: 15px;
    line-height: 29px;
    margin-right: 5px;
    font-weight: 200;
    float: left;
  }

  a {
    text-decoration: none;
  }
}

.rightPanel {
  font-size: 15px;
  display: block;
  margin-left: 45px;
}

.removeButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 10px;
}

.inputField {
  position: relative;
  padding-right: 20px;
  input::-ms-clear {
    display: none;
  }
}

.numberInput {
  color: #303030;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  height: 27px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  &::placeholder {
    font-size: 13px;
    color: #A9A9A9;
  }
}
.numberInput::-ms-clear {
  display: none;
}

.selectReceivers {
  margin-bottom: 2px;
  margin-top: 15px;
  padding: 0;

  li {
    position: relative;
    color: #fff;
    border-radius: 20px;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 2px;
    max-width: 90%;
    @include text-ellipsis;
    padding: 5px 23px 5px 10px;

    span {
      margin-left: 5px;
      font-weight: 200;
    }
  }

  .phoneNumber {
    background-color: $primary-color;
    opacity: 0.6;
  }
  .extension {
    background-color: $extension-background-color;
  }

}


.removeReceiver {
  position: absolute;
  bottom: 4px;
  right: 9px;
  width: 10px;
  color: #ffffff!important;
}
