@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/text-ellipsis';
@import '../../lib/commonStyles/fonts';

// .slideMenu {
//   background: $snow;
//   &:hover {
//     background: $snow;
//   }
// }

.contactDisplay {
  @include secondary-font;
  @include text-ellipsis;
  overflow: inherit;
  max-width: 140px;
  color: $night;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding-right: 20px; 
  max-width: 100%;
  &.unread {
    color: $primary-color;
    button {
      color: $primary-color;
    }
    .selectedValue {
      color: $primary-color;
    }
  }
  .dropdownSelect {
    ul {
      left: -6px;
      margin-left: -5px;
    }
  }
  .selectedValue {
    color: $ash;
  }
}

.player {
  box-sizing: border-box;
  margin-top: 20px;
}

.actionMenuList {
  margin: 0;
  margin-top: 10px;
}


