@import '../../lib/commonStyles/full-size.scss';
@import '../../lib/commonStyles/layout.scss';
@import '../../lib/commonStyles/colors.scss';

.root {
  position: relative;
  width: calc(100% - 16px);
  padding: 8px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;

  svg {
    path {
      fill: $primary-color;
    }
  }

  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.9;
    background-color: #fafafa;
    border-bottom: 1px solid #efefef;
  }

  &.active {
    opacity: 1;
    color: $primary-color;
  }
}



.iconHolder {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 22px;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;

  span {
    line-height: initial !important;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.labelHolder {
  display: inline-block;
  line-height: 22px;
  margin-left: 12px;
  font-size: 13px;
  vertical-align: middle;
}

.notice {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 8px;
  text-align: center;
  border-left: 2px solid #f65d60;
  border-right: 2px solid #f65d60;
  background-color: #f65d60;
  color: #ffffff;
  overflow: hidden;
}

.active {
  color: $primary-color;
}

