.colorsBlock {
  margin-left: 10px;
  margin-bottom: 50px;
  line-height: 45px;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.colorLine {
  max-width: 460px;
  height: 45px;
  padding: 0 20px;
  position: relative;
}

.colorValue {
  float: right;
}