.callItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.inboundIcon {
  // flex: 1;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 16px;
  path {
    fill: #666;
  }
}

.infoRect {
  flex: 4;
}

.operationBar {
  flex: 3;
  text-align: right;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}
