$root-zIndex: 100;

.root,
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
}

.root {
  width: 100%;
  height: 0;
  z-index: $root-zIndex;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color:rgba(255, 255, 255, 0.4);
}

.container {
  margin: 0 16px;

  &:first-child {
    margin-top: 12px;
  }
  & + .container {
    margin-top: 8px;
  }

  // using double selector to make selector priority higher
  .snackbar.snackbar {
    min-width: auto;
  }
}
