.rc-conference {
    position: relative;
    &__content {
      padding: 0.5em;  
    },
    &__line {
        margin: 0 0 6px 0;
        display: block;
        padding: 0 0 6px 0;
        border-bottom: 1px solid #b3b3b3;
        & > .__label {
            width: 45%;
            font-size: 13px;
            vertical-align: middle;
            &.--color {
                color: #0684bd;
            }
        }
        & > .__value {
            font-size: 13px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            width: 100%;
            &.--right {
                width: 53%;
            }
        }
    },
    &__buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 0.5em 0 0.5em;
        & > .__button {
            width: 100%;
            margin: 0 0.2em 0.5em 0.2em;
            text-align: center;
        }   
    },
    &.--color {
        color: #2f2f2f;
    }
}