.rc-contacts {
    &__searchBox {
        padding: 8px 10px;
        border-bottom:  1px solid;
        border-top:     1px solid;
        background-color:       #f8f8f8;
        border-bottom-color:    #e5e5e5; 
        border-top-color:       #e5e5e5;
        & .__input {
            border: 1px solid;
            width: 100%;
            border-radius: 5px;
            padding: 3px 3px 3px 26px;
            background-repeat: no-repeat;
            background-position: 3px 2px;
            font-size: 14px;
            line-height: 18px;
            box-sizing: border-box;   
            border-color: #e5e5e5;
            background-image: url(images/search.png); 
        }
    }
    &__list {
        height: 100%;
        overflow: auto;    
    }
    &__pins {
        @mixin shadow-1;
        > .rc-contact-item {
            /*background-color: $gray;*/
        }
    }
}

.rc-contact-item {
    padding: 10px 3px;
    clear: both;
    border-bottom: 1px solid;
    cursor: default;
    border-bottom-color: #efeff4; 
    cursor: pointer;
    &__body {
        display: block;
        height: 100%;

        margin-left: 38px;
        padding: 0 5px 0 0;

        overflow: hidden;
        line-height: 14px;
        text-overflow: ellipsis;
        font-size: 14px;
        white-space: nowrap;

        > .__contact {
            font-size: 14px;
            line-height: 18px;
            color: #2f2f2f;
        }
    }
    &:hover {
        background-color: #eee;
    }
}
