$contact-picker-font-size: 1.2em;
$contact-font-size: .8em;
$contact-hover-color: #ecf0f1;
.rc-contact-picker {
    @mixin block;
    width: 100%;
    > .rc-input {
        font-size: $contact-picker-font-size;
        letter-spacing: .05em;
    }
    &__contacts {
        @mixin shadow-1;
        position: absolute;
        width: 100%;
        max-height: 300px;
        z-index: 1;
        overflow: auto;
        background: #fff;
    }
}

/**
* Contact-picker-item
*/

.rc-contact {
    font-size: $contact-font-size;
    cursor: pointer;
    &__name {}
    &__value {
        text-align: right;
    }
    &:hover {
        background: $contact-hover-color;
    }
}
