$conversation-bubble-color: #ecf0f1;
$conversation-bubble-log-color: #B7C1A9;
$conversation-bubble-voice-color: #CAC3A9;
$conversation-bubble-marked-color: #eee;
.rc-conversation {
    &__close {
        position: absolute;
        cursor: pointer;
    }
    &__container {
        display: flex;
        flex-direction: column;
        /* Adjust all conversation related font size */
        font-size: .8em;
        transition: transform .2s ease-in;
    }
    &__content {
        /*display: flex;*/
        /*flex: 1;*/
        /*flex-direction: column;*/
        /*justify-content: flex-end;*/
        overflow: auto;
        height: 100%;
    }
    &__textarea-wrapper {
        position: relative;
        width: 100%;
        > textarea {
            @mixin padding-normal;
            width: 100%;
            border: 0;
            border-top: 1px solid $gray;
            resize: none;
        }
    }
    &__bar {
        margin-bottom: 5px;
    }
    &__hint {
        @mixin padding-normal;
        @mixin shadow-1;
        /* overlay bubbles */
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 49%;
        text-align: center;
        font-size: .9em;
    }
    &__callout {
        @mixin shadow-2;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(10,10,10,.6);
    }
    &__modal {
        @mixin shadow-3;
        @mixin padding-large;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 50%;
        border: 1px solid $gray;
        border-radius: 4px;
        background-color: #fff;
        text-align: center;
        & > .rc-button {
            width: 100%;
            margin-top: auto;
            align-self: center;
        }
    }
    &__timestamp {
        @mixin padding-normal;
        text-align: center;
        color: $gray;
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__header-title {
        align-self: center;
        font-size: 1.2em;
    }
    &__avatar-wrapper {
        width: 40px;
        height: 40px;
        margin-right: .8em;
        border-radius: 50%;
        overflow: hidden;
        line-height: 2;
    }
    &__avatar {
        max-width: 100%;
    }


    .conversations {
        &__conv {
            padding-left: 1em;
            padding-right: 1em;
            &.--marked {
                background-color: $conversation-bubble-marked-color;
            }
        }
        &__bubble {
            @mixin padding-normal;
            position: relative;
            word-break: break-word;
            border: 1px solid $gray;
            border-radius: 10px;
            margin-bottom: 5px;
            &.--opponent {
                float: left;
                &:after {
                    left: 100%;
                }
            }
            &.--self {
                float: right;
                background-color: $conversation-bubble-color;
                &:after {
                    right: 100%;
                }
            }
            &.--log {
                background-color: $conversation-bubble-log-color;
                border-color: $conversation-bubble-log-color;
            }
            &.--voice {
                background-color: $conversation-bubble-voice-color;
                border-color: $conversation-bubble-voice-color;
            }
            &:hover {
                &:after {
                    box-sizing: border-box;
                    position: absolute;
                    z-index: 2;
                    content: attr(data-tooltip);
                    top: 0;
                    background-color: #000;
                    color: #fff;
                    font-size: .8em;
                    border-radius: 2px;
                    padding: .5em .7em;
                    text-align: center;
                    min-width: calc(100%-1px);
                    word-break: normal;
                }
            }
        }
        &__timestamp {
            text-align: center;
            color: $gray;
        }
        &__loading {
            @mixin padding-normal;
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }
    .voice-bubble {
        &__play {}
        &__duration {
            height: 10px;
            border: 1px solid#878787;
            display: inline-block;
        }
    }
}
