$dial-pad-button-radius: 3em;
$dial-pad-symbol-size: .5em;
.rc-dial-pad {
    &__line {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > .rc-button {
            margin: 5px 10px;
            width: $dial-pad-button-radius;
            height: $dial-pad-button-radius;
            color: $main-color;
            & > .rc-button__number {
                font-weight: bold;
            }
            & > .rc-button__symbol {
                font-size: $dial-pad-symbol-size;
            }
        }
    }
}
