$dial-pad-button-radius: 3.2em;
$dial-pad-symbol-size: .5em;
$dial-pad-call-button-color: #2ecc71;

.rc-dial-pad {
    &__line {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > .dial-button {
            margin: 4px 8px;
            width:  $dial-pad-button-radius;
            height: $dial-pad-button-radius;
            color:          $main-color;
            border-color:   $main-color;

            & > .dial-button__number {
                font-weight: bold;
            }
            & > .dial-button__symbol {
                font-size: $dial-pad-symbol-size;
            }

        }
    }
    .call-button {
        position: absolute;
        top:    0;
        left:   0;
        width:  100%;
        height: 100%;
        transform: scale(.22, .12);
        transform-origin: center 90%;
        transition: border-radius       .8s,
                    transform           .3s ease-in, 
                    background-color    .8s,
                    border-color        .8s;
        background-color:   $dial-pad-call-button-color;
        border-color:       $dial-pad-call-button-color;
        &.--active {
            transform: scale(1, 1);
            border-radius: 0;
            /* background-color: #fff; */
            /* border-color: #fff; */
        }
    }
}
