.rc-dropdown {
    width: 100%;
    background: $bg-color;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 3px 0;
    font-size: .9em;
}
.rc-dropdown-list {
    @mixin shadow 3px;
    position: absolute;
    width:  100%;
    max-height: 200px;
    overflow: auto;
    background: #fff;
}
