.rc-dropdown {
    &__trigger {
        padding: 3px 0;
        width: 100%;
        background: $bg-color;
        border: 0;
        border-bottom: 1px solid #bdc3c7;
        font-size: .9em;
    }
    &__list {
        @mixin shadow 3px;
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow: auto;
        background: #fff;
    }
}
