.rc-message-detail {
    margin-top: 30px;
	text-align: center;
	line-height: 200%;
	font-size: 14px;
    &__contact {
        &__name {
            font-size: 18px;
	        font-weight: bold;
        }
    }
    &__avatar {
        background-image: url(images/incognito_big.png);
    }
    &__button {
        display: block;
        margin: 0 auto 5px auto;
        width: 100%;
    }
}