.rc-timeline {
    cursor: pointer;
    > .rc-panel__content {
        overflow: auto;
    }
    &__list {
        @mixin padding-normal;
    }
    &__mask {
        position: absolute;
        width:  100%;
        height: 100%;
        top: 0;
    }
}


.rc-timeline-item {
    @mixin padding-normal;
    @mixin shadow-1;
    margin-bottom:  5px;
    overflow: hidden;
    transition: background-color .5s ease-in-out;
    &__line {
        margin-bottom: 10px;
    }
    &__icon {
    }
    &__contact {
        font-size: .9em;
    }
    &__time {
        float: right;
        font-size: .7em;
        color: #878787;
    }
    &__subject {
        font-size: .8em;
    }
    &__count {
        position: absolute;
        /* Equal to padding-normal */
        top:    .5em;
        right:  .7em;
        font-size: .9em;
    }
    &__content {
        @mixin padding-normal;
        position: relative;
    }
    &__collapse {
        @mixin shadow-1;
        height: 0;
        overflow: hidden;
        transition: height .5s ease-in-out;
        > .timeline-extra {
            @mixin padding-normal;
            font-size: .8em;
        }
    }
    &:hover {
        @mixin shadow-2;
        /*background-color: #eee;*/
    }

    .timeline-extra {
        &__content {
            
        }
        &:hover {
            background-color: #eee;
        }
    }
}
