
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/text-ellipsis';

.root {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2px 2px 2px;
  font-family: Helvetica;
  border-top: 1px solid #e3e3e5;
  box-sizing: border-box;
  background-color: white;
  z-index: 20;
}

.textField {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px 10px;
  // padding: 10px 10px 0;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 5px;

  textarea {
    background: transparent;
    padding: 10px 24px 10px 10px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    resize: none;
    border: none;
    outline: medium none !important;
    box-sizing: border-box;

    &::placeholder {
      color: #a9a9a9;
    }
  }
}

.textFieldMargin {
  margin: 10px;
}

.submitField {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.attachments{
  max-height: 125px;
  overflow-y: auto;
}

.emojiPopper {
  z-index: 1500 !important;
  width: 100%;
  overflow-x: auto;
}

:global #emoji-menu > div > div > em-emoji-picker {
  max-height: 300px;
}

.attachmentItem {
  display: flex;
  align-items: center;
  padding: 0 10px 8px;
}

.fileInfoItem {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 10px;
  width: 100%;
  gap: 8px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  .fileNameWrapper {
    overflow: hidden;
    flex: 1 1 auto;
  }
}
