@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  box-sizing: border-box;
}

.backButton {
  color: $lightblack;

  .backIcon {
    position:absolute;
    top: 5px;
    left: 10px;
    transform: rotate(90deg);
  }
  .backLabel {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 68px;
    width: 79px;
    font-size: 14px;
  }
}

.flipContainer {
  width: 100%;
  height: 100%;
}
.radioGroup{
  height: 65%;
}
.buttonGroup {
  height: 35%;
  text-align: center;

  .button{
    display: inline-block;
    width: calc(100% / 6);
    height: 33%;
    padding: 0 20px 0 20px;
  }
  .flipButton {
    circle {
      stroke: solid 1px #0073ae;
      opacity: 0.24;
      &:hover {
        opacity: 1;
      }
    }
  }
  .flipIcon {

  }
  .hangupButton {
    circle {
      fill: #0073ae;
      opacity: 0.45;
      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
        opacity: 1;
      }
    }
  }
  .hangupIcon {
    path {
      fill: $line-background-color
    }
  }
}
