@font-face {
  font-family: 'dynamics_icon';
  src:  url('fonts/dynamics_icon.eot?ehx4d3');
  src:  url('fonts/dynamics_icon.eot?ehx4d3#iefix') format('embedded-opentype'),
    url('fonts/dynamics_icon.woff2?ehx4d3') format('woff2'),
    url('fonts/dynamics_icon.ttf?ehx4d3') format('truetype'),
    url('fonts/dynamics_icon.woff?ehx4d3') format('woff'),
    url('fonts/dynamics_icon.svg?ehx4d3#dynamics_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dynamics_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e901";
}
.icon-Expand:before {
  content: "\e902";
}
.icon-Information:before {
  content: "\e903";
}
.icon-Collapse:before {
  content: "\e949";
}
.icon-Close:before {
  content: "\e94a";
}
.icon-Outbound:before {
  content: "\e94b";
}
.icon-Missed:before {
  content: "\e94c";
}
.icon-Inbound:before {
  content: "\e94d";
}
.icon-Record:before {
  content: "\e94e";
}
.icon-Call:before {
  content: "\e94f";
}
.icon-Add:before {
  content: "\e950";
}
.icon-Arrow:before {
  content: "\e951";
}
.icon-Call-Log:before {
  content: "\e952";
}
.icon-Call-Hover:before {
  content: "\e953";
}
.icon-Dial-Hover:before {
  content: "\e954";
}
.icon-Dial:before {
  content: "\e955";
}
.icon-Edit:before {
  content: "\e956";
}
.icon-File:before {
  content: "\e957";
}
.icon-History-Hover:before {
  content: "\e958";
}
.icon-History:before {
  content: "\e959";
}
.icon-Logout:before {
  content: "\e95a";
}
.icon-Setting-Hover:before {
  content: "\e95b";
}
.icon-Setting:before {
  content: "\e95c";
}
.icon-Trash:before {
  content: "\e95d";
}
.icon-Delete:before {
  content: "\e909";
}
.icon-Plus:before {
  content: "\e90a";
}
.icon-Caret-down-circle:before {
  content: "\e90b";
}
.icon-Add2:before {
  content: "\e90e";
}
.icon-Arrow-left:before {
  content: "\e900";
}
.icon-Refresh:before {
  content: "\e906";
}
.icon-Save:before {
  content: "\e907";
}
.icon-icon_call_mute:before {
  content: "\e924";
}
.icon-icon_call_unmute:before {
  content: "\e925";
}
.icon-icon_call-dial:before {
  content: "\e92a";
}
.icon-icon_call-flip:before {
  content: "\e92b";
}
.icon-icon_call-hangup:before {
  content: "\e92c";
}
.icon-icon_call-hold:before {
  content: "\e92d";
}
.icon-icon_call-no-dial:before {
  content: "\e92e";
}
.icon-icon_call-no-hold:before {
  content: "\e92f";
}
.icon-icon_call-record:before {
  content: "\e930";
}
.icon-icon_call-stop-record:before {
  content: "\e931";
}
.icon-icon_call-transfer:before {
  content: "\e932";
}
.icon-icon_office_365:before {
  content: "\e933";
}
.icon-icon_play:before {
  content: "\e934";
}
.icon-icon_status_busy:before {
  content: "\e935";
}
.icon-icon_status-calling:before {
  content: "\e936";
}
.icon-icon_status-hold:before {
  content: "\e937";
}
.icon-icon_status-mute:before {
  content: "\e938";
}
.icon-icon_status-record:before {
  content: "\e939";
}
.icon-icon_calling:before {
  content: "\e926";
}
.icon-icon_call_incoming:before {
  content: "\e927";
}
.icon-icon_call_miss:before {
  content: "\e928";
}
.icon-icon_call_outgoing:before {
  content: "\e929";
}
.icon-icon_collapse:before {
  content: "\e90f";
}
.icon-checkbox-selected:before {
  content: "\e910";
}
.icon-checkbox-unselected:before {
  content: "\e911";
}
.icon-icon_add:before {
  content: "\e912";
}
.icon-icon_arrow_right:before {
  content: "\e913";
}
.icon-icon_back:before {
  content: "\e914";
}
.icon-icon_call_log:before {
  content: "\e915";
}
.icon-icon_call:before {
  content: "\e916";
}
.icon-icon_check:before {
  content: "\e917";
}
.icon-icon_composetext:before {
  content: "\e918";
}
.icon-icon_conference:before {
  content: "\e919";
}
.icon-icon_contact:before {
  content: "\e91a";
}
.icon-icon_dial:before {
  content: "\e91b";
}
.icon-icon_display:before {
  content: "\e91c";
}
.icon-icon_fax:before {
  content: "\e91d";
}
.icon-icon_google:before {
  content: "\e91e";
}
.icon-icon_hangout:before {
  content: "\e91f";
}
.icon-icon_i_info:before {
  content: "\e920";
}
.icon-icon_meeting:before {
  content: "\e921";
}
.icon-icon_message_all:before {
  content: "\e922";
}
.icon-icon_message:before {
  content: "\e923";
}
.icon-icon_return:before {
  content: "\e93a";
}
.icon-icon_search:before {
  content: "\e93b";
}
.icon-icon_setting:before {
  content: "\e93c";
}
.icon-icon_time:before {
  content: "\e93d";
}
.icon-icon_voice:before {
  content: "\e93e";
}
.icon-icon_radio_off:before {
  content: "\e93f";
}
.icon-icon_radio_on:before {
  content: "\e940";
}
.icon-icon_calendar:before {
  content: "\e942";
}
.icon-icon_dropbox:before {
  content: "\e943";
}
.icon-icon_dropdown_arrow:before {
  content: "\e944";
}
.icon-icon_i_btn:before {
  content: "\e945";
}
.icon-icon_logout:before {
  content: "\e946";
}
.icon-icon_switch_on:before {
  content: "\e947";
}
.icon-icon_swtich_off:before {
  content: "\e948";
}

