.rippleWrapper {
  position: relative;
  .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
    overflow: hidden;
  }
}

@keyframes ripple {
  to {
      transform: scale(2.5);
      opacity: 1;
  }
}
