.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  margin: 1px 0 0 0;
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0,0,0,.175);
  background: #fff;
  max-height: 143px;
  overflow-x: hidden;
  overflow-y: auto;

  &.open {
    display: block;
  }

  ul {
    padding: 10px;
  }
}
