@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size.scss';
@import '../../lib/commonStyles/layout.scss';
@import '../../lib/commonStyles/fonts.scss';

.root {
  @include full-size;
}
.content {
  @include full-size;
  overflow-y: auto;
  height: 94%;
  max-height: calc(100% - 32px);
  box-sizing: border-box;
  background-color: white;
  padding: 10px $container-padding-right 10px $container-padding-left;
}
.inputField {
  padding: 5px 0px;
}

.iconField {
  padding: 15px 0px;
  @include primary-font;
}

.infoIcon {
  margin-left: 6px;
  font-size: 14px;
  color: #848484;
}

.tooltipArrow {
  position: relative;
  margin-right: 6px;
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #ffffff;
}

.ringoutHint {
  padding: 15px 0px;
  @include primary-font;
}

.select {
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  height: 100%;
}
