@import '../../lib/commonStyles/full-size.scss';
@import '../../lib/commonStyles/layout.scss';
@import '../../lib/commonStyles/fonts.scss';
@import '../../lib/commonStyles/buttons.scss';

.root {
  @include full-size;
}

.content {
  @include full-size;
  overflow-y: auto;
  height: 94%;
  max-height: calc(100% - 32px);
  box-sizing: border-box;
  background-color: white;
  padding: 10px $container-padding-right 10px $container-padding-left;
}

.iconField {
  padding: 15px 0px;
  @include primary-font;
}

.infoIcon {
  margin-left: 6px;
  vertical-align: bottom;
  path {
    fill: $ash;
  }
}

.tooltipContainner {
  width: 100%;
  height: 1px;
  :global .rc-tooltip {
    opacity: 1;
    left: 0!important;
  }
}

.ringoutHint {
  padding: 15px 0px;
  @include primary-font;
}

.select {
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  height: 100%;
}

.locationSelect ul {
  max-height: 120px;
  overflow-y: auto;
}
