.container {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.mask {
  position: absolute;
  background: none;
  z-index: 10;
}

.modal {
  width: calc(100% - 40px);
  height: calc(100% - 30px);
  margin: 15px 20px;
  max-height: none;
  display: block;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0;
  z-index: 10;
  position: absolute;
  .content {
    padding: 0;
    height: calc(80% + 37px);
  }
  .title {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    background-color: #f9f9f9;
    padding: 0 0 0 10px;
    margin: 0;
    line-height: 36px;
  }
}

.closeBtn {
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
}

