@import '../../../lib/commonStyles/variable';

.icon {
  color: rc-palette('neutral', 'f04');

  &.missed {
    /* please confirm with designer that color */
    color: rc-palette('danger', 'b04');
  }

  &.active {
    /* please confirm with designer that color */
    color: rc-palette('success', 'b04');
  }
}
