@import '../../../lib/commonStyles/variable';

.actions {
  @include display_flex;

  align-items: center;
  justify-content: flex-end;
  width: 96px;

  & > * {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.classic {
    width: 68px;

    & > * {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
