.NoMessages {
  color: #797979;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

.messageList {
  height: calc(100% - 28px);
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}
