@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';

.root {
  @include full-size;
  background-color: $snow;
  box-sizing: border-box;
  //padding-top: 14px;
  padding-bottom: 14px;
}
