@import '../../scss/variables.scss';

div.customSelect {
  & input {
    @include textOverflowEllipsis();
  }
}

p.warning {
  display: flex;
  align-items: center;
  background: rgb(249, 246, 236);
  height: 76px;
  padding-left: 8px;
  margin-bottom: 16px;
  // TODO: color will remove after RcTypography providing this color value
  color: rgb(148, 106, 25);
}

.root.root {
  width: 100%;
  display: flex;
  margin-left: 0;
  margin-bottom: 16px;

  .switchRoot.switchRoot {
    margin: 0;
  }
}

.label {
  flex: 1 1 auto;
  width: 100%;
}
