@import '../../scss/variables.scss';

@mixin space($space) {
  margin-left: $space !important;
  margin-right: $space !important;
}

.searchInput,
.noResult {
  @include pageSpace();
  font-size: 14px !important;

  [sf-classic] & {
    font-size: 12px !important;
  }
}

.placeholder {
  [sf-classic] & {
    top: 9px !important;
  }
}

.noResult {
  word-break: break-all;

  color: rgb(158, 158, 158);
  line-height: 22px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  [sf-classic] & {
    line-height: 16px;
    height: 32px;
  }
}

.fillRight {
  width: 42px;

  [sf-classic] & {
    width: 32px;
  }
}

.backHeader {
  @include backHeaderWrapper();
}
