@import 'mixins.css';
@import 'variables.css';

.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.transfer {
}

.wrapper {
  padding: 10px;
  margin-top: auto;
}

.transferButton {
  @mixin button;
  width: 100%;
  color: #f9f9f9;
  background: $main;
  border-width: 1px;
  border-style: solid;
  font-weight: 300;
  &:hover {
    background: $main;
  }
}

.transferTitle {
  padding: .3em .5em;
  font-size: .9em;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.transferInput {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  outline: 0;
  border: 0;
  box-shadow: none;
  text-align: center;
  font-size: .8em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
