@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  background: #ffffff;
  overflow-y: auto;
}

.list {
  display: block;
}

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}

.listTitle {
  @include secondary-font;
  line-height: 16px;
  font-weight: bold;
  color: #2f2f2f;
  padding: 14px 20px 0 20px;
}
