/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Brand................Brand-related variables and settings.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 -----------SHOULD BE REMOVED IN INTEGRATION PROJECT-----------
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 * User-select..........Disable user select.
 * Font.................
 * Icon-font............RC-icon font
 *
 * BASE
 * Headings.............H1–H6 styles.
 --------------------------------------------------------------
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Auth-panel...........
 * Auto-complete........
 * Call-log.............
 * Call-log-item........
 * Call-panel...........
 * Compose-text.........
 * Contact-picker.......
 * Contact-picker-item..
 * Dial-pad.............
 * Dropdown.............
 * Messages.............
 * Message-item.........
 * Tool-bar.............
 * RC-phone.............
 *
 * TRUMPS
 * Text.................Text helpers.
 * Transition...........Default transition effect.
 * Effect...............Some detailed effect (float-left, display-none)
 */





/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

@import "variables.css";





/*------------------------------------*\
    #TOOLS
\*------------------------------------*/

@import "mixins.css";





/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

@import "normalize.css";
* {
    box-sizing: border-box;
}
* {
/*    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
     -khtml-user-select:    none;
       -moz-user-select:    none;
        -ms-user-select:    none;
            user-select:    none;*/
    outline:                none;
}
/* FIXME use js to load font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', sans-serif;
}
@import "icon.css";



/*------------------------------------*\
    #BASE
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    /* avoid some margin top collision */
    margin-top: 0;
    /* bold is to bold */
    font-weight: lighter;
}





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

.rc-list {
    /* reset to the default color, avoid inherited by parent element */
    color: #000;
    &__item {
        @mixin padding-normal;
    }
}
.rc-img {
    max-width: 100%;
}
.rc-fullscreen {}
.rc-link {}





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

.rc-panel {
    /**
    * rc-panels are treated as common containers
    */
    @mixin block;
    position: relative;
    height: 100%;
    width:  100%;
    &__header {
        @mixin padding-normal;
        position: relative;
        height: $panel-header-height;
        background-color: #fff;
        &--colored {
            background-color: $main-color;
            color: #fff;
            /* the white text need to be light */
            font-weight: lighter;
        }
        &--center {
            text-align: center;
        }
        &--flat {
            padding: 0;
        }
    }
    &__content {
        @mixin shadow-1;
        position: relative;
        height: $panel-content-height;
        background-color: #fff;
        &--full {
            height: 100%;
        }
    }
    &__footer {
        position: relative;
        background-color: #fff;
        /* height: $panel-footer-height; */
    }
}
.rc-button {
    @mixin padding-normal;
    border: 1px solid #000;
    background-color: #fff;

    &:hover,
    &:active,
    &--active {
        background-color: #eee;
    }
    &--circle {
        border-radius: 50%;
    }
    &--round {
        border-radius: $border-radius;
    }
    &--clean {
        background: transparent;
        &:hover,
        &:active {
            border-color: $main-color;
        }
    }
    &--ghost {
        border: 0;
        &:hover,
        &:active,
        &--active {
            background-color: #fff;
        }
    }
    &--dense {
        @mixin padding-small;
    }
    &--positive {
        background-color:   $rc-green;
        border-color:       $rc-green;
        color:              #fff;
        &:hover,
        &:active,
        &--active {
            background-color: $rc-green;
        }
    }
    &--negative {
        background-color:   #e74c3c;
        border-color:       #e74c3c;
        color:              #fff;
        &:hover,
        &:active,
        &--active {
            background-color: #e74c3c;
        }
    }

}
.rc-input {
    @mixin padding-normal;
    width: 100%;
    border: 1px solid $gray;

    &--clean {
        background: transparent;
        border: 0;
    }
    &--round {
        border-radius: $border-radius;
    }
    &:focus {
        border-color: #7f8c8d;
    }
}
.rc-tag {
    border: 1px solid $main-color;
    padding: .1em .3em;
}
.rc-label {
    @mixin padding-normal;
}
.rc-textarea {
    @mixin padding-normal;
    width: 100%;
    resize: none;
    font-size: .8em;
}
.rc-tabs {
    height: 30px;
    clear: both;
    /* for auto center */
    margin: 0 auto 11px;
    padding: 0 10px;
    &__tab {
        @mixin clickable;
        @mixin padding-normal;
        display: block;
        float: left;

        height: 30px;

        font-size: 14px;
        text-align: center;
        border: 1px solid;
        &:focus {
            text-decoration: none;
        }
        &:first-child {
            border-top-left-radius:     3px;
            border-bottom-left-radius:  3px;
        }
        &:last-child {
            border-top-right-radius:    3px;
            border-bottom-right-radius: 3px;
            border-right: 1px solid $main-color;
        }
        &--color {
            background-color:   $white; 
            border-color:       $main-color;
            color:              $main-color;
        }
        &--active { 
            background-color:   $main-color; 
            border-color:       $main-color;
            color:              $white; 
        }
        &--active:last-child {
            border-right-color: $main-color; 
        }
        &--width2 { width: 50%; }
        &--width3 { width: 33%; }
        &--width4 { width: 25%; }
    }
}
.rc-avatar {
    background-position:center center;
    background-repeat:no-repeat;
    border-radius:65px;
    &--big {
        min-width:  120px;
        min-height: 120px;
        max-width:  120px;
        max-height: 120px;
    }
    &--small {
        min-width:  35px;
        min-height: 35px;
        max-width:  35px;
        max-height: 35px;
    }
}
.rc-icon-switch {
    > span:first-child {
        display: inline;
    }
    > span:last-child {
        display: none;
    }
    &:hover {
        > span:first-child {
            display: none;
        }
        > span:last-child {
            display: inline;
        }
    }
}

/* @import "old.css"; */
@import "widgets/call-log.css";
@import "widgets/call-panel.css";
@import "widgets/compose-text.css";
@import "widgets/conversation.css";
@import "widgets/contact-picker.css";
@import "widgets/conference.css";
@import "widgets/contact-detail.css";
@import "widgets/contacts.css";
@import "widgets/dropdown.css";
@import "widgets/messages.css";
@import "widgets/message-item.css";
@import "widgets/message-detail.css";
@import "widgets/notification.css";
@import "widgets/tool-bar.css";
@import "widgets/timeline.css";





/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
@import "transition.css";

/**
* Some common use cases
*/
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}
.display-none {
    display: none !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }

}
/**
* Atomic degisn methodology
*/
@for $i from 1 to 10 {
    .margin-top-$i { margin-top: $(i)0px; }
}
