/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Brand................Brand-related variables and settings.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 -----------SHOULD BE REMOVED IN INTEGRATION PROJECT-----------
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 * User-select..........Disable user select.
 *
 * BASE
 * Headings.............H1–H6 styles.
 --------------------------------------------------------------
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Auth-panel...........
 * Auto-complete........
 * Call-log.............
 * Call-log-item........
 * Call-panel...........
 * Compose-text.........
 * Contact-picker.......
 * Contact-picker-item..
 * Dial-pad.............
 * Dropdown.............
 * Messages.............
 * Message-item.........
 * Tool-bar.............
 * RC-phone.............
 *
 * TRUMPS
 * Text.................Text helpers.
 * Transition...........Default transition effect.
 * Effect...............Some detailed effect (float-left, display-none)
 */





/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

@import "variables.css";





/*------------------------------------*\
    #TOOLS
\*------------------------------------*/

@import "mixins.css";





/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

@import "normalize.css";
* {
    box-sizing: border-box;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none
}





/*------------------------------------*\
    #BASE
\*------------------------------------*/


/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

@define-extend block {
    /**
    * Used as a positioned reference
    */
    position: relative;
}
@define-extend padding-normal {
    padding: .5em .7em;
}
@define-extend padding-large {
    padding: .7em .9em;
}
.rc-list {
    /* reset to the default color, avoid inherited by parent element */
    color: #000;
    &__item {
        @extend padding-normal;
    }
}
.rc-img {
    max-width: 100%;
}
.rc-fullscreen {}
.rc-link {}





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

.rc-panel {
    /**
    * rc-panels are treated as common containers
    */
    @extend block;
    &__header {
        height: $panel-header-height;
        &.--colored {
            background-color: $main-color;
            color: #fff;
        }
    }
    &__content {
        height: $panel-content-height;
    }
    &__footer {
        height: $panel-footer-height;
    }
}
.rc-button {
    @extend padding-normal;
    border: 1px solid #000;
    background-color: #fff;
    
    &.--circle {
        border-radius: 50%;
    }
    &.--round {
        border-radius: $border-radius;
    }
    &.--clean {
        background: transparent;
        &:hover,
        &:active {
            border-color: $main-color;
        }
    }
    &.--ghost {
        border: 0;
    }
    &:hover,
    &:active {}
}
.rc-input {
    @extend padding-normal;
    width: 100%;
    border: 1px solid #000;

    &.--clean {
        background: transparent;
        border: 0;
    }
    &.--round {
        border-radius: $border-radius;
    }
}
.rc-tag {
    border: 1px solid $main-color;
    padding: .1em 0.3em;
}
.rc-label {
    @extend padding-normal;
}

@import "old.css";
@import "widgets/auth-panel.css";
@import "widgets/call-log.css";
@import "widgets/contact-picker.css";
@import "widgets/dial-pad.css";
@import "widgets/dropdown.css";
@import "widgets/messages.css";





/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
@import "transition.css";

/**
* Some common use cases
*/
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.display-none {
    display: none;
}

/**
* Atomic degisn methodology
*/
@for $i from 1 to 10 {
    .margin-top-$i { margin-top: $(i)0px; }
}
