.rc-image {
    max-width: 100%;
}

.rc-sub-panel {
    font-size: 12px;
    padding: 5px;
}

.rc-message {
    font-size: 12px;
    color: #878787;
}

.rc-error-message {
    min-height: 30px;
    font-size: 12px;
    color: #e74c3c;
}
.rc-logs {
    max-height: 500px;
}
.rc-calllog {
    border-bottom: 1px solid #878787;
}

.rc-calllog-name {
    font-weight: bold;
    font-size: 14px;
}

.rc-calllog-time {
    font-size: 12px;
}

.rc-calllog-type {
    font-size: 12px;
}

.rc-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
}
.rc-mask-message {
    color: #fff;
    line-height: 2;
}
.rc-toolbar {
    padding: 10px 5px;
}
.rc-toolbar-item {
    background: #fff;
    border: 0;
    margin: 2px;
}
.rc-textarea {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    padding: 5px;
    font-size: 12px;
    font-weight: lighter;
}
