.enlarge {
    transition: transform .1s ease;
    transform-origin: top;
}
.enlarge-in,
.enlarge-out {
    transform: scaleY(0);
}
.fade {
    opacity: 1;
    transition: opacity .6s ease;
}
.fade-in,
.fade-out {
    opacity: 0;
}
.slide-down {
    transition: transform .3s ease-in;
    transform-origin: top;
    transform: translateY(0);
}
.slide-down-in,
.slide-down-out {
    transform: translateY(-300px);
}
