$rc-blue: #3498db;
$rc-orange: #3498db;
$white: #fff;
$gray: #bdc3c7;
$red: #e74c3c;

$main-color: $rc-blue;
$support-color: $rc-orange;
$alert-color: $red;
$bg-color: $white;


/* rc-input.--round, rc-button.--round */
$border-radius: 3px;

/* rc-panel */
$panel-width: 250px;
$panel-header-height: 60px;
$panel-content-height: 350px;
$panel-footer-height: 100px;
$panel-height: $panel-header-height + $panel-content-height;
