$main-color: #3498db;
$support-color: #e67e22;
$bg-color: #fff;

/* rc-input.--round, rc-button.--round */
$border-radius: 3px;

/* rc-panel */
$panel-width: 300px;
$panel-header-height: 100px;
$panel-content-height: 300px;
$panel-footer-height: 100px;
