$rc-blue: #3498db;
$rc-orange: #3498db;
$rc-green: #2ecc71;

$gray: #bdc3c7;
$dark-gray: #6C7A89;
$light-gray: #BDC3C7;

$blue: #1e89ed;
$dark-blue: #346689;
$light-blue: #4aa8ba;
$white: #fff;
$red: #e74c3c;
$yellow: #f4c118;
$orange: #f47718;

$main-color: $blue;
$support-color: $orange;
$alert-color: $red;
$bg-color: $white;


/* rc-input.--round, rc-button.--round */
$border-radius: 3px;

/* rc-panel */
$panel-width: 250px;
$panel-header-height: 60px;
$panel-content-height: 350px;
$panel-footer-height: 100px;
$panel-height: $panel-header-height + $panel-content-height;
