@import '../../lib/commonStyles/colors.scss';

.root{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 15;
}

.checkbox{
   float: left;
   width: 100%;
   margin-top: 20px;
   overflow-y: auto;
   line-height: 20px;
   cursor: default;
}

.button{
  line-height: 35px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px $primary-color-highlight;
  margin-left: 15px;
  margin-right: 15px;
}

.description{
   position: absolute;
   bottom: 0px;
   font-size: 13px;
   color: #666666;
   margin-right: 15px;
}

.description a{
  text-decoration: none; 
  color: $primary-color;
}

.cancelBtn {
  @extend .button;
  background-color: $snow;
  margin-top: 15px;
}

.confirmBtn {
  @extend .button;
  margin-top: 15px;
  background-color: $primary-color;
  color: $snow;
}

.confirmBtn:hover {
  color: $silver;
}

.title{
  float: left;
  width: calc(100% - 78px);
  font-weight: bold;
  margin-top: 7.5px;
}

.group{
   margin-left: 15px;
   height: 63%;
   overflow-y: auto;
   position: relative;
}

.completion {
  float: left;
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

.text {
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.bageBox{
    position: absolute;
    right: 15px;
    height: 50px;
    width: 1px;
    background-color: #ffffff;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.2);
}

.bage{
    position: absolute;
    right: 0px;
    width: 59px;
    height: 35px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.18);
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 7.5px;
}

.telus{
    top: 28px;
}

.iconContainer {
    top: 7px;
    position: absolute;
    left: 30px;
    .icon {
      width: 22px;
      height: 22px;
    }
  }

.presence {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    top: 50%;
    left: 10px;
    position: absolute;
    background-color: #32ae31; 
    border-radius: 8px;
  }

.header{
  margin-top: 20px;
  width: 100%;
  float: left;
}
