@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/vertical-align';

$section_height: 36px;
.spinner {
  top: $section_height;
  height: calc(100% - #{$section_height})
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttonPanel {
  padding: 14px 20px 10px;
}

.button {
  margin: 10px 0;
  line-height: 32px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px $primary-color-highlight;
  background-color: $snow;
}

.primaryButton {
  @extend .button;
  margin: 0;
  background-color: $primary-color;
  color: $snow;
  &.disabled {
    background-color: $silver;
    border-color: $silver;
    &:hover {
      color: $snow;
    }
  }
}

.primaryButton:hover {
  color: $silver;
}

.overlapped {
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
}

.editSection {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.innerMask {
  opacity: 0.39;
  background-color: #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
