.wrapper {
  margin: 0 20px;

  div[class*='RcAlert-message'] {
    font-size: 14px !important;
  }
}

.expandWrapper {
  div[class*='RcAlert-message'] {
    font-size: 12px !important;
    line-height: 1.3;
  }
}

.underline {
  text-decoration: underline !important;
}

.alert {
  padding: 8px !important;
}

.expandAlert {
  padding: 8px 16px !important;
}

