.showcase {
  width: 100000px;
  transform: scale(.8);
  transform-origin: top left;
}
.app {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #fcfcfc;
}
.tree {
  float: left;
  overflow: auto;
  zoom: 1;
}
.line {
  overflow: auto;
  zoom: 1;
}
.container {
  float: left;
}
.children {
  overflow: auto;
  zoom: 1;
}
.svg {
  position: absolute;
}