@import '../../lib/commonStyles/colors';

.callItem {
  display: block;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 74px;
  width: 100%;
}

.callIcon {
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  width: 40px;
  height: 74px;
  line-height: 74px;
  font-size: 22px;
  text-align: center;
  color: #666;
}
.activeCall {
  color: #23B23D;
}

@keyframes ringing {
  0% {
    text-shadow: 0px 0px 1px #23B23D;
  }
  100% {
    color: #2ce44d;
    text-shadow: 0px 0px 10px #2ce44d;
  }
}

.activeCall.ringing {
  animation-name: ringing;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.callStatus {
  margin-right: 8px;
}

.callStatus, .callDuration {
  display: inline-block;
}



.details {
  position: absolute;
  left: 46px;
  bottom: 12px;
  font-size: 12px;
  color: #979797;
}

.callerType {
  color: #666;
  font-size: 13px;
  margin-left: 8px;
}

.select {
  width: 200px;
  height: 25px;
  border: 0px;
  button {
    margin: 0px;
    color: #303030;
    font-size: 14px;
  }
}
.select:after {
  line-height: 20px;
  color: #979797;
}

.contact {
  position: absolute;
  top: 12px;
  left: 46px;
  color: #303030;
  font-size: 14px;
}

.callerPhone .phoneType {
  color: #666;
  font-size: 13px;
  margin-left: 8px;
}

.missed {
  color: #D9282f;
}

