@import '../../lib/commonStyles/fonts';
@import '../../lib/commonStyles/colors';


.root:after {
  content: '\e951';
  @include field-value-font;
  font-family: 'dynamics_icon';
  right: 0px;
  top: 9px;
  padding: 0px 10px;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.select {
  @include field-value-font;
  appearance: none;
  border: none;
  padding: 0px 32px 0px 10px;
  height: 100%;
  background-color: white;
}
