.caller {
  
}

.callerSpan {
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 7px;
  font-size: .6em;
  color: #777;
}

.callerButton {
  width: 100%;
  font-weight: 300;
  border: 0;
  padding: 0;
  outline: 0;
  padding: .3em .7em;
  cursor: pointer;
  font-size: .8em;
  text-align: center;
  background-color: transparent;
}

.callerIcon {
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 7px;
  font-size: .7em;
  color: #555;
}
