<div class='rc-panel'>
    <input class='rc-input' data-info='server' placeholder="server"></input>
    <input class='rc-input' data-info='key' placeholder="key"></input>
    <input class='rc-input' data-info='secret' placeholder="secret"></input>
    <input class='rc-input' data-info='username' placeholder="username"></input>
    <input class='rc-input' data-info='extension' placeholder="extension"></input>
    <input class='rc-input' data-info='password' placeholder="password"></input>
    <button class='rc-button' data-info='login' data-action='login' data-event='click'>login</button>
    <div class='rc-error-message' data-info='error' data-show='error'></div>
</div>
// locale
