<div class='rc-panel' data-info='callin-panel'>
    <div data-info='callin-number'></div>
    <button class='rc-button' data-action='answer'></button>
    <button class='rc-button' data-action='ignore'></button>
</div>
<div class='rc-panel' data-info='callout-panel'>
    <button class='rc-button' data-action='cancel'></button>
</div>
<div class='rc-panel' data-info='online-panel'>
    <h3 data-info='call-time'></h3>
    <button class='rc-button rc-button-important' data-action='hangup'>Hangup</button>
    <button class='rc-button' data-action='record'>Record</button>
    <button class='rc-button' data-action='hold'>Hold</button>
    <button class='rc-button' data-action='mute'>Mute</button>
</div>
