<div class='rc-panel'>
    <input class='rc-input' data-info='number'>
    <div class='rc-dial-wrapper'>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='1'>1</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='2'>2</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='3'>3</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='4'>4</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='5'>5</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='6'>6</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='7'>7</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='8'>8</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='9'>9</button>
        <button class='rc-dial-button' data-action='dialing' data-event='click' data-value='0'>0</button>
    </div>
    <button class='rc-button' data-action='callout' data-event='click'>Call out</button>
    <div class='rc-error-message'></div>
    </input>
</div>
