<div class='rc-panel'>
    <input class='rc-input' data-info='number'>
    <div class='rc-dial-wrapper'>
        <button class='rc-dial-button' data-action='dialing(1)' data-event='click'>1</button>
        <button class='rc-dial-button' data-action='dialing(2)' data-event='click'>2</button>
        <button class='rc-dial-button' data-action='dialing(3)' data-event='click'>3</button>
        <button class='rc-dial-button' data-action='dialing(4)' data-event='click'>4</button>
        <button class='rc-dial-button' data-action='dialing(5)' data-event='click'>5</button>
        <button class='rc-dial-button' data-action='dialing(6)' data-event='click'>6</button>
        <button class='rc-dial-button' data-action='dialing(7)' data-event='click'>7</button>
        <button class='rc-dial-button' data-action='dialing(8)' data-event='click'>8</button>
        <button class='rc-dial-button' data-action='dialing(9)' data-event='click'>9</button>
        <button class='rc-dial-button' data-action='dialing(0)' data-event='click'>0</button>
    </div>
    <button class='rc-button' data-action='callout' data-event='click'>Call out</button>
    <div class='rc-error-message'></div>
    </input>
</div>
