@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/layout';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  padding-bottom: 0px;
}

.content {
  @include full-size;
  box-sizing: border-box;
  border-color: $border-color;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
}

.contentWithHeader {
  height: calc(100% - #{$header-height});
}

.composeText{
  display: inline-block;
  height: 20px;
  padding-right: 15px;
  padding-top: 9px;
  width: 20px;
  path {
    fill: $primary-color;
  }
}

.tabBar {
  height: 35px !important;
  background: $snow !important;
}

.tabTitle {
  @include secondary-font;
  font-family: Lato;
  color: $night;
}
