@import 'ringcentral-widgets/lib/commonStyles/colors.scss';
@import 'ringcentral-widgets/lib/commonStyles/fonts.scss';
@import 'ringcentral-widgets/lib/commonStyles/text-ellipsis.scss';

.root {
  width: 100%;
  padding: 15px;
  padding-top: 2px;
  min-height: 75px;
  box-sizing: border-box;
  @include primary-font;
}

.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 2px;
  background: transparent;
  float: left;
  text-align: center;
  cursor: pointer;

  img {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
  }
}

.content {
  margin-left: 45px;
}

.title {
  @include secondary-font;
  margin-bottom: 6px;

  span {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.time {
  @include secondary-font;
  font-size: 12px;
  clear: both;
  text-align: center;
  margin: 5px 0 10px 0;
}

.name {
  cursor: pointer;
}
