@import '../../../lib/commonStyles/colors';
// @import '../../../lib/commonStyles/fonts';
// @import '../../../lib/commonStyles/text-ellipsis';

.root {
  border-bottom: 1px solid $silver;
}

.inputRoot {
  width: 60%;
  [sf-classic] & {
    width: 80%;
  }
}

.input {
  font-size: 18px !important;
  margin: 7px 0 !important;
  text-align: center;

  [sf-classic] & {
    margin: 5px 0 !important;
  }
}

.deleteIcon {
  padding-right: 5px;
}
