@import '../../scss/variables.scss';

.root {
  @include pageSpace();

  height: 100%;
  .svgStyle {
    display: block;
    margin: 0 auto;
  }

  .wrapperStyle {
    position: inherit;
    padding: 20px 0;
  }

  button.button {
    margin-top: 4px;
  }
}
