@import '../../scss/variables.scss';

.root {
  height: 100%;
  .svgStyle {
    display: block;
    margin: 0 auto;
  }

  .wrapperStyle {
    position: inherit;
    padding: 20px 0;
  }

  .goBackBg {
    background: rc-palette(bg, primaryLightest);
  }

  .hideGoBack {
    visibility: hidden;
  }

  .goBack {
    display: inline-flex;
    align-items: center;
    height: 28px;
    button,
    p {
      cursor: pointer;
    }
  }

  .wrapperStyle,
  .basicSession,
  .configureButton,
  .accountInfo {
    @include pageSpace();
  }

  .accountInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
  }

  button.configureButton {
    margin-top: 14px;
    width: calc(100% - 32px);
  }

  .backText {
    color: rc-palette(text, button);
  }

  .accountName {
    color: rc-palette(text, dark);
  }

  .agentType {
    color: rc-palette(text, subdued);
  }
}
