@import 'ringcentral-widgets/lib/commonStyles/colors.scss';
@import 'ringcentral-widgets/lib/commonStyles/fonts.scss';
@import 'ringcentral-widgets/lib/commonStyles/text-ellipsis.scss';

.root {
  width: 100%;
  padding: 15px;
  min-height: 75px;
  box-sizing: border-box;
  border-bottom: solid 1px $silver;
  background: $egg;
  @include primary-font;
}

.active {
  background: $silver;
}

.avatar {
  float: left;
}

.content {
  margin-left: 60px;
}

.name {
  word-wrap: nowrap;
  @include text-ellipsis;
}

.latestPost {
  word-wrap: nowrap;
  @include secondary-font;
  @include text-ellipsis;
  margin-top: 6px;
  line-height: 20px;
  height: 20px;
}
