@import '../../scss/variables.scss';

.container {
  margin: 14px $lightning-page-space;
  flex: 1 1 auto;

  [sf-classic] & {
    margin: 14px $classic-page-space;
  }
}

.footer {
  margin: 20px $lightning-page-space;
  [sf-classic] & {
    margin: 16px $classic-page-space;
  }
}

.listItem {
  @include selectList();
}
