@import '~@ringcentral-integration/widgets/lib/commonStyles/full-size';
@import '~@ringcentral-integration/widgets/lib/commonStyles/colors.scss';
@import '~@ringcentral-integration/widgets/lib/commonStyles/text-ellipsis.scss';

.root {
  @include full-size;
  padding-top: 0;
  padding-bottom: 0;
  background: $egg;
}

.header {
  padding: 0 20px;
  line-height: 38px;
  border-bottom: solid 1px $silver;
  box-sizing: border-box;
  @include text-ellipsis;
}

.backIcon {
  display: inline-block;
  height: 18px;
  width: auto;
  margin-right: 10px;
  vertical-align: text-top;
  cursor: pointer;
}

.content {
  padding: 0 0 0 20px;
  background: $snow;
  border-bottom: solid 1px $silver;
}

.inputArea {
  box-sizing: border-box;
  padding: 0 20px;
}
