@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/variable';

.root {
  @include full-size;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

// fix animation freeze a bit under high load
div[class*='MuiCircularProgress-indeterminate'] {
  animation: circular-rotate 1.4s linear infinite;
}

@keyframes circular-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
