$error-color: #ff3737;

$new-outlook-lr-padding: 20px;

$old-outlook-lr-padding: 20px;

/* theme colors */
$theme-map: ('rc', #0684BD),
            ('att', #067AB4),
            ('telus', #57a708),
            ('bt', #00528E),
            ('officeBlue', #0278d7);

$border-old-color: #979797;
$border-new-color: #a6a6a6;


$google-dropwnload-bg: #f1f3f4;
$dropdown-google-height: 36px;
$dropdown-google-line-height: 36px;
$dropdown-google-border-color: #f1f3f4;