@import '../../lib/commonStyles/colors.scss';

.root {
  text-align: center;
  font-size: 60px;
  color: lightblack;
  margin-bottom: 15px;
}

.avatarContainer {
  display: block;
}

.userName {
  font-size: 15px;
  color: $lightblack;
}

.userPhoneNumber {
  font-size: 12px;
  color: $grey-light;
  margin-top: 5px;
}
