@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/reset.scss';

.section {
  padding: 10px 0;
  margin: 0 20px;
  min-height: 16px;
  border-top: 1px solid $silver;
}

.title {
  font-size: 13px;
  font-weight: bold;
  color: $night;
  align-items: center;
  display: flex;
}

.dropDown {
  transform: rotate(180deg);
}

.arrow {
  color: $ash;
  font-size: 13px;
}

.hiddenTopBorder {
  border-top: none;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rcuiStyle {
  &.section {
    margin: 0;
    border: none;
    padding: 0;
  }
  .title {
    font-size: 14px;
    transform: scale(0.75) translate(-12px, 1.5px);
    font-weight: normal;
    color: #9e9e9e;
  }
}
