@import '../../lib/commonStyles/colors.scss';

.inviteBox {
  flex-shrink: 0;
  height: 35px;
  padding: 20px;
  background-color: transparent;
  box-shadow: none;
}

.withShadow {
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: $snow;
}

.button {
  outline: none;
  border: none;
  background-color: $primary-color;
  width: 100%;
  height: 35px;
  border-radius: 17.5px;
  text-align: center;
  line-height: 17.5px;
  color: $snow;
  font-size: 13px;
}

.disabled {
  background-color: $silver;
}
