.alertHolder {
  position: relative;
  box-sizing: border-box !important;
  padding: 10px 20px 0px 20px;
  width: 100%;
}

.alert {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 30px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 0.81em;
  line-height: 1.3em;
  color: #FFFFFF;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  z-index:10;
  box-sizing: border-box !important;
  a {
    text-decoration: none;
    color: #0684bd;
  }

  a:hover {
    text-decoration: none;
  }

  a.dismiss {
    color: inherit;
  }
}

.dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.6em;
  cursor: pointer;
}

.success {
  composes: alert;
  background-color: #90ce91;
  border-color: #90ce91;
}

.info {
  composes: success;
}

.warning {
  composes: alert;
  background-color: #efc477;
  border-color: #efc477;
}

.danger {
  composes: alert;
  background-color: #f19d9d;
  border-color: #f19d9d;
}
