@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.dialog {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .closeBtn {
    position: absolute;
    top: 8px;
    right: 11px;
  }
  .header {
    color: $night;
    // border-bottom: $silver solid 1px;
    justify-content: center;
    align-items: center;
    display: flex;

    background-color: $egg;
    font-size: 13px;
    padding: 8px 0;
    min-height: 15px;
    .headerText {
      max-width: 75%;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .content {
    padding: 15px 10px 0;
    font-size: 13px;
    color: $night;
  }
  .footer {
    padding: 8px;
    text-align: right;
    .btn {
      font-size: 13px;
      display: inline-block;
    }
  }
}

.flatBtn {
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 1;
  color: $primary-color;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 1.3;
  padding: 5px 8px;
  font-size: 13px;
  display: inline-block;
  .text {
    text-transform: uppercase;
  }
}

.flatBtn + .flatBtn {
  margin-left: 10px;
}

.confirmBtn {
  background-color: $primary-color;
  color: $snow;
  &:hover {
    opacity: 0.7;
  }
}

.cancelBtn {
  color: $primary-color;
  background: $snow;
  &:hover {
    background-color: $primary-color;
    color: $snow;
  }
}
