@import '../../lib/commonStyles/colors';
$padding-horizontal:20px;
$avatar-basis:45.5px;
$button-basis:68.5px;

.pointer {
  cursor: pointer;
}

.strechVertical {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.callItemContainer {
  padding: $padding-horizontal*3/4 $padding-horizontal;
  border-bottom: 1px solid #e2e2e2;

  .wrapper {
    overflow: visible;

    .content {
      max-width: calc(100% - #{$avatar-basis+$button-basis});
      flex-shrink: 1;
    }

    .webphoneButton {
      flex-basis: $button-basis;

      &:not(:last-of-type) {
        margin-right: $padding-horizontal/2;
      }

      .answerButton,
      .mergeButton,
      .holdButton,
      .rejectButton {
        width: 24px;
      }

      .answerButton,
      .rejectButton {

        g,
        path {
          fill: $snow;
        }
      }

      .answerButton {
        circle {
          fill: $call-btn-color;
        }
      }

      .mergeButton {
        circle {
          fill: $snow;
          stroke: $primary-color;
          stroke-width: 15px;
        }

        g,
        path {
          fill: $primary-color;
        }
      }

      .disabled,
      .disabled * {
        circle {
          fill: $smoke;
        }

        cursor: not-allowed;
      }

      .rejectButton {
        circle {
          fill: #ff4646;
        }
      }

      .holdButton {
        circle {
          fill: $snow;
          stroke: $primary-color;
          stroke-width: 15px;
        }

        g,
        path {
          fill: $primary-color;
        }
      }

      .holdButton.active {
        circle {
          fill: $primary-color;
        }

        g,
        path {
          fill: $snow;
        }
      }
    }
  }
}

.callDetail {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  color: #979797;

  .label {
    margin-right: 5px;
  }

  .split {
    margin: 0 5px;
  }
}

// overwrite <DropDownSelect/>
.contactDisplay,
.contactDisplay * {
  color: $lightblack !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .icon {
    display: none;
  }
}
