@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';

.root {
  @include full-size;
  height: 100%;
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.noContacts {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
}

.contactGroup {
  position: relative;

  .groupCaption {
    position: sticky;
    top: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    z-index: 2;
  }
}
