@import '../../scss/variables.scss';

.root {
  height: 100%;
  .svgStyle {
    display: block;
    margin: 0 auto;
  }

  .wrapperStyle {
    position: inherit;
    padding: 20px 0;
  }

  .title {
    text-align: center;
    margin: 8px 0 32px;
    color: rc-palette('neutral', 'f04');
  }

  .accountName {
    color: rc-palette('neutral', 'f06');
  }

  .agentType {
    color: rc-palette('neutral', 'f04');
  }

  .lists {
    height: calc(100% - 136px);
    overflow-y: auto;
  }

  div.listItem.listItem {
    height: 56px;
    width: 100%;

    .content {
      height: 56px;
      width: 100%;
      border-bottom: 1px solid rc-palette('neutral', 'l02');
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: inline-block;
      }
    }
  }

  .accountName {
    padding-bottom: 4px;
  }
}
