@import '../../lib/commonStyles/colors';

.container {
  position: relative;
  display: block;
  padding-right: 10px;
}

.removeButton {
  position: absolute;
  right: 16px;
  bottom: 2px;
  width: 10px;
}

.inputField {
  padding-right: 20px;
}

.numberInput {
  color: #303030;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  height: 27px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  &::placeholder {
    font-size: 13px;
  }
}

.contactsDropdown {
  width: 100%;
}

.selectReceivers {
  margin-bottom: 2px;
  margin-top: 15px;
  padding: 0;

  li {
    position: relative;
    color: #fff;
    background-color: #66d17b;
    border-radius: 20px;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 2px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 23px 5px 10px;

    span {
      margin-left: 5px;
      font-weight: 200;
    }
  }

  .blue {
    background-color: $rc-blue;
    opacity: 0.6;
  }
}

.removeReceiver {
  position: absolute;
  bottom: 4px;
  right: 9px;
  width: 10px;
  color: #ffffff!important;
}
