@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/text-ellipsis';

.loggedIcon {
  path {
    stroke: $primary-color;
  }
}
.unloggedIcon {
  path {
    stroke: $primary-color;
  }
}
.logIcon {
  display: flex;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    g {
      stroke: $coin;
    }
    path {
      stroke: $coin;
    }
    circle {
      stroke: $coin;
    }
    .loggedIcon {
      path:nth-child(3) {
        fill: $coin;
      }
      path:nth-child(5) {
        stroke: #FEFEFE;
      }
    }
  }
}

.isSaving {
  // color: $ash;
  // pointer-events: none;
  // cursor: not-allowed;
}
