@import '../../lib/commonStyles/colors';

.root {
  min-height: 70px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 6px;
}

.root:first-child {
  margin-top: 6px;
}

.root:last-child {
  margin-bottom: 15px;
}

.wrapper {
  display: block;
  position: relative;
  background: #fff;
  height: 69px;
  margin-right: 17px;
  margin-bottom: 1px;

  // &:hover {
  //   background-color: #fafafa;
  //   border-bottom: 1px solid #efefef;
  // }
}

.callIcon {
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  width: 40px;
  height: 66px;
  line-height: 60px;
  font-size: 22px;
  text-align: center;
  color: #666;
}
.activeCall {
  color: $active;
}

@keyframes ringing {
  0% {
    text-shadow: 0px 0px 1px $active;
  }
  100% {
    color: #2ce44d;
    text-shadow: 0px 0px 10px #2ce44d;
  }
}

.activeCall.ringing {
  animation-name: ringing;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.details {
  position: absolute;
  left: 46px;
  bottom: 15px;
  font-size: 12px;
  color: #979797;
}

.contactDisplay {
  position: absolute;
  top: 0px;
  left: 45px;
	width: auto !important;
  line-height: 38px;
}

.missed {
  color: $missed;
  button {
    color: $missed;
  }
}

.webphoneButtons {
  position: absolute;
  left: 194px;
  bottom: 7px;
}

.webphoneButton {
  display: inline-block;
  font-size: 15px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
  background: #4cd964;
  text-align: center;
  margin: 2px;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

.rejectWebphoneButton {
  background: #ff4646;
}

.active {
  color: $active;
  button {
    color: $active;
  }
}

.dropdownSelect {
  ul {
    left: 0;
    margin-left: -5px;
  }
}
