.containner {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #666666;
  }
}

.hiddenRemoveButton {
  color: transparent;
  text-decoration: none !important;
  &:hover {
    color: transparent;
  }
  &:focus {
    outline: none;
  }

}
