@import '../../lib/commonStyles/vertical-align';
@import '../../lib/commonStyles/no-select';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.label {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 10px;
  padding-left: 1px;
  @include field-label-font;
}

.inputHolder {
  @include no-select;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  text-align: center;
}

