@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/buttons';
@import '../../lib/commonStyles/fonts';

.videoPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  label[class*='Switch'] {
    flex-shrink: 0;
  }
}

.videoConfig {
  height: 100%;
  overflow-y: scroll;
  font-family: $juno-font-family;
}

.meetingContent {
  padding: 15px 0;
}

.meetingSection {
  padding: 0px 16px;
}

.select {
  flex-grow: 1;
  width: 50%;
}

.hourDuration {
  display: inline-flex;
  width: calc(50% - 6px);
}

.minuteDuration {
  display: inline-flex;
  width: calc(50% - 6px);
  margin-left: 12px;
}

div.videoConfig div.meetingSettings div.expansionPanel {
  background: transparent;
  box-shadow: none;
}

div.videoConfig div.expansionPanelSummaryDisabled {
  opacity: inherit;
  user-select: inherit;
}

div.videoConfig div.expansionPanel div.expansionPanelSummary {
  font-weight: bold;
  color: #212121;
  height: 44px;
  font-size: 15px;
  padding: 0 16px;
  min-height: 44px;
}

div.expansionPanelSummaryContent {
  margin: 0 0;
}

div.videoConfig div.expansionPanel div.expansionPanelDetails {
  padding: 0;
  border: 0;
  flex-direction: column;
}

.toggleGroup {
  width: 100%;
}

div.expansionPanel div.toggleGroup label.labelPlacementStart {
  margin: 0;
  padding: 11px 16px;
  justify-content: space-between;
}

div.expansionPanel
  div.toggleGroup
  label.labelPlacementStart
  .checkInputWrapper {
  padding: 0;
}

// RCTextField
:global .myinput {
  font-size: 0.875rem !important;
}

.inputArea {
  padding: 0 16px 0 16px;
}

.personMeetingInfo {
  @include secondary-font;
}

.authUserType {
  padding: 0 16px 8px;
}

.boxSelect {
  max-width: 100% !important;
}
