@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/buttons';
@import '../../lib/commonStyles/fonts';

$content-padding: 20px;
$row-space: 10px;

.videoPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  label[class*='Switch'] {
    flex-shrink: 0;
  }
}

.videoConfig {
  height: 100%;
  overflow-y: scroll;
  font-family: $juno-font-family;
}

.meetingContent {
  padding: $content-padding 0;
}

.meetingSection {
  padding: 0 $content-padding;
}

.select {
  flex-grow: 1;
  width: 50%;
}

$hour-minute-space: 12px;
.hourDuration {
  display: inline-flex;
  width: calc(50% - #{$hour-minute-space / 2});
}
.minuteDuration {
  display: inline-flex;
  width: calc(50% - #{$hour-minute-space / 2});
  margin-left: $hour-minute-space;
}

.pmiLabel {
  display: flex;
  flex-wrap: wrap;
}

label.labelPlacementStartRoot {
  margin: 0;
  padding: $row-space/2 $content-padding/2 $row-space/2 $content-padding;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .labelText {
    line-height: normal;
    padding-top: 11px;
  }
}

label.labelPlacementEndRoot {
  margin: 0;
  padding: $row-space/2 $content-padding $row-space/2 0;
  display: flex;
  align-items: flex-start;

  .labelText {
    width: 100%;
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    line-height: normal;
  }
}

// RCTextField
:global .myinput {
  font-size: 0.875rem !important;
}

.passwordInput {
  padding: 0 $content-padding !important;

  .passwordLabel {
    font-weight: 700 !important;
    font-size: 12px !important;
    left: inherit !important;
  }

  input {
    font-size: 15px !important;
  }
}

.boxSelectWrapper {
  padding: $row-space/2 $content-padding;
  box-sizing: border-box;
  width: 100%;
}

.boxSelect {
  max-width: 100% !important;

  & > div > div {
    display: block !important;
  }
}

.boxSelectMenuItem {
  display: block !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkboxSeparate {
  margin-left: 8px;
}

.iconCombine {
  @extend .checkboxSeparate;
  display: flex;
  align-items: center;
}

$win-scroll-bar-width: 17px;

.tooltip {
  max-width: 100% !important;
}

.popper {
  margin-right: 15px !important;
  margin-left: 25px !important;
}

.popperOfWin {
  margin-left: 20px;
  margin-right: calc(15px + #{$win-scroll-bar-width}) !important;
}

.lockButton {
  color: #6c7489; // need to migrate using juno token "$color-icon-default"
}

.pmiAlertContainer {
  margin: 0 $content-padding;
}
