[class*=_styles_section_] .rw-widget {
  font-size: 0.857em;
}

[class*=_styles_section_] .rw-widget>.rw-widget-container,
[class*=_styles_section_] .rw-state-focus>.rw-widget-container,
[class*=_styles_section_] .rw-state-focus>.rw-widget-container:hover {
  border: none;
  box-shadow: none;
}

[class*=_styles_section_] .rw-widget-picker {
  height: 1.2em;
}

[class*=_styles_section_] .rw-datetime-picker .rw-select,
[class*=_styles_section_] .rw-widget-input.rw-widget-picker.rw-widget-container .rw-select button
{
  display: none;
}

[class*=_styles_section_] .rw-datetime-picker .rw-widget-input {
  padding: 0;
  box-shadow: none;
}

[class*=_styles_section_] .rw-list-empty,
[class*=_styles_section_] .rw-list-option,
[class*=_styles_section_] .rw-list-optgroup {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

[class*=_styles_section_] .rw-dropdown-list-input {
  padding-left: 0;
}
