@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/no-select';

.root {
  position: relative;
  width: 100%;
  box-sizing: border-box
}

.root:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.btnSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.circle {
  fill: transparent;
  stroke-width: 10;
  font-weight: 100;
  stroke: $primary-color;
  opacity: 0.3;
}

.noBorder {
  stroke: transparent;
}

.btnSvgGroup {
  @include no-select;
  cursor: pointer;

  &:hover {
    .circle {
      opacity: 0.5;
    }
    .noBorder {
      stroke: transparent;
    }
  }
}

.icon {
  g, path, rect {
    fill: $primary-color;
  }
}