.wrapper {
  margin: 10px 0 2px 0;
}

.alert {
  padding: 12px 16px !important;
}

.plaintext {
  font-size: 12px;
  color: #979797;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
