@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/fonts';

.inviteBox {
  flex-shrink: 0;
  padding: 3px 20px 16px;
  background-color: transparent;
  box-shadow: none;
  :first-child[data-sign='meetingScheduleButton'] {
    margin-top: 13px;
  }
}

.withShadow {
  border-top: 1px solid rc-palette('neutral', 'l02');
  position: relative;
  background-color: $snow;
}

.onlyButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -20px;
}

.actionPrompt {
  color: #212121;
  font-size: 14px;
  text-align: left;
  margin-top: -63px;
  position: absolute;
  line-height: 24px;
  padding: 0 20px;
  left: 0;
  span {
    font-size: 13px;
    color: #616161;
    line-height: 20px;
    font-weight: normal;
    display: block;
    margin-top: 16px;
  }
}

.notShowAgain {
  margin-bottom: 10px;
}
.saveAsDefault {
  margin-left: 1px !important;
}
.saveAsDefaultLabel {
  font-size: 14px !important;
}

.gutter {
  margin-top: 8px;
}
