.weekdaysSelect{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}
.weekdayItem {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eee;
  font-size: 14px;
  color: #212121;
  text-align: center;
  line-height: 32px;
  margin-right: 12px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}
.weekdaysSelect:last-child {
  margin-right: 0;
}
.active {
  color: #fff;
  background-color: #066FAC;
}
