@import '../../../scss/variables.scss';

.dialerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.recipient {
  margin-top: 6px;
  width: 100%;
  display: flex;

  .recipientInput {
    caret-color: $primary-color;
    margin-left: $lightning-page-space;
    margin-right: $lightning-page-space;

    [sf-classic] & {
      margin-left: $classic-page-space;
      margin-right: $classic-page-space;
    }
  }
}

.dialerPad {
  width: 75%;
  margin: 10px auto 6px;

  [sf-classic] & {
    width: 90%;
  }

  // TODO: remove this part after JUNO upgrade
  button span {
    right: 0;
    bottom: 0;
  }
}
