$sidebar-width: 220px;

.root {
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  width: $sidebar-width;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}

.main {
  position: relative;
  display: inline-block;
  width: calc(100% - #{$sidebar-width});
  padding-top: 10px;
  padding-left: 30px;
  text-align: left;
  min-height: 500px;
  font-size: 16px;
  vertical-align: top;
}

.navigation {
  overflow: auto;
  padding: 10px 30px 10px 10px;
  max-height: 560px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background: #ffffff;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    padding: 0 0 0 20px;

    a {
      font-size: 14px;
      color: #585858;
      padding: 10px 0 10px 0;
      display: block;
      border-bottom: 1px solid #e8e8e8;
      text-decoration: none;
    }
  }
}

.fixed {
  position: fixed;
  top: 10px;
  width: $sidebar-width;
  z-index: 2;
}
