.recentActivityView {
  height: 100%;
}
.navigationBar {
  background: #fff !important;
}
.listView {
  height: calc(100% - 100px);
  padding-top: 10px;
  overflow-y: auto;
}
.gmail {
  margin-top: 15px;
}
