@import '~ringcentral-widgets/lib/commonStyles/colors.scss';
@import '~ringcentral-widgets/lib/commonStyles/full-size';
@import '~ringcentral-widgets/lib/commonStyles/vertical-align';

.row {
  padding: 10px 0 6px 0;
}

.customTextField {
  overflow: hidden;
  text-overflow: ellipsis;
  // TODO: that will remove in rcui
  &:disabled {
    color: rgba(0, 0, 0, 0.38) !important;
  }
}

.select {
  color: rgba(158, 158, 158, 0.92) !important;
  font-size: 20px;
  margin-right: 6px;
}

.item {
  font-size: 0.875rem !important;
}
