@import '~@ringcentral-integration/widgets/lib/commonStyles/normalize';
@import '~@ringcentral-integration/widgets/lib/commonStyles/font-lato';
@import '~@ringcentral-integration/widgets/lib/commonStyles/full-size';
@import '~@ringcentral-integration/widgets/lib/commonStyles/colors';

:global div#viewport {
  @include full-size;
  position: absolute;
}

body {
  background: #fff;
}

input {
  background-color: transparent;
}

.root {
  @include full-size;
  background-color: $lightgray;
}
