@import 'ringcentral-widgets/lib/commonStyles/full-size.scss';
@import 'ringcentral-widgets/lib/commonStyles/layout.scss';
@import 'ringcentral-widgets/lib/commonStyles/reset.scss';
@import 'ringcentral-widgets/lib/commonStyles/colors.scss';

.root {
  @include full-size;
  border-right: solid 1px $silver;
}

.header {
  padding: 10px 20px;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e4e5;
}

.content {
  @include full-size;
  height: calc(100% - 50px);
  padding-top: 0;
  padding-bottom: 0;
}

.searchInput {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 0;
  border-radius: 15px;
  border: solid 1px #e9e9e9;

  span {
    top: 7px;
  }

  input {
    height: 26px;
    width: calc(100% - 30px);
  }
}

.addTeam {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: solid 1px #c3c3c3;
  text-align: center;
  color: #a1a1a1;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 19px;
}
