@import '../../scss/variables.scss';

$root-lightning-height: 70px;
$root-classic-height: 90px;
$lightning-content-width: 224px;
$classic-content-width: 144px;

.root.root {
  top: $header-height;
  height: calc(100% - #{$header-height});
}

.callLogCallControl {
  height: 72px !important;
}

.noneShadow {
  box-shadow: none;
}

.infoMain {
  [sf-classic] & {
    padding-left: 36px !important;
  }
}

// TODO: When new smallCallControl is introduced in widgets,
//we can edit this part in widgets
.smallCallControlRoot {
  height: unset !important;
  padding: 0 !important;
}

.paper {
  margin-top: -48px;
  [sf-classic] & {
    margin-top: -32px;
    left: 48px !important;
  }
}
.submitButton {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 $lightning-page-space;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.15);
}
