@import '../../scss/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.label {
  font-size: 14px;
  [sf-classic] & {
    font-size: 12px;
  }
}
