@import '../../lib/commonStyles/fonts.scss';
@import '../../lib/commonStyles/colors';

.root {
  @include secondary-font;
  z-index: 10;
  position: absolute;
  top: 46px;
  right: 10px;
}

.phoneBage {
  box-sizing: content-box;
  background: $call-btn-color;
  padding: 0;
  text-align: center;
  width: 100px;
  font-size: 10px;
  color: $snow;
  height: 20px;
  line-height: 20px;
  font-weight: 300;
  top: 10px;
  right: 10px;
}

.activeIcon {
  padding-right: 5px;
  position: relative;
  top: -1px;
}
