.root {
  position: absolute;
  top: 9px;
  right: 10px;
}

.phoneBage {
  background: #00d960;
  padding: 0 10px;
  text-align: center;
}

.activeIcon {
  padding-right: 2px;
  position: relative;
  top: -1px;
}
