@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';
@import '../../lib/commonStyles/layout';

@mixin DialInNumberList {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    line-height: 17px;
    height: 17px;
    padding: 9px 0 10px;
    display: flex;

    .checkbox {
      flex-shrink: 0;
    }

    .region {
      color: $night;
      @include secondary-font;
      margin: 0 10px;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .phoneNumber {
      font-family: $font-family;
      font-size: $tertiary-font-size;
      color: $ash;
      white-space: nowrap;
    }
  }

  li:first-child {
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include secondary-font;
  background-color: #ffffff;

  label {
    color: $night;
  }
}
.main {
  padding: 15px 20px 0;
  flex-grow: 1;
  overflow: auto;
}
.bottom {
  padding: 10px 20px;
}
.overlapped {
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
}
.title {
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
}
.section {
  margin: 0;
  padding: 12px 0;
  border-top: none;
  border-bottom: 1px solid $silver;

  .linkLine {
    background: transparent;
    border: none;
    min-height: initial;
    padding: 0;
    margin-top: 12px;

    > div {
      font-size: 13px;
    }
  }

  ul.dialInNumberList {
    @include DialInNumberList;

    max-height: 60px;
    overflow: auto;
    margin: 10px 0 0;

    li {
      padding: 4px 0 5px;
    }
  }
}

.dialInNumber {
  padding-bottom: 24px;

  .select {
    height: 28px;
  }
  ul {
    max-height: 200px;
  }
}

.formGroup {
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label {
    flex-grow: 1;
  }

  .field {
    color: $ash;
  }

  &.hasTopMargin {
    margin-top: 12px;
  }

  &.hasBottomBorder {
    border-bottom: 1px solid $silver;
  }

  &.noPadding {
    padding: 0;
  }
}

.button {
  margin: 10px 0;
  line-height: 32px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px $primary-color-highlight;
  background-color: $snow;
}

.primaryButton {
  @extend .button;
  background-color: $primary-color;
  color: $snow;
}

.primaryButton:hover {
  color: $silver;
}

.selectNumberPage {
  .dialInNumberList {
    @include DialInNumberList;

    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - #{$header-height});
    overflow: auto;
    padding: 15px 20px;
  }
}

.dialInNumberItem {
  display: flex;

  .region {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1em;
  }
}

