import React from 'react';
{{#each imports}}
  {{#each this}}
import {{name}} from '{{path}}';
  {{/each}}
{{/each}}

import styles from './app.css';

const App = function App(props) {
  return (
    <div>
      {{#each dependencies}}
      <div className={styles.line}>
        {{#each this}}
        <div className={styles.container}>
          <h1>{{name}}</h1>
          <div className={styles.app}>
            <{{name}} />
          </div>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  );
};

export default App;
