@import '../../../lib/commonStyles/variable';

.icon {
  color: rc-palette(icon, default);

  &.missed {
    color: rc-palette(semantic, negative);
  }

  &.active {
    color: rc-palette(semantic, positive);
  }
}
