@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/fonts.scss';

.smWraper {
  width: 50px;
}
.button {
  width: 50%;
  box-sizing: border-box;
  padding: 2px;
  height: 25px;
}

.hangup {
  circle {
    fill: #ff4646;
  }
  g,
  path {
    fill: #ffffff;
  }
}
.buttonDisabled {
  circle {
    fill: $lightgray;
    stroke: $gray;
  }
  path {
    fill: $primary-color-highlight-solid;
  }
  g {
    cursor: default;

    &:hover {
      circle {
        stroke: $gray;
      }
    }
  }
}
