@import '../commons/theme';

$border-old-style: 1px solid $border-old-color;
$border-new-style: 1px solid $border-new-color;

.disabled,
.textField {
  padding: 0 4px 8px;
  width: 100%;
  height: 22px;
  border-bottom: $border-new-style;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.textField {
  outline: none;
}

.isOld {
  &.disabled,
  .textField {
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    border-bottom: $border-old-style;
    border-top: $border-old-style;
    border-left: $border-old-style;
    border-right: $border-old-style;
  }
}

.google {
  border: 1px solid $dropdown-google-border-color !important;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-radius: 4px;
  background-color: #f1f3f4;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
}

.disabled {
  color: rgb(166, 166, 166);
  cursor: not-allowed;

  &.isOld {
    color: inherit;
    background: #eaeaea;
    border-color: #c8c8c8 !important;
  }
}

.error {
  .textField {
    border-color: $error-color !important;
  }

  .message {
    display: block;
    color: $error-color;
    font-size: 11px;
    margin-top: 8px;
  }
}
