@import '../../lib/commonStyles/full-size';

.root {
  @include full-size;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba( 0, 0, 0, 0.7);
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
}
