@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/vertical-align';
@import '../../lib/commonStyles/text-ellipsis';

@mixin defaultButton($buttonHeight) {
  height: $buttonHeight;
  line-height: $buttonHeight;
  border-radius: $buttonHeight/2;
  text-align: center;
  font-size: 12px;
}

.container {
  margin-top: 2px;
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 14px;
  @include text-ellipsis;
}

.expandButton {
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  border: solid 1px $primary-color;
  border-radius: 100px;
  color: $primary-color;
  margin-top: 12px;
  font-size: 12px;
}

.expandButtonWithEnd {
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 22px;
  border: solid 1px $primary-color;
  border-radius: 50%;
  color: $primary-color;
  font-size: 11px;
  margin-left: 5px;
}

.expandDisableButton {
  color: #c7c7c7;
  border-color: #e2e2e2;
}

.confirmationContainer {
  margin:  0 10px;
}

.confirmationInfo {
  font-size: 12px;
  text-align: left;
  color: #2f2f2f;
}

.confirmationButtons {
  padding-top: 5px;
  margin-bottom: 10px;
}

.saveButton {
  @include defaultButton(30px);
}

.selected {
  color: #ffffff;
  background-color: $primary-color;
  margin: 8px 0;
  &:hover {
    color: #fff;
  }
}

.discardButton {
  @include defaultButton(26px);
}

.stayButton {
  @include defaultButton(26px);
}


.extraButtonBox {
  display: flex;
  margin-top: 12px;
}
.endButton {
  width: 25px;
  box-sizing: border-box;
  height: 25px;
}
.hangup {
  circle {
    fill: #ff4646;
  }
  g,
  path {
    fill: #ffffff;
  }
}
.buttonDisabled {
  circle {
    fill: $lightgray;
    stroke: $gray;
  }
  path {
    fill: $primary-color-highlight-solid;
  }
  g {
    cursor: default;

    &:hover {
      circle {
        stroke: $gray;
      }
    }
  }
}