@import 'mixins.css';
@import 'variables.css';

.container {
  width: 100%;
  height: 100%;
  padding: 1.1em;
}

.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: space-around;
}

.bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.callButton {
  @mixin button;
  @mixin circle;
  display: block;
  margin: 0 auto;
  font-size: 1.1em;
  width: 2.6em;
  height: 2.6em;
  padding: .2em;
  border: 0;
  background-color: #4CD964;
  color: #fff;
}

.phoneInput {
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1.6em;
  color: #555;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
}
