@import "../../lib/commonStyles/full-size";
@import "../../lib/commonStyles/no-select";
@import "../../lib/commonStyles/colors";
@import "../../lib/commonStyles/fonts";

.root {
  @include full-size;
  background-color: #fff;
}

.loginButton {
  @include no-select;
  position: absolute;
  border: none;
  outline: 0;
  background-color: $primary-color;
  color: #fff;
  border-radius: 3px;
  width: 80%;
  height: 32px;
  line-height: 30px;
  box-sizing: border-box;
  top: 40%;
  left: 50%;
  margin-top: -15px;
  margin-left: -40%;
  font-family: $font-family;
  font-size: 12px;
  font-weight: bold;
}

.loginButton:active {
  background-color: $primary-color-highlight;
}

.loginButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.signUpButton {
  @include no-select;
  position: absolute;
  outline: 0;
  color: $primary-color;
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px $primary-color;
  width: 80%;
  height: 32px;
  line-height: 30px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -40%;
  font-family: $font-family;
  font-size: 12px;
  font-weight: bold;
}

.signUpButton:active {
  color: $primary-color-highlight;
  border-color: $primary-color-highlight;
}

.signUpButton:disabled {
  color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}

.versionContainer {
  @include secondary-font;
  color: $darkgray;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
