@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/text-ellipsis';

.dropdownList {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 5;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  list-style: none;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,.175);
  max-height: 265px;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    padding: 7px 10px 8px 10px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  li.active {
    color: $primary-color;

    .name {
      color: $primary-color;
    }
  }
}

.contactItem {
  color: #797979;
  font-size: 13px;
}

.name {
  color: #303030;
  font-weight: bold;
}

.label {
  @include text-ellipsis;
}

.spliter {
  padding: 0 5px;
}

.nameSection {
  @include text-ellipsis;
}

.dncNameSection {
  display: inline-block;
  max-width: 220px;
  vertical-align: middle;
}

.phoneNumberSection {
  @include text-ellipsis;
}

.clickable {
  cursor: pointer;
}

.doNotCall {
  display: inline-block;
  color: #6a7186;
  padding: 6px;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 0;
  margin: -3px 0 -2px;
  &:hover {
    background-color: rgba(106, 113, 134, 0.08);
  }
}
