@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/fonts';

$tabBar-height: 35px;

.root {
  @include full-size;
  padding-bottom: 0px;
}

.content {
  @include full-size;
  box-sizing: border-box;
  border-color: $border-color;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  height: calc(100% - #{$tabBar-height});
}

.tabBar {
  height: 36px !important;
  background: $snow !important;
}

.tabTitle {
  @include secondary-font;
  color: $night;
}

.active{
  color: $primary-color;
}
