@import '../../lib/commonStyles/colors';

.root {
  text-align: center;
  color: #303030;
  font-size: 14px;
}
.content {
  line-height: 40px;
}

.select {
  display: inline-block;
  width: 180px;
  height: 25px;
  border: 0px;
  button {
    margin: 0px;
    font-size: 14px;
  }
}

.select:after {
  line-height: 20px;
  color: #979797;
}

