@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  background: #ffffff;
  overflow-y: auto;
}

.list {
  display: block;
}

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}

.listTitle {
  @include secondary-font;
  line-height: 16px;
  font-weight: bold;
  color: #2f2f2f;
  padding: 14px 20px 0 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.contactDisplay {
  width: calc(100% - 40px);
}

.activeContactDisplay {
  width: calc(100% - 40px);
  text-align: left;
}

.littleContainer {
  top: 35px;
  height: 66px;
  .littleModal {
    margin: 0 20px;
    height: 100%;
    .littleContent {
      height: 100%;
    }
  }
}
