@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors.scss';

$avatar-width: 60px;

.root {
  @include full-size;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #ffffff;
  text-align: center;
}

.backButton {
  color: $lightblack;
  &:hover {
    color: $lightblack;
  }
}

.backIcon {
  transform: rotate(90deg);
  position: absolute;
  top: 5px;
  left: 10px;
}

.backLabel {
  position: absolute;
  top: 5px;
  left: 34px;
}

.userInfo {
  display: inline-block;
  text-align: left;
  color: $lightblack;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.avatarContainer {
  display: inline-block;
  width: $avatar-width;
  vertical-align: top;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  color: $primary-color;
  margin-bottom: 5px;

  .icon {
    display: block;
    font-size: 38px;
  }
}

.infoContent {
  display: inline-block;
  width: calc(100% - #{$avatar-width});
  vertical-align: top;
}

.userName {
  font-size: 15px;
  color: $lightblack;

  .splitLine {
    padding: 0 7px;
  }
}

.contactDisplay {
  display: inline-block;
  line-height: 16px;
}

.contactNameSelect {
  width: 100%;
}

.userPhoneNumber {
  font-size: 12px;
  color: $grey-light;
  margin-top: 5px;
}

.timeCounter {
  color: $grey-light;
  font-size: 12px;
}
