@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';

.root {
  @include full-size;
  font-family: Helvetica;
  box-sizing: border-box;
  background: #ffffff;
  * {
    box-sizing: border-box;
  }

  label {
    font-weight: normal;
    margin-bottom: 0;
  }
}

.senderField {
  margin: 0 0 5px 0;
  padding: 0 20px 1px 20px;
  border-bottom: #e3e3e3 1px solid;
	transition: height 0.5s ease-in;
  color: #797979;
}
.hiddenField {
  height: 0px;
}

