@import '../../lib/commonStyles/colors';

.duration {
  display: inline-block;
  color: $ash;
  font-size: 13px;
  cursor: pointer;
}
.currentCallBtn {
  display: inline-block;
  min-width: 66px;
  max-width: 110px;
  height: 18px;
  line-height: 18px;
  border-radius: 10.5px;
  border: solid 1px $leaf;
  color: $leaf;
  font-size: 11px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  vertical-align: middle;
  box-sizing: content-box;
}
.currentCallBtn:hover {
  color: $leaf;
}
.viewCallsBtn {
  display: inline-block;
  width: 66px;
  height: 18px;
  line-height: 18px;
  border-radius: 10.5px;
  border: solid 1px $orange;
  color: $orange;
  font-size: 11px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  vertical-align: middle;
  box-sizing: content-box;
}
.viewCallsBtn:hover {
  color: $orange;
}
.currentCallInfo {
  display: inline-block;
  font-size: 13px;
  color: $ash;
  cursor: pointer;
  text-overflow: ellipsis;
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 35px;
  vertical-align: middle;
}
.wrap {
  height: 30px;
  overflow: hidden;
  position: absolute;
  top: 30;
  left: 100;
  width: 100%;
}
.content p {
  position: absolute;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.box {
  position: absolute;
  width: 210px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.callInfoBarV2 {
  display: flex;
  align-items: baseline;
  justify-content: center;

  .currentCallInfo {
    max-width: 160px;
  }
  .viewCallsBtn,
  .currentCallBtn {
    width: auto;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    border: none;
    color: $snow;
    margin-left: 8px;
  }
  .viewCallsBtn:hover,
  .currentCallBtn:hover {
    color: $snow;
  }
  .viewCallsBtn {
    background-color: $orange;
    padding: 0 8px;
  }
  .currentCallBtn {
    background-color: $leaf;
  }
}
