import React from 'react';
{{#each imports}}
import {{name}} from '{{path}}';
{{/each}}

import styles from './app.css';

const App = function App(props) {
  return (
    <div className={styles.showcase}>
      {{#each dependencies}}
      <div className={styles.tree}>
        <div className={styles.line}>
          <div className={styles.container}>
            <h1>{{name}}</h1>
            <div className={styles.app}>
              <{{name}} />
            </div>
          </div>
        </div>
        {{#if children}}
        <div className={styles.line}>
          <div className={styles.children}>
          {{> children}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  );
};

export default App;
