.root {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.buttonRow {
  text-align: center;
  margin-bottom: 10px;
}

.callButton {
  width: 33.33%;
  padding: 0 5px 5px 5px;
}

.bigCallButton {
  composes: callButton;
  padding: 1px;
}

.rejectButton {
  background: #ff4646;
  font-size: 20px;
  g, path {
    fill: #ffffff;
  }
}

.answerButton {
  composes: rejectButton;
  background: #4cd964;
}

.forwardContainner{
  display: block;
  width: 60%;
  height: 1px;
  :global .rc-tooltip {
    border: solid 1px #e3e3e3;
    border-radius: 5px;
    opacity: 1;
    width: 79%;
    min-width: 201px;
    background: #fff;
    z-index: 9;
  }
  :global .rc-tooltip-inner {
    padding: 0;
    border: none;
  }
  :global .rc-tooltip-arrow {
    border-top-color: #e3e3e3;
  }
  :global .rc-tooltip-placement-topLeft {
    .rc-tooltip-arrow {
      left: 20.2%;
    }
  }
}

.replyWithMessageContainner {
  display: block;
  width: 60%;
  height: 1px;
  :global .rc-tooltip {
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #e3e3e3;
    border-radius: 0;
    opacity: 1;
    width: 79%;
    min-width: 192px;
    background: #fff;
  }
  :global .rc-tooltip-inner {
    padding: 0;
    border: none;
  }
  :global .rc-tooltip-arrow {
    border-top-color: #e3e3e3;
  }
}