.buttonRow {
  text-align: center;
}

.rejectButton {
  background: #ff4646;
  border: none;
  i {
    color: #ffffff;
  }
}

.answerButton {
  background: #4cd964;
  border: none;
  i {
    color: #ffffff;
  }
}
