@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/layout';

.root {
  @include full-size;
  padding-bottom: 0px;
}

.content {
  @include full-size;
  box-sizing: border-box;
  border-color: $border-color;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.contentWithHeader {
  height: calc(100% - #{$header-height});
}
