@import 'ringcentral-widgets/lib/commonStyles/full-size';
@import 'ringcentral-widgets/lib/commonStyles/colors.scss';

.root {
  @include full-size;
  padding: 0 20px;

  textarea {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin: 0;
    resize: none;
    border: none;
    background: transparent;
    outline: medium none!important;
    box-sizing: border-box!important;

    &::placeholder {
      color: $smoke;
    }
  }
}

.mentionInput {
  font-size: 14px;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.tools {
  height: 35px;
  padding-top: 7px;
  box-sizing: border-box;
}

.emoji {
  cursor: pointer;
  width: 25px;
  height: auto;
}

.emojis {
  width: 300px;
}

.emojisTooltip {
  :global .rc-tooltip {
    border: solid 1px #e3e3e3;
    border-radius: 5px;
    opacity: 1;
    width: 79%;
    min-width: 230px;
    background: #fff;
    z-index: 9;
  }
  :global .rc-tooltip-inner {
    padding: 0;
    border: none;
  }
  :global .rc-tooltip-arrow {
    border-top-color: #e3e3e3;
  }
}

.file {
  cursor: pointer;
  width: 25px;
  margin-left: 15px;
  position: relative;
  top: -1px;

  img {
    width: 23px;
    height: auto;
  }

  input {
    display: none;
  }
}

.submit {
  margin-left: -1000px;
}
