@import 'ringcentral-widgets/lib/commonStyles/full-size';
@import 'ringcentral-widgets/lib/commonStyles/fonts.scss';

.root {
  @include full-size;
  height: 100%;
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.loading {
  @include secondary-font;
  height: 30px;
  line-height: 30px;
  text-align: center;
}