@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/text-ellipsis';

.loggedIcon {
  path:nth-child(1) {
    stroke: $primary-color;
  }
  path:nth-child(2) {
    stroke: $primary-color;
  }
  path:nth-child(3) {
    fill: $primary-color;
    stroke: none;
  }
  path:nth-child(4) {
    stroke: $primary-color;
  }
  path:nth-child(5) {
    stroke: #FEFEFE;
  }
  circle {
    stroke: $primary-color;
  }
}
.unloggedIcon {
  path {
    stroke: $primary-color;
  }
  circle {
    stroke: $primary-color;
  }
}
.logIcon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  height: 26px;
  display: inline-block;

  &.disabled {
    cursor: not-allowed;
    g {
      stroke: $coin;
    }
    path {
      stroke: $coin;
    }
    circle {
      stroke: $coin;
    }
  }
}

.isSaving {
  // color: $ash;
  // pointer-events: none;
  // cursor: not-allowed;
}
