@import '~ringcentral-widgets/lib/commonStyles/colors';
@import '../../../scss/variables.scss';

.item {
  color: $night;
  width: 100%;

  p {
    @include textOverflowEllipsis();
  }
}

.title {
  font-size: 14px;
}

.sub {
  font-size: 10px;
}
