
.call-log-header{
    font-size: 13px;
    font-weight: bold;
    line-height: 38px;
    vertical-align: baseline;
    text-align: center;
    height: 38px;
    border-bottom-color: #efeff4;
    color: #0684bd;
}

.tabs {
    height: 30px;
    clear: both;
    /* for auto center */
    margin: 11px auto 11px auto;
    padding: 0 10px;
}

.tabs .tab {
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: block;
    float: left;
    cursor: pointer;
    -webkit-user-select: none;
    /*width: 54px;*/
    height: 30px;
    padding-top: 7px;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tabs .tab:focus {
    text-decoration: none;
}

.tabs .tab:first-child, .tabs .tab.active:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tabs .tab:last-child, .tabs .tab.active:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid;
}
.tabs .tab:last-child {
    border-right: 1px solid;
}
.tabs .tab.active:last-child {
    border-right: 1px solid;
}

.tabs.tabs2 .tab{ width: 50%; }
.tabs.tabs3 .tab{ width: 33%; }
.tabs.tabs4 .tab{ width: 25%; }


.tabs .tab { background-color: #ffffff; }
.tabs .tab.active { background-color: #1785bb; }

.tabs .tab.active { border-color: #1785bb; }
.tabs .tab { border-color: #c1e0ee; }

.tabs .tab:last-child{ border-right-color: #c1e0ee; }
.tabs .tab.active:last-child { border-right-color: #c1e0ee; }
.tabs .tab:last-child { border-right-color: #c1e0ee; }
.tabs .tab.active:last-child { border-right-color: #1785bb; }

.tabs .tab { color: #1785bb; }
.tabs .tab.active { color: #ffffff; }


.call-log-entry{
    border-bottom:1px solid;
    border-bottom-color: #efeff4;
    padding:10px 3px 0px 3px;
}

.call-log-item-body {
    line-height: 14px;
    margin-left: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px 0 0;
    height:100%;
    font-size:14px;
    cursor: default;
}


.call-log-entry .call-missed,
.call-log-entry .call-inbound,
.call-log-entry .call-outbound {
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 13px;
    margin-top: 5px;
}

.call-log-item-info {
    display: block;
    float: right;
    width: 23px;
    height: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.call-log-item-time
{
    display: block;
    float: right;
    font-size: 11px;
    padding-right: 5px;
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height:35px;
    white-space: nowrap;
    color:#b3b3b3;
}

.call-log-item-contact {
    font-size: 14px;
    line-height: 18px;
}

.call-log-item-text {
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#555;
}

.call-missed{
    background-image: url(images/call-missed.png);
}

.call-inbound{
    background-image: url(images/call-inbound.png);
}

.call-outbound{
    background-image: url(images/call-outbound.png);
}
