@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/fonts.scss';

.root {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: auto;
  height: 26px;

  * {
    box-sizing: content-box;
  }
}

.play {
  float: left;
  width: 18px;
  margin-right: 11px;
  cursor: pointer;
  svg {
    path {
      fill: $primary-color;
    }
    rect {
      fill: $primary-color;
    }
  }
  &.disabled {
    svg {
      path {
        fill: $coin;
      }
      rect {
        fill: $coin;
      }
    }
  }
}

.startTime {
  float: left;
  font-size: 12px;
  line-height: 18px;
}

.endTime {
  composes: startTime;
  float: right;
  margin-right: 10px;
}

.download {
  width: 18px;
  float: right;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  svg {
    path {
      fill: $primary-color;
    }
  }
  &.disabled {
    cursor: not-allowed;
    svg {
      path {
        fill: $coin;
      }
    }
  }
}

.progress {
  display: block;
  width: auto;
  margin-left: 65px;
  margin-right: 65px;
}

.all {
  display: block!important;
  position: relative;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  top: 8px;
}

.done {
  display: block;
  background: $primary-color;
  position: relative;
  width: 10%;
  height: 2px;
  top: 6px;
}

.current {
  display: block;
  position: relative;
  top: 1px;
  left: 10%;
  height: 9px;
  width: 2px;
  background: $primary-color;
}
