@import '../../lib/commonStyles/vertical-align';
@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/no-select';
@import '../../lib/commonStyles/colors';

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.root {
  position: relative;
  width: 100%;
}
.padding {
  padding-top: 100%;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  border-width: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-color: $secondary-color;
  border-style: solid;
  border-top-color: $primary-color;
  animation: spin 0.8s infinite ease-in-out;
}
