@import '../../lib/commonStyles/colors.scss';

.actionMenu {
  display: block!important;
  margin: 5px 20px 15px 36px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  background: $egg;
  border-radius: 100px;
}
