.confirmDeleteModal {
  min-width: 260px;
  height: 133px;

  .contentText {
    margin-top: 5px;
  }
  .cancelBtn {
    width: 70px;
    height: 28px;
    border-radius: 100px;
    border: solid 1px #9bcee5;
  }
  .confirmBtn {
    width: 70px;
    height: 28px;
    border-radius: 100px;
    background-color: #0684bd;
    color: #fff;
    margin-left: 10px;
  }
}
.closeBtn {
  margin-top: 10px;
  margin-right: 11px;
  text-align: right;
}
