@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.root {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 7px;
}

.callInfo {
  display: block;
  position: relative;
  height: 53px;
  width: 100%;
  @include secondary-font;
}

.callIcon {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  width: 40px;
  height: 53px;
  line-height: 53px;
  font-size: 18px;
  text-align: center;
  color: #666;
}

.activeCall {
  color: $active;
}

@keyframes ringing {
  0% {
    text-shadow: 0px 0px 1px $active;
  }
  100% {
    color: #2ce44d;
    text-shadow: 0px 0px 10px #2ce44d;
  }
}

.activeCall.ringing {
  animation-name: ringing;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.details {
  position: absolute;
  left: 46px;
  bottom: 12px;
  font-size: 12px;
  color: #979797;
}

.contactDisplay {
  position: absolute;
  top: 5px;
  left: 45px;
  line-height: 25px;

  button {
    font-size: 13px;
  }

  ul {
    left: 0;
    margin-left: 0;
  }
}

.missed {
  color: $missed;
  button {
    color: $missed;
  }
}

.webphoneButtons {
  position: absolute;
  right: 20px;
  bottom: 11px;
}

.rejectButton {
  width: 26px;
  circle {
    fill: #ff4646;
  }
  g, path {
    fill: #ffffff;
  }
}

.answerButton {
  composes: rejectButton;
  margin-left: 10px;
  circle {
    fill: $call-btn-color;
  }
}

.active {
  color: $active;
  button {
    color: $active;
  }
}

.callDetail {
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: 45px;

  .label {
    margin-right: 5px;
  }

  .split {
    margin: 0 5px;
  }
}

.extendIcon {
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 7px solid #e2e2e2;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  box-sizing: border-box;
  width: 28px;
  height: 0;
  margin-left: -14px;
  cursor: pointer;

  .extendInner {
    position: absolute;
    top: -8px;
    left: -4px;
    border-top: 7px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    width: 26px;
    height: 0;
  }

  .extendInnerIcon {
    position: absolute;
    top: -5px;
    left: 6px;
    width: 6px;
    height: 1px;
    background: #e2e2e2;
  }
}

.actionMenu {
  height: 0;
  transition: height 1s;

  &.extended {
    height: 30px;
  }
}