@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/layout';
@import '../../lib/commonStyles/colors';

.root {
  @include full-size;
  height: calc(100% - #{$header-height});
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}
