name: Release

on:
  push:
    tags:
      - "**.**.**"
permissions:
  id-token: write  # Required for NPM OIDC
  contents: read  # Required for actions/checkout

jobs:
  utils-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/utils release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/utils
  i18n-dayjs-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/i18n-dayjs release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/i18n-dayjs
  react-hooks-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/react-hooks release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/react-hooks
  core-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/core release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/core
  commons-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/commons release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/ringcentral-integration
  widgets-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/widgets release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/ringcentral-widgets
  engage-voice-widgets-npm-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - run: yarn
      - run: yarn workspace @ringcentral-integration/engage-voice-widgets release
        env:
          TRAVIS_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}
      - run: npm publish
        working-directory: release/engage-voice-widgets
