@import '../../../elements/lib/commonStyles/colors.scss';
@import '../../../elements/lib/commonStyles//text-ellipsis.scss';

.wrapper {
  width: 100%;
  height: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  font-size: 14px;
  background-color: $snow;
  border-bottom: 1px solid #e9e9e9;
}
.avatar {
  width: 34px;
  height: 34px;
}
.iconWrapper {
  padding: 0 3px;
  float: right;
}
.username {
  flex: 2;
  padding: 0 12px;
  @include text-ellipsis;
}
.operationBar {
  flex: 4;  
}

.extraInfo {
  flex: 4;
  @include text-ellipsis;
  text-align: right;
}
