@import '../../lib/commonStyles/colors.scss';
@import '../../lib/commonStyles/text-ellipsis.scss';
@import '../../lib/commonStyles/variable.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  @include flex_height($header-height);
  position: relative;

  &.classic {
    .back {
      margin-left: 6px;
      flex-shrink: 0;
    }
    .title {
      font-size: 12px;
    }
  }

  .back {
    z-index: 1;
    margin-left: 10px;
    flex-shrink: 0;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 500;
    overflow: hidden;
    span {
      @include text-ellipsis;
    }
  }
}

.iconRotate {
  cursor: pointer;
  transform: rotate(90deg);
}

.rightIcon {
  flex-shrink: 0;
}
