$blue500: #0684bd;
$blue-600: #0570a1;
$blue-400: #9bcee5;
$blue-300: #cdeefd;
$blue-200: #e6f2f8;
$blue-100: #f5fafc;
$orange500: #ff8800;
$orange-600: #d97400;
$orange-400: #ffcf99;
$nature-500: #000000;
$nature-400: #2f2f2f;
$nature-300: #666666;
$nature-200: #999999;
$nature-100: #c7c7c7;
$nature-50: #e2e2e2;
$nature-20: #f9f9f9;
$nature-10: #ffffff;
$red-500: #f95b5c;
$red-600: #ff3703;
$green-500: #5fb95c;
