@import '../../lib/commonStyles/fonts';

.callAvatar {
  width: 100%;

  &:not(:root) {
    overflow: visible;
  }
}

.disabledPointerEvents {
  pointer-events: none;
}

.autoPointerEvents {
  pointer-events: auto;
}
